#full-clndr {
  background-color: #f9f9f9;
  font-weight: 700;
  border-left: 3px solid #C4C4C4;
}
#full-clndr .clndr-controls .month {
  display: inline-block;
  width: 70%;
  float: left;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
#full-clndr .clndr-controls .clndr-previous-button,
#full-clndr .clndr-controls .clndr-next-button {
  font-size: 3em;
  width: 15%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#full-clndr .clndr-controls .clndr-previous-button {
  float: left;
}
#full-clndr .clndr-controls .clndr-next-button {
  float: left;
}
#full-clndr .clndr-grid {
  clear: both;
  float: left;
  width: 65%;
  border-right: 2px solid white;
  height: 450px;
}
#full-clndr .clndr-grid .days-of-the-week {
  width: 100%;
  background-color: #5AB961;
}
#full-clndr .clndr-grid .days-of-the-week .header-day {
  float: left;
  width: 14.2857%;
  padding: 14px;
  text-align: center;
  color: white;
}
#full-clndr .clndr-grid .days {
  width: 100%;
}
#full-clndr .clndr-grid .days .day,
#full-clndr .clndr-grid .days .empty {
  float: left;
  width: 14.2857%;
  height: 66px;
  padding: 24px 0;
  text-align: center;
  color: #4f4f4f;
  background-color: #f9f9f9;
  border-bottom: 2px solid white;
  background-size: cover;
  background-position: center;
}
#full-clndr .clndr-grid .days .day.event,
#full-clndr .clndr-grid .days .empty.event {
  background-color: #3883a3;
}
#full-clndr .clndr-grid .days .day.event.active-event,
#full-clndr .clndr-grid .days .empty.event.active-event {
  background-color: #70B5D3;
}
#full-clndr .clndr-grid .days .day.event .day-number,
#full-clndr .clndr-grid .days .empty.event .day-number {
  padding-bottom: 4px;
  border-bottom: 2px solid #3883a3;
}
#full-clndr .clndr-grid .days .day.adjacent-month .day-number,
#full-clndr .clndr-grid .days .empty.adjacent-month .day-number {
  opacity: 0.3;
}
#full-clndr .clndr-grid .days .today {
  background-color: white;
  background-image: none;
}
#full-clndr .event-listing {
  float: left;
  width: 35%;
  height: 450px;
  overflow: auto;
}
#full-clndr .event-listing .event-listing-title {
  padding: 14px;
  background-color: #457C49;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
#full-clndr .event-listing .event-item {
  padding: 14px;
  color: #4f4f4f;
}
#full-clndr .event-listing .event-item-location {
  font-weight: 400;
}
#full-clndr * {
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Inconsolata, Monaco, 'Andale Mono', Courier;
  font-size: 18px;
  color: #212121;
}
#full-clndr * h1,
#full-clndr * h2,
#full-clndr * h3,
#full-clndr * h4,
#full-clndr * h5,
#full-clndr * h6 {
  margin-bottom: 1em;
  color: white;
  text-shadow: 1px 1px 1px #212121;
}
#full-clndr p {
  line-height: 1.5em;
  margin-bottom: 1em;
}
#full-clndr p + h3 {
  margin-top: 3em;
}
#full-clndr a {
  text-decoration: none;
  background-color: #f9f9f9;
  color: #3883a3;
  padding: 0 2px;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s, color 0.4s;
  -moz-transition: background-color 0.2s, color 0.4s;
  -ms-transition: background-color 0.2s, color 0.4s;
  -o-transition: background-color 0.2s, color 0.4s;
  transition: background-color 0.2s, color 0.4s;
}
#full-clndr a:hover {
  background-color: #98cede;
  color: #212121;
}
#full-clndr span.code {
  padding: 0 2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
}
#full-clndr .block {
  padding: 80px 0;
  width: 100%;
}
#full-clndr .inner {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}
#full-clndr .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#full-clndr .clearfix {
  display: inline-block;
}
#full-clndr html[xmlns] .clearfix {
  display: block;
}
#full-clndr * html .clearfix {
  height: 1%;
}
#full-clndr strong {
  font-weight: 700;
}
#full-clndr .bg-gray {
  background-color: #414141;
}
#full-clndr .bg-red {
  background-color: #ff5a45;
}
#full-clndr .bg-red a {
  color: #ff5a45;
}
#full-clndr .bg-red a:hover {
  background-color: #ffb4ab;
  color: #212121;
}
#full-clndr .bg-blue {
  background-color: #71bbd2;
}
#full-clndr .bg-green {
  background-color: #97ce7f;
}
#full-clndr .bg-yellow {
  background-color: #ddca9a;
}
#full-clndr .header {
  padding: 30px 0;
}
#full-clndr .clndr-logo {
  margin: 0 auto;
  width: 113px;
  height: 113px;
  background-image: url('clndr-logo.svg');
}
#full-clndr .banner-text {
  text-align: center;
  color: #f4f4f4;
  letter-spacing: 1px;
  font-weight: normal;
  text-shadow: 2px 2px 2px #212121;
}
#full-clndr .banner-text.below {
  margin-top: 30px;
}
#full-clndr .banner-text.below a {
  background-color: transparent;
  color: #97ce7f;
}
#full-clndr .banner-text.below a:hover {
  color: #d3eac9;
}
#full-clndr .more-space {
  margin-top: 3em;
}
@media all and (max-width: 768px) {
  #full-clndr #full-clndr .clndr-grid {
    width: 100%;
    border: none;
  }
  #full-clndr #full-clndr .event-listing {
    display: none;
  }
  #full-clndr h1.banner-text {
    font-size: 28px;
  }
  #full-clndr .banner-text.below {
    font-size: 16px;
    word-wrap: break-word;
  }
  #full-clndr code[class*="language-"],
  #full-clndr pre[class*="language-"] {
    font-size: 14px;
  }
}
