<% layout('layout') -%>

<div class="container">
    <div class="row" style="padding: 5px">
        <h2><%=board.name%><span class="badge" style="margin-left: 10px;"><%= flyers.length %></span></h2>
    </div>
    <div class="row" style="padding: 5px">
        <ul class="thumbnails">
            <% for(i=0;i<flyers.length;i++){%>
            <li class="span3">
                <a class="thumbnail" href="/flyer/<%=flyers[i]._id%>">
                    <h4 class="caption"><%=flyers[i].text%></h4>
                </a>
            </li>
            <%}%>
        </ul>

        </div>
</div>