<% layout('layout') %>

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Boarder</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.css' rel='stylesheet' />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
<<<<<<< HEAD
    <script src="/bootstrap/tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="/bootstrap/tagsinput/bootstrap-tagsinput-angular.js/"></script>
    <link rel="stylesheet" href="/bootstrap/tagsinput/bootstrap-tagsinput.css">
=======
    <script src="/script/leaflet-knn.js"></script>
>>>>>>> 7de29c72c4c227497fa5969ac4078d7aa2629c87
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">

    <style>
        #mapcontainer{
            height: 500px;
        }
        #map{
            height: 500px;
        }

    </style>
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5">
            <form class="form-horizontal" action="/board/new" method="post">
                <fieldset>
                    <div class="control-group">
                        <div class="control-label"> Board Name:</div>
                        <div class="controls ">
                            <div class="input-prepend input-append">

                                <input type="text" name='name' placeholder="Enter your new board name here">
                            </div>
                            <label class="help-inline"></label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label"> Category:</div>
                        <div class="controls ">
                            <div class="input-prepend input-append">
                                <select class="categories">

                                </select>
                            </div>
                            <label class="help-inline"></label>
                        </div>
                    </div>
                    <div class="control-group">

                        <div class="control-label"> Latitude:</div>
                        <div class="controls ">

                            <div class="input-prepend input-append">
                                <input type="text" id="lat" name='lat' placeholder="">
                            </div>
                            <label class="help-inline"></label>
                        </div>
                    </div>
                    <div class="control-group">

                        <div class="control-label"> Longitude:</div>
                        <div class="controls ">
                            <div class="input-prepend input-append">
                                <input type="text" id="lng" name='lng' placeholder="">
                            </div>
                            <label class="help-inline"></label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label"> Tags:</div>
                        <div class="controls ">
                            <input type="text" data-role="tagsinput" />

                            <label class="help-inline"></label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label"> Privacy:</div>
                        <div class="controls">
                            <div class="btn-group" data-toggle="buttons-radio">
                                <input type="hidden" id="privacy" name="privacy" value="" />

                                <button type="button" class="btn active">Public</button>
                                <button type="button" class="btn ">Private</button>
                            </div>
                        </div>

                    </div>

                    <div class="control-group">
                        <div class="controls">

                            <button id="createBoard" type="submit" class="btn btn-primary input-large" data-loading-text="Saving board...">
                                Create Board
                            </button>
                        </div>
                    </div>


                </fieldset>
            </form>
        </div>
        <div class="span5 offset1" id="mapcontainer">
            <div id="map"></div>
        </div>
    </div>
</div>


<script src='/script/newboard.js'>

</script>

</body>
</html>
