<% layout('layout') -%>

<div class="container">
    <div class="row" style="background-color: #f8b9b7;padding: 5px">
        <h1>Board ID:<%=board._id%></h1>
    </div>
    <div class="row" style="background-color: #f8b9b7;padding: 5px">
        <b><%=board.name%></b>
    </div>
    <div class="row" style="background-color: #f8b9b7;padding: 5px">
        Flyer(s) on this board:
        <ul>
        <% for(i=0;i<flyers.length;i++){%>
        <li><a href="/flyer/<%=flyers[i].flyer%>"><%=flyers[i].flyer%></a></li>
        <%}%>
        </ul>
        </div>
</div>