<% layout('layout') %>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB9JJKEbOztuSVauWEU58UeQJWtuzip2eU&sensor=false"></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markermanager/src/markermanager.js"></script>
<script>
    var map;
//    var marker = new MarkerManager(map);

</script>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5">
            <div id="message-error" class="alert alert-error hide">
                <button class="close" data-dismiss="alert">&times;</button>
                <span class="msg"></span>
            </div>

            <form class="form-horizontal"  method="post">
                <fieldset>
                    <legend>Enter new board specification:</legend>
                    <div class="control-group">
                        <div class="control-label"> Board Name:</div>
                        <div class="controls">
                            <div class="">

                                <input type="text" name='name' placeholder="Enter your new board name here">
                            </div>
                            <!--<label class="help-inline"></label>-->
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label"> Category:</div>
                        <div class="controls ">
                            <div class="">
                                <select name="category" class="categories">

                                </select>
                            </div>
                            <!--<label class="help-inline"></label>-->
                        </div>
                    </div>
                    <div class="control-group hide">

                        <div class="control-label"> Latitude:</div>
                        <div class="controls ">

                            <div class="">
                                <input type="text" id="lat" name='lat' placeholder="">
                            </div>
                            <!--<label class="help-inline"></label>-->
                        </div>
                    </div>
                    <div class="control-group hide" >

                        <div class="control-label"> Longitude:</div>
                        <div class="controls ">
                            <div class="">
                                <input type="text" id="lng" name='lng' placeholder="">
                            </div>
                            <!--<label class="help-inline"></label>-->
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label"> Tags:</div>
                        <div class="controls ">
                            <input class="htags" name='tags' type="hidden" />
                            <input class="tags"  type="text" data-role="tagsinput" />

                            <!--<label class="help-inline"></label>-->
                        </div>
                    </div>
                    <div class="control-group hide">
                        <div class="control-label"> Privacy:</div>
                        <div class="controls">
                            <div class="btn-group" data-toggle="buttons-radio">
                                <input type="hidden" id="privacy" name="privacy" value="public" />

                                <button type="button" class="btn active">Public</button>
                                <button type="button" class="btn ">Private</button>
                            </div>
                        </div>

                    </div>

                    <button id="createBoard" type="submit" class="btn btn-primary btn-block" data-loading-text="Saving board...">
                        Create Board
                    </button>

                    <div class="control-group">
                        <div class="controls">


                        </div>
                    </div>


                </fieldset>
            </form>
        </div>
        <div class="span7" id="mapcontainer">
            <div id="msgLocationError" class="alert alert-error hide">
                <button class="close" data-dismiss="alert">&times;</button>
                <span class="msg"></span>
            </div>
            <button id="locate" class="btn btn-block btn-warning" >Find my location</button>
            <!--<div id="map" ></div>-->
            <div id="map-canvas" style="width:758px;height:400px;"></div>
        </div>
    </div>
</div>


<script src='/script/newboard.js'>
</script>

