<% layout('layout.ejs') %>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<link rel='stylesheet' href='/css/dashboard.css'>
<link rel='stylesheet/less' href='/css/dashboard-applications.less'>
<link rel='stylesheet' href='/css/job.css'>
<link rel='stylesheet' href='/css/widget/profile.css'>
<link rel='stylesheet' href='/css/addWidgetToolbar.css'>
​
<!--<link rel='stylesheet' href='/clndr/clndr.css'>-->
<link rel='stylesheet/less' href='/clndr/clndr.less'>

<script src="/clndr/less.js" type="text/javascript"></script>
<script src="/script/underscore.js" type="text/javascript"></script>

<script src="/clndr/clndr.js" type="text/javascript"></script>
<script src="/backbone/backbone-min.js"></script>

<script src="/script/UsersCombo.js"></script>
<script src="/script/jquery-commentbox.js"></script>

<script src="/script/dashboard/models.js"></script>
<script src="/script/dashboard/views.js"></script>
<script src="/script/dashboard/notificationCenter.js"></script>
<script src="/script/dashboard/dashboard.js"></script>

<script src="/script/flexTextarea.js"></script>

<link rel="stylesheet" href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
<script src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.pie.js"></script>


<div id="wrap">

<div class="container-fluid">

<div class="row-fluid" style="background: #f1f1f1">

<div class="span2">
    <div class="menu">
        <div class="menu-header">
            <div id="switchTeamView">
                <div id="currentTeamName">Current Team</div>
                <button id="switchButton" class="btn btn-mini">
                    <i class="fa fa-random fa-lg"></i>
                    Change Team
                </button>
            </div>


            <div id="switchTeamEdit" hidden>
                <select id="userTeams" style="width: 100%;"></select>
                <a id="changeUserTeam" class="btn btn-mini btn-success">OK</a>
                <a id="cancelChangeUserTeam" class="btn btn-mini btn-danger">Cancel</a>
            </div>
        </div>

        <div id="dashboardNavigator">

            <input type="radio" id="radio-item-overview" hidden name="menuItems" checked>
            <label class="item" for="radio-item-overview" onclick="window.location='#overviewp'">Overview</label>

            <input type="radio" id="radio-item-team" hidden name="menuItems">
            <label class="item" for="radio-item-team" onclick="window.location='#teamp'">Team</label>

            <input type="radio" id="radio-item-jobs" hidden name="menuItems">
            <label class="item" for="radio-item-jobs" onclick="window.location='#jobsp'">Jobs</label>

            <input type="radio" id="radio-item-applications" hidden name="menuItems">
            <label class="item" for="radio-item-applications" onclick="window.location='#applicationsp'">Applications</label>

            <input type="radio" id="radio-item-billing" hidden name="menuItems">
            <label class="item" for="radio-item-billing" onclick="window.location='#billingp'" hidden>Billing</label>

        </div>

    </div>
</div>

<div class="span10 right-panel">

<div id="overviewp" class="container-fluid sectionContainer">
    <div class="row-fluid statisticsRow">
        <div class="span3 statBox">
            <a onclick="window.location='#jobsp'">
                <div class="text">Jobs</div>
                <div class="number" id="statValue1"></div>
            </a>
        </div>

        <div class="span3 statBox">
            <a onclick="window.location='#jobsp'">
                <div class="text">Open Jobs</div>
                <div class="number" id="statValue2"></div>
            </a>
        </div>

        <div class="span3 statBox">
            <a onclick="window.location='#applicationsp'">
                <div class="text">Applications</div>
                <div class="number" id="statValue3"></div>
            </a>
        </div>

        <div class="span3 statBox">
            <a onclick="window.location='#teamp'">
                <div class="text">Team Members</div>
                <div class="number" id="statValue4"></div>
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">

            <div id="full-clndr" class="clearfix" hidden>
                <script type="text/template" id="full-clndr-template">
                    <div class="clndr-controls">
                        <div class="clndr-previous-button">&lsaquo;</div>
                        <div class="month">{{ year }} - {{ month }}</div>
                        <div class="clndr-next-button">&rsaquo;</div>
                    </div>
                    <div class="clndr-grid">
                        <div class="days-of-the-week clearfix">
                            {% _.each(daysOfTheWeek, function(day) { %}
                            <div class="header-day">{{ day }}</div>
                            {% }); %}
                        </div>
                        <div class="days clearfix">
                            {% _.each(days, function(day) { %}
                            <div class="{{ day.classes }}" date="{{ day.date }}" id="{{ day.id }}">
                                <span class="day-number">{{ day.day }}</span></div>
                            {% }); %}
                        </div>
                    </div>
                    <div class="event-listing">
                        <div class="event-listing-title">EVENTS THIS MONTH</div>
                        {% _.each(eventsThisMonth, function(event) { %}
                        <div class="event-item" onmouseover="mouseEnterEvent('{{ event.date }}')" onmouseout="mouseLeaveEvent('{{ event.date }}')">
                            <div class="event-item-name">{{ event.title }}</div>
                            <div class="event-item-location">{{ event.location }}</div>
                        </div>
                        {% }); %}
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>

<div id="teamp" class="container-fluid sectionContainer">
    <div class="row-fluid">
        <div class="span2" style="margin-bottom: 1em">
            <a href="#team-settings-dialog" role="button" class="btn btn-warning" data-toggle="modal" hidden>
                <i class="icon-cog "></i>
                Team Settings
            </a>
        </div>
        <div class="span1" style="margin-bottom: 1em">
            <a href="#team-invitation-dialog" role="button" class="btn btn-success" data-toggle="modal" hidden>
                <i class="bool-icon bool-icon-email"></i>
                Invite
            </a>
        </div>
    </div>

    <div class="row-fluid teamHeader">
        <div class="span6 ">
            <i class="fa fa-home fa-2x"></i>
            <span class="teamAddress" style="font-size: 1.5em;line-height: 2em;"></span>
        </div>
        <div class="span3 ">
            <i class="fa fa-phone fa-2x"></i>
            <span class="teamPhone" style="font-size: 1.5em;line-height: 2em;"></span>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div id="teamMembers"></div>
        </div>
    </div>
</div>

<div id="jobsp" class="container-fluid sectionContainer">

    <div class="row-fluid">
        <div class="span12">
            <div class="careerPageAddress">
                All the published jobs are available on your Career page.
                <a id="teamJobsPage" target="_blank">Edit</a> |
                <a id="teamJobsPagePublic" target="_blank">View</a>

            </div>
        </div>
    </div>

    <div class="row-fluid positionsHeaderRow">
        <div class="span5 colTitle">Name</div>
        <div class="span2 colStatus">Status</div>
        <div class="span3 colAssignedTo">Responder</div>
        <div class="span1 colOperations"></div>
        <div class="span1 colPromote"></div>
    </div>

</div>

<div id="applicationsp" class="container-fluid sectionContainer">
<div class="row-fluid tableRow">
    <div class="offset1 span5">
        <div>
            <input class="application-searchBox" placeholder="Search through applicants ...">

            <div>
                <a onclick="alert('برو دم خونه خونتون بازی کن. هر نوشته آبی که نباید روش کلیک کنی. شاید توش بمب بود.')">Advanced Option</a>
            </div>
        </div>
    </div>
    <div class="span2">
        <button class="application-searchButton">
            Search
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="span2">
        <a class="btn btn-mini pull-right" id="candidatesGridButton"><i class="fa fa-th-large"></i></a>
        <a class="btn btn-mini pull-right" id="candidatesListButton"><i class="fa fa-bars"></i></a>
    </div>
    <div class="span2">
        <div class="dropdown application-sort">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                Sort by <span class="application-sortType">Date</span><i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li role="presentation">
                    <a class="sortByDate" role="menuitem" tabindex="-1">
                        <i class="fa fa-calendar"></i>Date
                    </a>
                </li>
                <li role="presentation">
                    <a class="sortByName" role="menuitem" tabindex="-1">
                        <i class="fa fa-sort-alpha-asc"></i>Name
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row-fluid tableRow">
    <div class="span12">
        <div id="applications-filters">
            Job:
            <select class="applications-filter-job"></select>

            | Stage:
            <input type="radio" id="application-filter-all" name="application-filter" hidden checked>
            <label for="application-filter-all">All</label>

            <input type="radio" id="application-filter-pending" name="application-filter" filter-class="candidate-filter-pending" hidden>
            <label for="application-filter-pending">Pending</label>

            <input type="radio" id="application-filter-interviewing" name="application-filter" filter-class="candidate-filter-interviewing" hidden>
            <label for="application-filter-interviewing">Interviewing</label>

            <input type="radio" id="application-filter-offering" name="application-filter" filter-class="candidate-filter-offering" hidden>
            <label for="application-filter-offering">Offering</label>

            <input type="radio" id="application-filter-archived" name="application-filter" filter-class="candidate-filter-archived" hidden>
            <label for="application-filter-archived">Archived</label>
        </div>
    </div>
</div>

<div class="row-fluid tableRow">
<div class="span12">
<div style="clear: both"></div>
<div id="candidatesCollection" class="grid-layout">
<div id="candidateInstance" hidden>
<div class="candidate-summary">
    <div class="visitedState">
        <div class="visitedStateLabel">
            <span class="visitedText">Visited</span>
            <span class="unvisitedText">NEW</span>
        </div>
        <span class="markAsVisited">Mark as Visited</span>
        <span class="markAsUnvisited">Mark as Unvisited</span>
    </div>
    <div class="bool-toggle-application">
        <i class="fa fa-expand fa-2x"></i>
        <i class="fa fa-compress fa-2x"></i>
    </div>
    <div class="candidate-avatar">
        <div class="candidate-avatar-empty bool-image"></div>
    </div>
    <div class="candidate-basicInfo">
        <div class="candidate-name">
            <span class="value">Jon Doe</span>
            <span class="bool-edit-switch" edit-switch-of="candidate-name">
                <a op="edit"><i class="fa fa-edit"></i> </a>
                <a op="yes"><i class="fa fa-check"></i></a>
                <a op="no"> <i class="fa fa-times"></i></a>
             </span>
        </div>
        <div class="candidate-job">
            <strong>Applied for</strong>
            <span class="value">Front-End Web Developer</span>
        </div>
        <div class="candidate-time">
            Applied at
            <span class="value"></span>
        </div>
    </div>
    <div class="candidate-conditions">
        <strong>Conditions:</strong>
        <span class="candidate-conditions-time">
            <span class="value">FullTime</span>
        </span>
        <span class="candidate-conditions-place">
            @<span class="value">Home</span>
        </span>
    </div>
    <div class="candidate-skills">
        <strong>Skills:</strong>
        <span class="value">CSS, jQuery, Nodejs</span>
    </div>
    <div class="candidate-stage">
        <strong>Stage:</strong>
        <span class="value">Waiting for Planing an Interview</span>
    </div>
</div>
<div class="candidate-details">
<div class="candidate-leftColumn">
    <div class="mbox-container">
        <div class="mbox-title">
            <i class="fa fa-question-circle"></i> Professional Info.
        </div>
        <div class="mbox" style="height: 130px">
            <div class="candidate-conditions candidate-conditions-time">
                <strong>WorkTime:</strong>
                <select style="display: none">
                    <option val="fulltime">fulltime</option>
                    <option val="parttime">parttime</option>
                </select>
                <span class="value">Part-Time</span>
                <span class="bool-edit-switch" edit-switch-of="candidate-conditions-time" fixValues="true">
                    <a op="edit"><i class="fa fa-edit"></i> </a>
                    <a op="yes"><i class="fa fa-check"></i></a>
                    <a op="no"> <i class="fa fa-times"></i></a>
                </span>
            </div>
            <div class="candidate-conditions candidate-conditions-place">
                <strong>WorkPlace:</strong>
                <select style="display: none">
                    <option val="home">home</option>
                    <option val="office">office</option>
                </select>
                <span class="value">@Home</span>
                <span class="bool-edit-switch" edit-switch-of="candidate-conditions-place" fixValues="true">
                    <a op="edit"><i class="fa fa-edit"></i> </a>
                    <a op="yes"><i class="fa fa-check"></i></a>
                    <a op="no"> <i class="fa fa-times"></i></a>
                </span>
            </div>

            <div class="candidate-skills">
                <strong>Skills:</strong>
                <span class="value">CSS, jQuery, Nodejs</span>
                <span class="bool-edit-switch" edit-switch-of="candidate-skills">
                    <a op="edit"><i class="fa fa-edit"></i> </a>
                    <a op="yes"><i class="fa fa-check"></i></a>
                    <a op="no"> <i class="fa fa-times"></i></a>
                </span>
            </div>
            <div class="candidate-resume">
                <strong>Resume:</strong>
                <a class="btn btn-mini btn-warning candidate-resume-view-button" target="_blank">View</a>
                <a class="btn btn-mini btn-primary candidate-resume-download-button" target="_blank">Download</a>
                <a class="btn btn-mini btn-primary candidate-resume-upload-button">Upload</a>
                <input type="file" class="candidate-file" hidden="hidden">
            </div>
        </div>
    </div>
</div>
<div class="candidate-rightColumn">
    <div class="mbox-container">
        <div class="mbox-title">
            <i class="fa fa-envelope-square"></i> Contact Info.
        </div>
        <div class="mbox" style="height: 130px">
            <div class="candidate-email">
                <strong>Email:</strong>
                <a class="value"></a>

                <span class="bool-edit-switch" edit-switch-of="candidate-email">
                    <a op="edit"><i class="fa fa-edit"></i> </a>
                    <a op="yes"><i class="fa fa-check"></i></a>
                    <a op="no"> <i class="fa fa-times"></i></a>
                </span>

            </div>
            <div class="candidate-tel">
                <strong>Tel:</strong>
                <span class="value"></span>

                <span class="bool-edit-switch" edit-switch-of="candidate-tel">
                    <a op="edit"><i class="fa fa-edit"></i> </a>
                    <a op="yes"><i class="fa fa-check"></i></a>
                    <a op="no"> <i class="fa fa-times"></i></a>
                </span>
            </div>
            <div class="candidate-website">
                <strong>Website:</strong>
                <a class="value"></a>

                <span class="bool-edit-switch" edit-switch-of="candidate-website">
                    <a op="edit"><i class="fa fa-edit"></i> </a>
                    <a op="yes"><i class="fa fa-check"></i></a>
                    <a op="no"> <i class="fa fa-times"></i></a>
                </span>
            </div>
            <div class="candidate-profiles">
                <strong>Social Networks:</strong>
                <a class="profile behance-profile" href="http://www.behance.com" hidden>
                    <i class="fa fa-behance fa-1x"></i>
                </a>
                <a class="profile dribbble-profile" href="http://www.dribbble.com" hidden>
                    <i class="fa fa-dribbble fa-1x"></i>
                </a>
                <a class="profile twitter-profile" href="http://www.twitter.com" hidden>
                    <i class="fa fa-twitter fa-1x"></i>
                </a>
                <a class="profile github-profile" href="http://www.github.com" hidden>
                    <i class="fa fa-github fa-1x"></i>
                </a>
                <a class="profile linkedin-profile" href="http://www.linkedin.com" hidden>
                    <i class="fa fa-linkedin fa-1x"></i>
                </a>
                <a class="profile stackoverflow-profile" href="http://www.stackoverflow.com" hidden>
                    <i class="fa fa-stackiverflow fa-1x"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="candidate-leftColumn">
    <div class="mbox-container">
        <div class="mbox-title">
            <i class="fa fa-file"></i> Cover Letter
        </div>
        <div class="mbox" style="height: 150px">
            <div class="candidate-coverLetter"></div>
        </div>
    </div>
</div>

<div class="candidate-rightColumn">
    <div class="mbox-container">
        <div class="mbox-title">
            <i class="fa fa-file"></i> Note
        </div>
        <div class="mbox" style="height: 150px">
            <div class="candidate-note">
                <div class="value" style="float: left;width: 90%;height: 100%;padding: 10px;font-size: 1.5em;"></div>
            <span class="bool-edit-switch" edit-switch-of="candidate-note" style="float: left;width: 10%;text-align: center;font-size: 2em;padding: 10px;">
                <a op="edit"><i class="fa fa-edit"></i> </a>
                <a op="yes"><i class="fa fa-check"></i></a>
                <a op="no"> <i class="fa fa-times"></i></a>
         </span>
            </div>
        </div>
    </div>
</div>

<div class="candidate-leftColumn">
    <div class="mbox-container">
        <div class="mbox-title"><i class="fa fa-history"></i> Activities</div>
        <div class="mbox bool-application-activities">
            <div class="candidate-activities"></div>
        </div>
    </div>
</div>

<div class="candidate-rightColumn workflowGroup" >
    <div class="mbox-container">
        <div class="mbox-title">
            <i class="fa fa-retweet"></i> Workflow
        </div>

        <div class="mbox">
            <div class="candidate-workflow">
                <div class="candidate-workflow-stages">

                    <div class="candidate-workflow-stage pending">
                        <div class="candidate-workflow-substage" sub-stage="1">
                            <div>Application is in <strong>Pending</strong> stage. You can:</div>
                            <a class="archiveButton">Archive it</a>
                            <a class="interviewButton">Make an interview</a>
                            <a class="offerButton">Offer a job</a>
                        </div>
                    </div>

                    <div class="candidate-workflow-stage interviewing">

                        <div class="candidate-workflow-substage" sub-stage="1">
                            <div>Application is in <strong>Interviewing</strong> stage.</div>
                            You planned an interview on <strong><span class="interviewDate">Date-Time</span></strong>.
                            We're waiting for applicant's response. Although you can:
                            <a class="archiveButton">Archive it</a>
                            <a class="interviewButton">Reschedule an interview</a>
                            <a class="offerButton">Offer a job</a>
                        </div>

                        <div class="candidate-workflow-substage" sub-stage="2">
                            <div>Application is in <strong>Interviewing</strong> stage.</div>
                            Applicant can't come on <span class="interviewDate">Date-Time</span>. You can:
                            <a class="archiveButton">Archive it</a>
                            <a class="interviewButton">Reschedule an interview</a>
                        </div>

                        <div class="candidate-workflow-substage" sub-stage="3">
                            <div>Application is in <strong>Interviewing</strong> stage.</div>
                            Interview will be hold on <span class="interviewDate">Date-Time</span>.
                            <a class="archiveButton">Archive it</a>
                            <a class="interviewButton">Reschedule an interview</a>
                        </div>

                        <div class="candidate-workflow-substage" sub-stage="4">
                            <div>Application is in <strong>Interviewing</strong> stage.</div>
                            Interview is hold on <span class="interviewDate">Date-Time</span>.
                            <a class="archiveButton">Archive it</a>
                            <a class="interviewButton">Make an other interview</a>
                            <a class="offerButton">Offer a job</a>
                        </div>
                    </div>

                    <div class="candidate-workflow-stage offering">
                        <div class="candidate-workflow-substage" sub-stage="1">
                            <div>Application is in <strong>Offered</strong> stage.</div>
                            We're waiting for applicant's response.
                            Although you can:
                            <a class="archiveButton">Archive it</a>
                            <a class="interviewButton">Make an other interview</a>
                        </div>
                        <div class="candidate-workflow-substage" sub-stage="2">
                            <div>Application is in <strong>Offered</strong> stage.</div>
                            This is applicant response: <span>Accepted</span>
                            You can:
                            <a class="archiveButton">Archive it</a>
                            <a class="archiveButton">Archive it and notify somebody about this response</a>
                        </div>
                        <div class="candidate-workflow-substage" sub-stage="3">
                            <div>Application is in <strong>Offered</strong> stage.</div>
                            This is applicant response: <span>Declined</span>
                            You can:
                            <a class="archiveButton">Archive it</a>
                            <a class="archiveButton">Archive it and notify somebody about this response</a>
                        </div>
                    </div>

                    <div class="candidate-workflow-stage archived">
                        <div class="candidate-workflow-substage" sub-stage="1">
                            <div>Application is in <strong>Archived</strong> stage. You can:</div>
                            <a class="interviewButton">Make an interview</a>
                            <a class="offerButton">Offer a job</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>

<style>
    #billingHistory {
        font-size: 2em
    }

    #billingsList {
        font-size: 0.8em;
    }

    #billingsList div {
        padding: 0.5em 0;
        border-top: 1px solid rgb(209, 222, 238);
        background-color: #fff;
    }

    #billingsList div span {
        margin: 1em;
    }

    #paypalPay {
        margin: 2em 0;
        background-color: #FFF;
        padding: 1em;
        font-size: 2em;
        border: 1px solid rgb(213, 213, 213);
        border-radius: 4px;
    }

    #paymentAmount {
        margin: 0;
    }

    #billing_balance {
        display: inline-block;
        font-size: 1.5em;
        color: rgb(213, 82, 82);
        font-weight: 700;
    }
</style>

<div id="billingp" class="container-fluid sectionContainer">
    <div class="row-fluid">
        <div id="billing-plan" style="font-size: 2em;">
            Your current plan is <span id="billing_plan">...</span>.
            <button class="btn btn-primary pull-right" id="premiumPlanButton">Go to Premium Plan (1$/mo)</button>
            <button class="btn btn-primary pull-right" id="freePlanButton">Go to Free Plan</button>
            <br/><br/>

            Balance:
            <div id="billing_balance">
                <span>0.00</span>$
            </div>
        </div>

        <div id="paypalPay">
            <img class="pull-right" src="images/paypal.png">
            <p>Make a one time PayPal payment:</p>
            <select id="paymentAmount">
                <option name="10">10.00 $</option>
                <option name="20">20.00 $</option>
                <option name="30">30.00 $</option>
                <option name="50">50.00 $</option>
            </select>
            <button class="btn btn-success" id="payButton">Pay</button>
        </div>

        <div id="billingHistory">
            Billing History:
            <div id="billingsList">
            </div>
        </div>

    </div>
</div>

</div>

</div>

</div>
</div>

<form id='teamSettingForm' class="form-horizontal no-border-box" method="post">
    <div id="team-settings-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="teamSetLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Team Settings Dialog</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="teamAdminList">Team Admin</label>

                <div class="controls team-admin-combo">

                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="teamNameInput">Team Name</label>
                <div class="controls">
                    <input type="text"
                           placeholder="My Team Name"
                           name="teamName">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="teamAddress">Team address</label>
                <div class="controls">
                    <textarea
                            placeholder="eg. 32, Mountain View, California"
                            name="teamAddress"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="teamTel">Tel</label>
                <div class="controls">
                    <input type="text"
                           placeholder="eg 88-55-32-3"
                           name="teamTel">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-primary"
                    data-loading-text="Saving...">Save changes
            </button>
        </div>
    </div>
    <div class="bool-alert-group">
        <div class="alert alert-dismissable alert-info bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <strong>Updating </strong> Team settings...
        </div>
        <div class="alert alert-dismissable alert-danger bool-alert-toast hide">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Faield </strong> to update team settings. Retrying in
            <span class="bool-retry-timeout">10</span>s...
            <button type="submit" class="btn btn-info" data-loading-text="Updating ...">Try now</button>
        </div>
        <div class="alert alert-dismissable alert-success bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            Team settings has been updated
            <strong>successfully.</strong>
        </div>
    </div>
</form>

<div id="applicationPreview">
</div>

<form class="form-horizontal ask-for-comment-form">
    <div id="a4c-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="invitationSetLabel">Ask others for comment</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" name="appID">
            <div style="text-align: center;padding: 1em;">
                <div class="control-group">
                    <label class="control-label" style="width: auto">User</label>
                    <div class="controls" style="margin: 0;text-align: left">
                        <div class="bool-ask-4-comment-users">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" style="width: auto">Note</label>
                    <div class="controls" style="margin: 0;text-align: left">
                        <textarea name="note"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Ask For Comment</button>
        </div>
    </div>
    <div class="bool-alert-group">
        <div class="alert alert-dismissable alert-info bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <strong>Sending </strong> ask for comment...
        </div>
        <div class="alert alert-dismissable alert-danger bool-alert-toast hide">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Faield </strong> to send ask for commnet. Retrying in
            <span class="bool-retry-timeout">10</span>s...
            <button type="submit" class="btn btn-info pull-right" data-loading-text="Sending ...">Try now</button>
        </div>
        <div class="alert alert-dismissable alert-success bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            Ask for comment has been sent
            <strong>successfully.</strong>
        </div>
    </div>
</form>

<div id="job-setting-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="invitationSetLabel">Job Settings</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12 form-horizontal no-border-box">
                    <div class="control-group">
                        <label class="control-label" for="invitationEmail">Title</label>
                        <div class="controls">
                            <input type="text" id="jobTitle" style="cursor: text">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="invitationEmail">Apply-By-Email address</label>
                        <div class="controls">
                            <input type="text" id="jobApplyByEmail-address" readonly style="cursor: text">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="invitationEmail">Public Link</label>
                        <div class="controls">
                            <input type="URL" class="publicLink" readonly style="cursor: text">
                            <a class="publicLinkOpener bool-toolbar-btn" target="_blank">Open</a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="invitationNote">Responder</label>
                        <div class="controls">
                            <div id="jobResponderList"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="invitationEmail">State</label>
                        <div class="controls">
                            <div style="font-size: 1.5em;line-height: 2em;">
                             <span class="jobStatus-current">-</span> now |
                             <span class="jobStatus-next"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left deleteJobButton">Delete Job</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary saveButton" data-loading-text="Sending...">Save</button>
    </div>
</div>

<div id="job-offer-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="invitationSetLabel">Offer a job</h3>
    </div>
    <div class="modal-body form-horizontal no-border-box">
        <div class="control-group">
            <label class="control-label" for="invitationEmail">Email</label>
            <div class="controls">
                <input type="text" class="emailAddress" placeholder="Enter email address to invite" name="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationNote">Note</label>
            <div class="controls">
                <textarea class="offerMessage" rows="5" placeholder="Enter message here" name="note"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary sendButton" data-loading-text="Sending...">Send Offer</button>
    </div>
</div>

<div id="interview-invitation-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="invitationSetLabel">Interview invitation</h3>
    </div>
    <div class="modal-body form-horizontal no-border-box">
        <div class="control-group">
            <label class="control-label" for="invitationEmail">Date of interview</label>
            <div class="controls">
                <div id="interviewDateTime" class="input-append date form_datetime">
                    <input size="16" type="text" value="" readonly>
                    <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                <script type="text/javascript">
                    $(".form_datetime").datetimepicker({
                        format: "dd MM yyyy HH:ii P",
                        showMeridian: true,
                        autoclose: true,
                        todayBtn: true
                    });
                </script>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationEmail">Location</label>
            <div class="controls">
                <input type="text" class="interviewLocation">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationEmail">Email</label>
            <div class="controls">
                <input type="text" class="emailAddress" placeholder="Enter email address to invite" name="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationNote">Note</label>
            <div class="controls">
                <textarea class="invitationMessage" rows="5" placeholder="Enter message here" name="note"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary sendButton" data-loading-text="Sending...">Send Invitation</button>
    </div>
</div>

<form id='teamInvitationForm' class="form-horizontal no-border-box" method="post">
    <div id="team-invitation-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="invitationSetLabel">Invite to team</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="invitationEmail">Email</label>
                <div class="controls">
                    <input type="text" id="invitationEmail"
                           placeholder="Enter email address to invite"
                           name="email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="invitationNote">Note</label>
                <div class="controls">
                    <textarea
                            rows="4"
                            id="invitationNote"
                            placeholder="Leave a note for invited person"
                            name="note"></textarea>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-primary"

                    data-loading-text="Sending...">Send Invitation
            </button>
        </div>
    </div>
    <div class="bool-alert-group">
        <div class="alert alert-dismissable alert-info bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <strong>Sending </strong> Team invitation...
        </div>
        <div class="alert alert-dismissable alert-danger bool-alert-toast hide">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Faield </strong> to send invitation. Retrying in
            <span class="bool-retry-timeout">10</span>s...
            <button type="submit" class="btn btn-info" data-loading-text="Sending ...">Try now</button>
        </div>
        <div class="alert alert-dismissable alert-success bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            Team invitation has been sent
            <strong>successfully.</strong>
        </div>
    </div>
</form>

<div id="application-preview-dialog" class="overlay overlay-scale">
    <button class="btn btn-danger btn-mini bool-close-btn pull-right"
            style="margin:4px;position: absolute;right: 3px;z-index: 1031;padding: 0 6px">&times;</button>

    <div class="application-preview-container grid-layout">
    </div>

    <div class="bool-application-comments"></div>
</div>


<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
            _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?2DhJXzeDVBOrVHaI4EkpYlz8684Gc4Dv';z.t=+new Date;$.
                type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
