<% layout('layout.ejs') %>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://almende.github.io/chap-links-library/js/timeline/timeline.js"></script>
<link rel="stylesheet" type="text/css" href="http://almende.github.io/chap-links-library/js/timeline/timeline.css">


<script src="/script/jquery.watable.js" type="text/javascript" charset="utf-8"></script>
<link rel='stylesheet' href='/css/watable.css'/>
<link rel='stylesheet' href='/css/dashboard.css'>
<link rel='stylesheet/less' href='/css/dashboard-applications.less'>
<link rel='stylesheet' href='/css/job.css'>
​
<!--<link rel='stylesheet' href='/clndr/clndr.css'>-->
<link rel='stylesheet/less' href='/clndr/clndr.less'>

<script src="/clndr/less.js" type="text/javascript"></script>
<script src="http://kylestetz.github.io/CLNDR/js/underscore.js" type="text/javascript"></script>
<script src="/clndr/moment.js" type="text/javascript"></script>
<script src="/clndr/clndr.js" type="text/javascript"></script>
<script src="/script/dashboard.js"></script>

<div id="wrap">
<div class="container-fluid">
<div class="row-fluid" style="background: #f1f1f1">
<div class="span2">
    <div class="menu">
        <div class="menu-header">
            <div id="switchTeamView">
                <div id="currentTeamName">Current Team</div>
                <button id="switchButton" class="btn btn-mini">Switch</button>
            </div>

            <div id="switchTeamEdit" hidden>
                <select id="userTeams" style="width: 100%;"></select>
                <a id="changeUserTeam" href="#" class="btn btn-mini btn-success">OK</a>
                <a id="cancelChangeUserTeam" href="#" class="btn btn-mini btn-danger">Cancel</a>
            </div>
        </div>
        <div class="item" forContainer="analyticsContainer">Overview</div>
        <div class="item" forContainer="teamContainer">Team</div>
        <div class="item" forContainer="positionsContainer">Jobs</div>
        <div class="item" forContainer="applicationsContainer">Applications</div>
        <div class="item" forContainer="billingContainer">Billing</div>
    </div>
</div>
<div class="span10 right-panel">
<div class="container-fluid analyticsContainer sectionContainer">
    <div class="row-fluid statisticsRow">
        <div class="span3 statBox">
            <div class="number" id="numForms"></div>
            <div class="text">Open Position</div>
        </div>

        <div class="span3 statBox">
            <div class="number" id="numApplications"></div>
            <div class="text">Applications</div>
        </div>

        <div class="span3 statBox">
            <div class="number" id="numNewApplications"></div>
            <div class="text">Unvisited Applications</div>
        </div>

        <div class="span3 statBox">
            <div class="number" id="numTodayApplications"></div>
            <div class="text">Today Applications</div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">

            <div id="full-clndr" class="clearfix">
                <script type="text/template" id="full-clndr-template">
                    <div class="clndr-grid">
                        <div class="days-of-the-week clearfix">
                            {% _.each(daysOfTheWeek, function(day) { %}
                            <div class="header-day">{{ day }}</div>
                            {% }); %}
                        </div>
                        <div class="days clearfix">
                            {% _.each(days, function(day) { %}
                            <div class="{{ day.classes }}" id="{{ day.id }}"><span class="day-number">{{ day.day }}</span></div>
                            {% }); %}
                        </div>
                    </div>
                    <div class="event-listing">
                        <div class="event-listing-title">EVENTS THIS MONTH</div>
                        {% _.each(eventsThisMonth, function(event) { %}
                        <div class="event-item">
                            <div class="event-item-name">{{ event.title }}</div>
                            <div class="event-item-location">{{ event.location }}</div>
                        </div>
                        {% }); %}
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid teamContainer sectionContainer" hidden>
    <div class="row-fluid">
        <div class="offset9 span3">
            <button id="teamSettingButton" class="pull-right">Team Setting</button>
            <button id="teamInviteButton" class="pull-right">Invite</button>
        </div>
    </div>

    <div class="row-fluid teamHeader">
        <div class="span3 offset9">
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div id="teamMembers"></div>
        </div>
    </div>

</div>

<div class="container-fluid positionsContainer sectionContainer" hidden>

    <div class="row-fluid">
        <div class="span3">
            <a id="teamJobsPage">Jobs page</a>
        </div>
    </div>

    <div class="row-fluid positionsHeaderRow">
        <div class="span3 colTitle">Name</div>
        <div class="span1 colStatus">Status</div>
        <div class="span3 colCreator">Creator</div>
        <div class="span3 colAssignedTo">Assigned To</div>
        <div class="span2 colOperations">Operatinos</div>
    </div>

</div>

<div class="container-fluid applicationsContainer sectionContainer" hidden>
    <div class="row-fluid tableRow" hidden>
        <div class="span12">
            <div id="applicationsTable"></div>
        </div>
    </div>
    <div class="row-fluid tableRow">
        <div class="span12">
            <button class="btn btn-mini" id="candidatesGridButton">Grid</button>
            <button class="btn btn-mini" id="candidatesListButton">List</button>
        </div>
    </div>
    <div class="row-fluid tableRow">
        <div class="span12">
            <div style="clear: both"></div>
            <div id="candidatesCollection" class="grid-layout">
                <div id="candidateInstance" hidden>
                    <div class="candidate-summary">
                        <div class="candidate-avatar"></div>
                        <div class="candidate-basicInfo">
                            <div class="candidate-name">Jon Doe</div>
                            <div class="candidate-profiles">Profiles</div>
                            <div class="candidate-job">Front-End Web Developer</div>
                            <div class="candidate-stage">Waiting for Planing an Interview</div>
                        </div>
                        <div class="candidate-conditions">
                            <span>Part-Time</span>
                            <span>@Home</span>
                        </div>
                        <div class="candidate-skills">CSS, jQuery, Nodejs</div>
                    </div>
                    <div class="candidate-details">
                        <div class="candidate-leftColumn">
                            <div class="candidate-details-box">
                                <div class="candidate-details-box-title">Contact Info.</div>
                                <div class="candidate-tel"></div>
                                <div class="candidate-website"></div>
                            </div>
                            <div class="candidate-details-box">
                                <div class="candidate-details-box-title">Cover Letter</div>
                                <div class="candidate-coverLetter"></div>
                            </div>
                        </div>
                        <div class="candidate-rightColumn">
                            <div class="candidate-details-box">
                                <div class="candidate-details-box-title">Activities</div>
                            </div>
                        </div>
                        <div class="candidate-actions">
                            <button class="btn pull-right">Archive</button>
                            <button class="btn pull-right">Ask For Comment</button>
                        </div>
                        <div class="candidate-addComment">
                            <div class="candidate-commentBox">
                                <textarea placeholder="Write your opinion about this candidate ..."></textarea>
                                <button class="btn">Send</button>
                            </div>
                        </div>
                        <div class="candidate-newComments">
                            Comments
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid billingContainer sectionContainer" hidden>
    <div class="row-fluid tableRow">
        <div class="offset3 span2">
            <div class="plan">
                <div class="planTitle">1 Month</div>
                <div class="planDescription">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="planButton">
                    <script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=coybit@gmail.com"
                            data-button="subscribe"
                            data-name="booltin - 1 month subscribtion"
                            data-amount="15"
                            data-currency="USD"
                            data-recurrence="2"
                            data-period="M"
                            data-env="sandbox"></script>
                </div>
            </div>
        </div>

        <div class="span2">
            <div class="plan">
                <div class="planTitle">3 Month</div>
                <div class="planDescription">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="planButton">
                    <script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=coybit@gmail.com"
                            data-button="subscribe"
                            data-name="booltin - 1 month subscribtion"
                            data-amount="15"
                            data-currency="USD"
                            data-recurrence="2"
                            data-period="M"
                            data-env="sandbox"></script>
                </div>
            </div>
        </div>

        <div class="span2">
            <div class="plan">
                <div class="planTitle">12 Month</div>
                <div class="planDescription">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="planButton">
                    <script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=coybit@gmail.com"
                            data-button="subscribe"
                            data-name="booltin - 1 month subscribtion"
                            data-amount="15"
                            data-currency="USD"
                            data-recurrence="2"
                            data-period="M"
                            data-env="sandbox"></script>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<div id="notificationCenter">
    <div class="tongue" isOpen="true">
        <span id="comments_badge"></span>
    </div>
    <div class="panel">
        <div class="nc-header">Notification Center</div>
        <ul id="askedForCommentList"></ul>
    </div>
</div>

<div id="activitiesModal">
    <div class="container-fluid">
        <div class="row-fluid" style="padding: 10px;background-color: #CEDFCE;margin: 10px 0;border: 2px solid #2B6F3B;border-radius: 4px;">
            <div class="span12">
                <select id="teamMembersForComment" style="margin: 0"></select>
                <button id="askForCommentOnApplication">Ask For Comment</button>
                <span id="askForCommentMessage" style="font-size: 1.2em;color: green;padding-left: 1em;"></span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div class="contain" style="max-height: 400px; overflow-y: auto"></div>
                <div class="commentsHeader">Comments</div>
                <div class="comments"></div>
            </div>
            <div class="span8">
                <div id="timeline"></div>
                <div id="decisionBox"></div>
            </div>
        </div>
    </div>
</div>

<div id="applicationPreview">
</div>

<div id="teamSettingModal">
    <div>
        <span id="teamAdminTitle">Admin:</span>
        <span id="teamAdmin"></span>
        <span id="teamAdminChange" hidden><a>Change</a></span>
    </div>

    <div>
        <span id="teamNameTitle">Team Name:</span>
        <span id="teamName"></span>
        <span id="teamNameChange" hidden><a>Change</a></span>
    </div>
</div>

<div id="teamInvitationModal">
    <p>Send invatation to other members of your team to join:</p>
    <textarea placeholder="Write a note ..."></textarea>
    <input type="email" id="inviteEmail" placeholder="example@example.com">
    <button id="sendInvitationButton" class="btn btn-warning">Send Invitation</button>
</div>

<div id="positionComments">
    <div class="comments"></div>
</div>