<% layout('layout.ejs') %>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/script/jquery.watable.js" type="text/javascript" charset="utf-8"></script>
    <link rel='stylesheet' href='/css/watable.css'/>
    <link rel='stylesheet' href='/css/dashboard.css'>
    <link rel='stylesheet' href='/css/job.css'>

    <script>
        $(function(){
            // First fill Forms list, then fill table according to current selected form
            fillFormsList( fillTable );

            $('#formsList').change( fillTable )

            $('#viewForm').click( function() {
                var flyerid = $('#formsList :selected').attr('id')
                window.open('/flyer/view/0?flyerid=' + flyerid);
            });

            $('#editForm').click( function() {
                var flyerid = $('#formsList :selected').attr('id')
                window.open('/flyer/edit/0?flyerid=' + flyerid);
            });

            $('#inactiveForm').click( function() {
                var flyerid = $('#formsList :selected').attr('id')
                // ToDo: Inactive form
            });
        });

        function fillFormsList( callback ) {

            var ownerID = $('#ownerID').attr('val');

            $.get('/api/forms?ownerID=' + ownerID).done( function(res) {

                res.forms.forEach( function(form) {
                    var option = $('<option>').text(form.formName).attr('id',form.formID);
                    $('#formsList').append(option);
                });

                callback();
            })
        }

        function fillTable() {
            var qsParams =
                    '?ownerID=' + $('#ownerID').attr('val')  +
                    '&formID=' + $('#formsList :selected').attr('id');

            $('#formsTable').html('');

            $('#formsTable').WATable({
                url: '/api/applications' + qsParams,
                preFill: true,
                pageSize: 20,
                sorting: true,
                filter: true,
                sortEmptyLast: true,
                checkboxes: true
            });
        }
    </script>

<div id="wrap">
<div class="container">

    <div class="row-fluid toolbarRow">
        <div class="span7">
            <input type="hidden" id="ownerID" val="<%=ownerID%>">

            <div class="formName">
                <select id="formsList"></select>
            </div>
        </div>
        <div class="span5">
            <button class="btn btn-warning" id="inactiveForm">Inactive Form</button>
            <button class="btn btn-normal" id="viewForm">View Form</button>
            <button class="btn btn-normal" id="editForm">Edit Form</button>
        </div>
    </div>

    <div class="row-fluid tableRow">
        <div class="span12">
            <div id="formsTable"></div>
        </div>
    </div>

</div>
</div>