<% layout('layout.ejs') %>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<link rel='stylesheet' href='/css/dashboard.css'>
<link rel='stylesheet/less' href='/css/dashboard-applications.less'>
<link rel='stylesheet' href='/css/job.css'>
​
<!--<link rel='stylesheet' href='/clndr/clndr.css'>-->
<link rel='stylesheet/less' href='/clndr/clndr.less'>

<script src="/clndr/less.js" type="text/javascript"></script>
<script src="/script/underscore.js" type="text/javascript"></script>
<script src="/clndr/moment.js" type="text/javascript"></script>
<script src="/clndr/clndr.js" type="text/javascript"></script>

<script src="/script/UsersCombo.js"></script>

<script src="/script/dashboard/global.js"></script>
<script src="/script/dashboard/overview.js"></script>
<script src="/script/dashboard/jobs.js"></script>
<script src="/script/dashboard/team.js"></script>
<script src="/script/dashboard/application.js"></script>
<script src="/script/dashboard/dashboard.js"></script>

<script src="/script/flexTextarea.js"></script>
<div id="wrap">

<div class="container-fluid">

<div class="row-fluid" style="background: #f1f1f1">

<div class="span2">
    <div class="menu">
        <div class="menu-header">
            <div id="switchTeamView">
                <div id="currentTeamName">Current Team</div>
                <button id="switchButton" class="btn btn-mini">
                    <i class="fa fa-random fa-lg"></i>
                    Switch
                </button>
            </div>


            <div id="switchTeamEdit" hidden>
                <select id="userTeams" style="width: 100%;"></select>
                <a id="changeUserTeam" href="#" class="btn btn-mini btn-success">OK</a>
                <a id="cancelChangeUserTeam" href="#" class="btn btn-mini btn-danger">Cancel</a>
            </div>
        </div>

        <input type="radio" id="radio-item-overview" hidden name="menuItems" checked>
        <label class="item" for="radio-item-overview" onclick="window.location='#overviewp'">Overview</label>

        <input type="radio" id="radio-item-team" hidden name="menuItems">
        <label class="item" for="radio-item-team" onclick="window.location='#teamp'">Team</label>

        <input type="radio" id="radio-item-jobs" hidden name="menuItems">
        <label class="item" for="radio-item-jobs" onclick="window.location='#jobsp'">Jobs</label>

        <input type="radio" id="radio-item-applications" hidden name="menuItems">
        <label class="item" for="radio-item-applications" onclick="window.location='#applicationsp'">Applications</label>

        <input type="radio" id="radio-item-billing" hidden name="menuItems">
        <label class="item" for="radio-item-billing" onclick="window.location='#billingp'">Billing</label>

    </div>
</div>

<div class="span10 right-panel">

<div id="overviewp" class="container-fluid sectionContainer">
    <div class="row-fluid statisticsRow">
        <div class="span3 statBox">
            <div class="number" id="numForms"></div>
            <div class="text">Open Position</div>
        </div>

        <div class="span3 statBox">
            <div class="number" id="numApplications"></div>
            <div class="text">Applications</div>
        </div>

        <div class="span3 statBox">
            <div class="number" id="numNewApplications"></div>
            <div class="text">Unvisited Applications</div>
        </div>

        <div class="span3 statBox">
            <div class="number" id="numTodayApplications"></div>
            <div class="text">Today Applications</div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">

            <div id="full-clndr" class="clearfix">
                <script type="text/template" id="full-clndr-template">
                    <div class="clndr-grid">
                        <div class="days-of-the-week clearfix">
                            {% _.each(daysOfTheWeek, function(day) { %}
                            <div class="header-day">{{ day }}</div>
                            {% }); %}
                        </div>
                        <div class="days clearfix">
                            {% _.each(days, function(day) { %}
                            <div class="{{ day.classes }}" id="{{ day.id }}"><span
                                    class="day-number">{{ day.day }}</span></div>
                            {% }); %}
                        </div>
                    </div>
                    <div class="event-listing">
                        <div class="event-listing-title">EVENTS THIS MONTH</div>
                        {% _.each(eventsThisMonth, function(event) { %}
                        <div class="event-item">
                            <div class="event-item-name">{{ event.title }}</div>
                            <div class="event-item-location">{{ event.location }}</div>
                        </div>
                        {% }); %}
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>

<div id="teamp" class="container-fluid sectionContainer">
    <div class="row-fluid">
        <div class="offset9 span3" style="margin-bottom: 1em">
            <a href="#team-settings-dialog" role="button"
               class="btn btn-warning " data-toggle="modal" hidden>
                <i class="icon-cog "></i>
                Team Settings</a>
            <a href="#team-invitation-dialog" role="button"
               class="btn btn-success " data-toggle="modal" hidden>
                <i class="bool-icon bool-icon-email"></i>
                Invite</a>
        </div>
    </div>

    <div class="row-fluid teamHeader">
        <div class="span6 ">
            <i class="fa fa-home fa-3x"></i>
            <span class="teamAddress" style="vertical-align: top;"></span>
        </div>
        <div class="span3 ">
            <i class="fa fa-phone fa-3x"></i>
            <span class="teamPhone" style="vertical-align: top;"></span>

        </div>
        <div class="span3 ">

        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div id="teamMembers"></div>
        </div>
    </div>
</div>

<div id="jobsp" class="container-fluid sectionContainer">

    <div class="row-fluid">
        <div class="span12">
            <div class="careerPageAddress">
                All the published jobs are available on your
                <a id="teamJobsPage">Career page</a>.

            </div>
        </div>
    </div>

    <div class="row-fluid positionsHeaderRow">
        <div class="span5 colTitle">Name</div>
        <div class="span2 colStatus">Status</div>
        <div class="span3 colAssignedTo">Responder</div>
        <div class="span2 colOperations"></div>
    </div>

</div>

<div id="applicationsp" class="container-fluid sectionContainer">
<div class="row-fluid tableRow" hidden>
    <div class="span12">
        <div id="applicationsTable"></div>
    </div>
</div>
<div class="row-fluid tableRow">
    <div class="offset1 span5">
        <div>
            <input class="application-searchBox" placeholder="Search through applicants ...">

            <div>
                <a onclick="alert('برو دم خونه خونتون بازی کن. هر نوشته آبی که نباید روش کلیک کنی. شاید توش بمب بود.')">Advanced Option</a>
            </div>
        </div>
    </div>
    <div class="span2">
        <button class="application-searchButton">Search</button>
    </div>
    <div class="span2">
        <button class="btn btn-mini pull-right" id="candidatesGridButton">Grid</button>
        <button class="btn btn-mini pull-right" id="candidatesListButton">List</button>
    </div>
    <div class="span2">
        <div class="dropdown application-sort">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Sort by <span class="application-sortType">Date</span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li role="presentation"><a class="sortByDate" role="menuitem" tabindex="-1" href="#">Date</a></li>
                <li role="presentation"><a class="sortByName" role="menuitem" tabindex="-1" href="#">Name</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row-fluid tableRow">
<div class="span12">
<div style="clear: both"></div>
<div id="candidatesCollection" class="grid-layout">
<div id="candidateInstance" hidden>
<div class="candidate-summary">
    <div class="sticky">Unread</div>
    <div class="bool-toggle-application">
        <i class="icon-plus"></i>
        <i class="icon-minus"></i>
    </div>
    <div class="candidate-avatar"></div>
    <div class="candidate-basicInfo">
        <div class="candidate-name">Jon Doe</div>
        <a class="btn candidate-resume" target="_blank">View Resume</a>

        <div class="candidate-profiles">
            <img class="profile"
                 src="http://static.iconarchive.com/static/images/social/facebook-icon.png">
            <img class="profile"
                 src="http://static.iconarchive.com/static/images/social/twitter-icon.png">
            <img class="profile"
                 src="http://static.iconarchive.com/static/images/social/google-plus-icon.png">
        </div>
        <div class="candidate-job">
            Applied for
            <span class="value">Front-End Web Developer</span>
        </div>
        <div class="candidate-time">
            Applied at
            <span class="value"></span>
        </div>
    </div>
    <div class="candidate-conditions">
        <strong>Conditions:</strong>
        <span class="value">Part-Time @Home</span>
    </div>
    <div class="candidate-skills">
        <strong>Skills:</strong>
        <span class="value">CSS, jQuery, Nodejs</span>
    </div>
    <div class="candidate-stage">
        <strong>Stage:</strong>
        <span class="value">Waiting for Planing an Interview</span>
    </div>
</div>
<div class="candidate-details">
    <div class="candidate-leftColumn">
        <div class="mbox" style="height: 180px">
            <div class="candidate-conditions">
                <strong>Conditions:</strong>
                <span class="value">Part-Time @Home</span>
            </div>
            <div class="candidate-skills">
                <strong>Skills:</strong>
                <span class="value">CSS, jQuery, Nodejs</span>
            </div>
        </div>
    </div>
    <div class="candidate-rightColumn">
        <div class="mbox" style="height: 180px">
            <div class="mbox-title">Contact Info.</div>
            <div class="candidate-email">
                <strong>Email:</strong>
                <span class="value"></span>
            </div>
            <div class="candidate-tel">
                <strong>Tel:</strong>
                <span class="value"></span>
            </div>
            <div class="candidate-website">
                <strong>Website:</strong>
                <span class="value"></span>
            </div>
        </div>
    </div>

    <div class="mbox" style="height: 180px">
        <div class="mbox-title">Cover Letter</div>
        <div class="candidate-coverLetter"></div>
    </div>

    <div class="candidate-leftColumn">
        <div class="mbox bool-application-activities">
            <div class="mbox-title">Activities</div>
            <div class="candidate-activities"></div>
        </div>
    </div>
    <div class="candidate-rightColumn">
        <div class="mbox bool-application-comments">
            <div class="mbox-title">
                Comments <a class="applicationAskForCommentButton btn btn-mini pull-right">New Ask For Comment</a>
            </div>
            <div class="candidate-comments"></div>
            <form class="form-horizontal reply-for-comment-form" hidden>
                <input type="hidden" name="commentID">
                <div style="text-align: center;padding: 1em;">
                    <div class="control-group" style="text-align: left;margin-bottom: 0">

                        <div class="user-note-avatar"></div>
                        <p class="bool-application-comments-note" readonly class="ask-4-comment-note"></p>

                    </div>
                    <div class="control-group" style="text-align: right;margin-bottom: 0">

                        <div class="commenter-note-avatar"></div>
                        <textarea flexible
                                  class="bool-application-comments-comment"
                                  name="comment" placeholder="leave your comment here...">
                        </textarea>
                    </div>
                    <div class="control-group">
                        <a class="bool-edit-comment-btn btn btn-mini btn-info pull-right"
                                >Edit</a>
                        <a class="bool-cancel-comment-btn btn btn-mini btn-danger pull-right" hidden
                                >Cancel</a>
                        <button type="submit" class="btn btn-mini btn-success pull-right">
                            Reply
                        </button>
                    </div>

                </div>
                <div class="bool-alert-group">
                    <div class="alert alert-dismissable alert-info bool-alert-toast hide">
                        <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                        <strong>Sending </strong> ask for comment...
                    </div>
                    <div class="alert alert-dismissable alert-danger bool-alert-toast hide">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <strong>Faield </strong> to send ask for commnet. Retrying in
                        <span class="bool-retry-timeout">10</span>s...
                        <button type="submit" class="btn btn-info"
                                data-loading-text="Sending ...">
                            Try now
                        </button>
                    </div>
                    <div class="alert alert-dismissable alert-success bool-alert-toast hide">
                        <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                        Ask for comment has been sent
                        <strong>successfully.</strong>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="mbox" style="height: auto">
        <div class="mbox-title">Workflow</div>
        <div class="candidate-workflow">
            <div class="candidate-workflow-stages">

                <div class="candidate-workflow-stage pending">
                    <div class="candidate-workflow-substage" sub-stage="1">
                        <div>Application is in <strong>Pending</strong> stage. You can:</div>
                        <a class="archiveButton">Archive it</a>
                        <a class="interviewButton">Make an interview</a>
                        <a class="offerButton">Offer a job</a>
                        <br/>
                        Don't know what to do?
                        <a class="askForCommentButton">Ask for comment</a>
                    </div>
                </div>

                <div class="candidate-workflow-stage interviewing">

                    <div class="candidate-workflow-substage" sub-stage="1">
                        <div>Application is in <strong>Interviewing</strong> stage.</div>
                        You planned an interview on <span class="interviewDate">Date-Time</span>.
                        We're waiting for applicant's response. Although you can:
                        <a class="archiveButton">Archive it</a>
                        <a class="interviewButton">Reschedule an interview</a>
                        <a class="offerButton">Offer a job</a>
                    </div>

                    <div class="candidate-workflow-substage" sub-stage="2">
                        <div>Application is in <strong>Interviewing</strong> stage.</div>
                        Applicant can't come on <span class="interviewDate">Date-Time</span>. You can:
                        <a class="archiveButton">Archive it</a>
                        <a class="interviewButton">Reschedule an interview</a>
                    </div>

                    <div class="candidate-workflow-substage" sub-stage="3">
                        <div>Application is in <strong>Interviewing</strong> stage.</div>
                        Interview will be hold on <span class="interviewDate">Date-Time</span>.
                        <a class="archiveButton">Archive it</a>
                        <a class="interviewButton">Reschedule an interview</a>
                    </div>

                    <div class="candidate-workflow-substage" sub-stage="4">
                        <div>Application is in <strong>Interviewing</strong> stage.</div>
                        Interview is hold on <span class="interviewDate">Date-Time</span>.
                        <a class="archiveButton">Archive it</a>
                        <a class="interviewButton">Make an other interview</a>
                        <a class="offerButton">Offer a job</a>
                        <br/>
                        Don't know what to do?
                        <a class="askForCommentButton">Ask for comment</a>
                    </div>
                </div>

                <div class="candidate-workflow-stage offered">
                    <div class="candidate-workflow-substage" sub-stage="1">
                        <div>Application is in <strong>Offered</strong> stage.</div>
                        We're waiting for applicant's response.
                        Although you can:
                        <a class="archiveButton">Archive it</a>
                        <a class="interviewButton">Make an other interview</a>
                    </div>
                    <div class="candidate-workflow-substage" sub-stage="2">
                        <div>Application is in <strong>Offered</strong> stage.</div>
                        This is applicant response: <span>Accepted</span>
                        You can:
                        <a class="archiveButton">Archive it</a>
                        <a class="archiveButton">Archive it and notify somebody about this response</a>
                    </div>
                    <div class="candidate-workflow-substage" sub-stage="3">
                        <div>Application is in <strong>Offered</strong> stage.</div>
                        This is applicant response: <span>Declined</span>
                        You can:
                        <a class="archiveButton">Archive it</a>
                        <a class="archiveButton">Archive it and notify somebody about this response</a>
                    </div>
                </div>

                <div class="candidate-workflow-stage archived">
                    <div class="candidate-workflow-substage" sub-stage="1">
                        <div>Application is in <strong>Archived</strong> stage. You can:</div>
                        <a class="interviewButton">Make an interview</a>
                        <a class="offerButton">Offer a job</a>
                        <br/>
                        Don't know what to do?
                        <a class="askForCommentButton">Ask for comment</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="candidate-actions">
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

<style>
    #billingHistory {
        font-size: 2em
    }

    #billingsList {
        font-size: 0.8em;
    }

    #billingsList div {
        padding: 0.5em 0;
        border-top: 1px solid rgb(209, 222, 238);
        background-color: #fff;
    }

    #billingsList div span {
        margin: 1em;
    }

    #paypalPay {
        margin: 2em 0;
        background-color: #FFF;
        padding: 1em;
        font-size: 2em;
        border: 1px solid rgb(213, 213, 213);
        border-radius: 4px;
    }

    #paymentAmount {
        margin: 0;
    }

    #billing_balance {
        display: inline-block;
        font-size: 1.5em;
        color: rgb(213, 82, 82);
        font-weight: 700;
    }
</style>

<div id="billingp" class="container-fluid sectionContainer">
    <div class="row-fluid">
        <div style="font-size: 2em;">
            Your current plan is <span id="billing_plan">...</span>.
            <button class="btn btn-primary pull-right" id="premiumPlanButton">Go to Premium Plan (1$/mo)</button>
            <button class="btn btn-primary pull-right" id="freePlanButton">Go to Free Plan</button>
            <br/><br/>

            Balance:
            <div id="billing_balance">
                <span>0.00</span>$
            </div>
        </div>

        <div id="paypalPay">
            <img class="pull-right" src="images/paypal.png">
            <p>Make a one time PayPal payment:</p>
            <select id="paymentAmount">
                <option name="10">10.00 $</option>
                <option name="20">20.00 $</option>
                <option name="30">30.00 $</option>
                <option name="50">50.00 $</option>
            </select>
            <button class="btn btn-success" id="payButton">Pay</button>
        </div>

        <div id="billingHistory">
            Billing History:
            <div id="billingsList">
            </div>
        </div>

    </div>
</div>

</div>

</div>

</div>
</div>

<form id='teamSettingForm' class="form-horizontal no-border-box" method="post">
    <div id="team-settings-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="teamSetLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Team Settings Dialog</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="teamAdminList">Team Admin</label>

                <div class="controls team-admin-combo">

                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="teamNameInput">Team Name</label>
                <div class="controls">
                    <input type="text"
                           placeholder="My Team Name"
                           name="teamName">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="teamAddress">Team address</label>
                <div class="controls">
                    <textarea
                            placeholder="eg. 32, Mountain View, California"
                            name="teamAddress"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="teamTel">Tel</label>
                <div class="controls">
                    <input type="text"
                           placeholder="eg 88-55-32-3"
                           name="teamTel">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-primary"
                    data-loading-text="Saving...">Save changes
            </button>
        </div>
    </div>
    <div class="bool-alert-group">
        <div class="alert alert-dismissable alert-info bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <strong>Updating </strong> Team settings...
        </div>
        <div class="alert alert-dismissable alert-danger bool-alert-toast hide">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Faield </strong> to update team settings. Retrying in
            <span class="bool-retry-timeout">10</span>s...
            <button type="submit" class="btn btn-info" data-loading-text="Updating ...">Try now</button>
        </div>
        <div class="alert alert-dismissable alert-success bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            Team settings has been updated
            <strong>successfully.</strong>
        </div>
    </div>
</form>

<div id="notificationCenter">

    <div class="tongue" isOpen="true">
        <span id="comments_badge"></span>
    </div>
    <div class="panel">
        <div class="nc-header">Notification Center</div>
        <ul id="askedForCommentList"></ul>
    </div>
</div>

<div id="activitiesModal">
    <div class="container-fluid">
        <div class="row-fluid"
             style="padding: 10px;background-color: #CEDFCE;margin: 10px 0;border: 2px solid #2B6F3B;border-radius: 4px;">
            <div class="span12">
                <select id="teamMembersForComment" style="margin: 0"></select>
                <button id="askForCommentOnApplication">Ask For Comment</button>
                <span id="askForCommentMessage" style="font-size: 1.2em;color: green;padding-left: 1em;"></span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div class="contain" style="max-height: 400px; overflow-y: auto"></div>
                <div class="commentsHeader">Comments</div>
                <div class="comments"></div>
            </div>
            <div class="span8">
                <div id="timeline"></div>
                <div id="decisionBox"></div>
            </div>
        </div>
    </div>
</div>

<div id="applicationPreview">
</div>

<form class="form-horizontal ask-for-comment-form">
    <div id="a4c-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="invitationSetLabel">Ask others for comment</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" name="appID">
            <div style="text-align: center;padding: 1em;">
                <div class="control-group">
                    <label class="control-label" style="width: auto">User</label>
                    <div class="controls" style="margin: 0;text-align: left">
                        <div class="bool-ask-4-comment-users">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" style="width: auto">Note</label>
                    <div class="controls" style="margin: 0;text-align: left">
                        <textarea name="note"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Ask For Comment</button>
        </div>
    </div>
    <div class="bool-alert-group">
        <div class="alert alert-dismissable alert-info bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <strong>Sending </strong> ask for comment...
        </div>
        <div class="alert alert-dismissable alert-danger bool-alert-toast hide">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Faield </strong> to send ask for commnet. Retrying in
            <span class="bool-retry-timeout">10</span>s...
            <button type="submit" class="btn btn-info pull-right" data-loading-text="Sending ...">Try now</button>
        </div>
        <div class="alert alert-dismissable alert-success bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            Ask for comment has been sent
            <strong>successfully.</strong>
        </div>
    </div>
</form>

<div id="job-setting-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="invitationSetLabel">Job Settings</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="invitationEmail">Title:</label>
            <div class="controls">
                <input type="text" id="jobTitle" style="cursor: text">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationEmail">Thanks Message:</label>
            <div class="controls">
                <input type="text" id="jobThanksMessage" style="cursor: text">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationEmail">Public Link</label>
            <div class="controls">
                <input type="URL" class="publicLink" readonly style="cursor: text">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationNote">Responder</label>
            <div class="controls">
                <div id="jobResponderList"></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationEmail">State</label>
            <div class="controls">
                This job is in <span class="jobStatus-current">-</span>. You can <span class="jobStatus-next"></span> it.
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary saveButton" data-loading-text="Sending...">Save</button>
    </div>
</div>

<div id="job-offer-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="invitationSetLabel">Offer a job</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="invitationEmail">Email</label>
            <div class="controls">
                <input type="text" class="emailAddress" placeholder="Enter email address to invite" name="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationNote">Note</label>
            <div class="controls">
                <textarea class="offerMessage" placeholder="You are invited to join our group" name="note"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary sendButton" data-loading-text="Sending...">Send Offer</button>
    </div>
</div>

<div id="interview-invitation-dialog" class="modal hide fade no-border-box" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="invitationSetLabel">Interview Invitation Form</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="invitationEmail">Date-Time of interview</label>
            <div class="controls">
                <input type="date" class="interviewDate">
                <input type="time" class="interviewTime">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationEmail">Email</label>
            <div class="controls">
                <input type="text" class="emailAddress" placeholder="Enter email address to invite" name="email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="invitationNote">Note</label>
            <div class="controls">
                <textarea class="invitationMessage" placeholder="You are invited to join our group" name="note"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary sendButton" data-loading-text="Sending...">Send Invitation</button>
    </div>
</div>

<form id='teamInvitationForm' class="form-horizontal no-border-box" method="post">
    <div id="team-invitation-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="invitationSetLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="invitationSetLabel">Invitation Form</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="invitationNote">Note</label>
                <div class="controls">
                    <textarea
                            id="invitationNote"
                            placeholder="You are invited to join our group"
                            name="note"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="invitationEmail">Email</label>
                <div class="controls">
                    <input type="text" id="invitationEmail"
                           placeholder="Enter email address to invite"
                           name="email">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-primary"

                    data-loading-text="Sending...">Send Invitation
            </button>
        </div>
    </div>
    <div class="bool-alert-group">
        <div class="alert alert-dismissable alert-info bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <strong>Sending </strong> Team invitation...
        </div>
        <div class="alert alert-dismissable alert-danger bool-alert-toast hide">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Faield </strong> to send invitation. Retrying in
            <span class="bool-retry-timeout">10</span>s...
            <button type="submit" class="btn btn-info" data-loading-text="Sending ...">Try now</button>
        </div>
        <div class="alert alert-dismissable alert-success bool-alert-toast hide">
            <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            Team invitation has been sent
            <strong>successfully.</strong>
        </div>
    </div>
</form>



<div id="application-preview-dialog"
     class="modal hide fade" tabindex="-1"
     role="dialog" aria-labelledby="applicationPreviewLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="applicationPreviewLabel">Application Preview</h3>
    </div>
    <div class="modal-body ">
        <div class="grid-layout">

        </div>

    </div>
</div>

<div id="positionComments">
    <div class="comments"></div>
</div>

