<% layout('layout') -%>

<script>
    var portletCounter = 0;

    $(function() {

        // Widget HTML code
        var textWidget = [
                '<div><input type="text" name="text"></div>'
        ].join('');

        var pictureWidget = [
            '<div><input type="file" name="picture"></div>'
        ].join('');

        //
        var Widgets = {};
        Widgets['Text'] = {
            html:textWidget,
            getContent: function(portlet) {
                return portlet.find('input[type="text"]').val();
            },
            setContent: function(portlet, content) {
                return portlet.find('input[type="text"]').val(content);
            }
        };
        Widgets['Picture'] = {
            html: pictureWidget,
            getContent: function(portlet) {
                return portlet.find('input[type="file"]').val();
            }
        };

        $( ".column" ).sortable({
            connectWith: ".column"
        }).disableSelection();

        var createPortlet = function(ptype,pid,content) {
            var portlet = $('<div class="portlet"><div class="portlet-header">'+ ptype +
                    '</div><div class="portlet-content"></div></div>')
                    .attr('id',pid)
                    .attr('type',ptype)
                    .appendTo('#portletStack');
            initPortlets( portlet );

            portlet.find('.portlet-content').append(Widgets[ptype].html);

            if(content && Widgets[ptype] && Widgets[ptype].setContent )
                Widgets[ptype].setContent(portlet, content);
        };

        var initPortlets = function(portlet) {
            portlet.addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
                    .find( ".portlet-header" )
                    .addClass( "ui-widget-header ui-corner-all" )
                    .prepend( "<span class='ui-icon ui-icon-closethick'></span>");

            portlet.find( ".portlet-header .ui-icon").first().click(function(e) {
                $(e.target).parent().parent().remove();
            });
        }

        var json2flyer = function() {

            var flyerid = $('input[name=flyerid').val();

            $.get('/flyer/json/'+flyerid)
                    .done(function(data){
                        console.log(data)

                        $('input[name=flyertext').val(data.description);

                        for( var i=1; i<data.count; i++ ){
                            if( data[i] )
                                createPortlet(data[i].type,data[i].ID,data[i].Contents);
                        }
                    })
                    .fail(function(data){
                        console.log(data)
                    });
        }

        var loadLastFlyer = function() {
            json2flyer();
        }

        var flyer2json = function() {
            var flyer = {
                description: $('input[name=flyertext').val(),
                flyerid: $('input[name=flyerid').val(),
                count: $('#portletStack').children().length
            };

            $('#portletStack').children().each(function(index) {

                var portlet =  $(this);
                var ptype =  portlet.attr('type');
                var pid =  portlet.attr('id');
                var widget = Widgets[ptype];

                flyer[index] = {
                    "type":ptype,
                    "ID": pid,
                    "Contents":  ( widget && 'getContent' in widget && widget.getContent && widget.getContent(portlet))
                };
            });

            return flyer;
        }

        initPortlets( $('#portletCreator') );
        loadLastFlyer();

        $(".newitem").click(function(e){
            var itemType = $(e.target).attr('type');
            var itemID = portletCounter++;

            createPortlet(itemType,itemID);
        });

        $('#previewButton').click( function() {
            windows.location = '/flyer/' + $('input[name=flyerid').val();;
        })

        $('#buttonSave').click(function(){
            var flyer = flyer2json();

            $('#buttonSave').text('Saving...').addClass('disabled');

            $.post( '/flyer/new', {flyer:flyer} )
                    .done(function(data){
                        $('#buttonSave').text('Save').removeClass('disabled');
                    })
                    .fail(function(data){
                        $('#buttonSave').text('Save*').removeClass('disabled');
                    });

            console.log( flyer );
        });
    });
</script>

<div class="container" style="width: 95%;">
    <div class="row-fluid"><h4>Creating New Flyer</h4></div>
    <div class="row-fluid">
        <div class="span3"  style="background-color: #e8eec2;">
            <form method="post" action="/flyer/new" class="form-actions">
                <fieldset>
                    <div class="control-group">
                        <legend>
                            Settings
                        </legend>
                        <div class="controls">
                            <input type="hidden" name="flyerid" value="<%=flyerid%>"/>
                            <input type="text" name="flyertext" placeholder="Enter Flyer Description"/>
                            <span class="help-block">Select Template</span>
                            <select name="templates" class="form-control">
                                <option value='template01'>Template 1</option>
                                <option value='template02'>Template 2</option>
                                <option value='template03'>Template 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <legend>
                            Publish
                        </legend>
                        <div class="controls">
                            <span class="help-block">Select First Board For Putting Up</span>
                            <select name="board" class="form-control">
                                <% for(i=0;i<boards.length;i++){%>
                                <option value=<%=boards[i]._id%>><%=boards[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-success" id="buttonSave">Save</button>
                    <button type="button" class="btn btn-warning" id="buttonPreview">Preview</button>
                </fieldset>
            </form>
        </div>
        <div class="span7">

            <div class="column" id="portletStack">

                <div class="portlet" id="portletCreator">
                    <div class="portlet-header">New Item</div>
                    <div class="portlet-content" style="height: 100%;">
                        <div class="row-fluid text-center">
                            <div class="span2 newitem" type="Picture"><i class="icon-picture"></i></div>
                            <div class="span2 newitem" type="Text"><i class="icon-font"></i></div>
                            <div class="span2 newitem" type="Audio"><i class="icon-play"></i></div>
                            <div class="span2 newitem" type="BarCode"><i class="icon-barcode"></i></div>
                            <div class="span2 newitem" type="Tag"><i class="icon-tag"></i></div>
                            <div class="span2 newitem" type="Map"><i class="icon-map-marker"></i></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="span1"  style="background-color: #e8eec2;">
            <div class="row-fluid text-center" style="background-color: rgba(196, 190, 191, 0.97)"><h4>ToolBox</h4></div>
            <div class="row-fluid text-center">
                <div class="span6 newitem" type="Picture"><i class="icon-picture"></i></div>
                <div class="span6 newitem" type="Text"><i class="icon-font"></i></div>
            </div>
            <div class="row-fluid text-center">
                <div class="span6 newitem" type="Audio"><i class="icon-play"></i></div>
                <div class="span6 newitem" type="BarCode"><i class="icon-barcode"></i></div>
            </div>
            <div class="row-fluid text-center">
                <div class="span6 newitem" type="Tag"><i class="icon-tag"></i></div>
                <div class="span6 newitem" type="Map"><i class="icon-map-marker"></i></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
