<% layout('layout') -%>

<link href="/css/flyer.css" rel="stylesheet">

<style>

.thumbnail img {
    border: 1px solid rgba(0,0,0,1);
    width: 100px;
    height: 200px;
}

.thumbnail .selected {
    border: 1px solid red;
}

    .thumbnail span {
        text-align: center;
        font-size: 1.1em;
    }

.thumbnailPreview {
    padding: 20px;
    background-color: #f1f1f1;
}

    .thumbnailPreview .caption {
        font-size: 2em;
        border-bottom: 2px solid #000;
        padding-bottom: 0.5em;
        margin: 0;
    }

.thumbnailPreview .description {
    font-size: 1.6em;
    margin: 0;
}

</style>

<script>
    $(function(){

        var selectedThumbID = 0;

        $('#buttonNext').click(function(){
            document.location = '/flyer/edit/' + selectedThumbID;
        });

        $('.thumbnail').click(function(){
           // Unselect old selected item
           if( selectedThumbID )
               $('.thumbnail[thumbnailID='+ selectedThumbID +']').removeClass('selected');

           // Select recent selected item
           selectedThumbID = $(this).attr('thumbnailID');
           $(this).find('img').first().addClass('selected');

           $('.thumbnailPreview').find('.caption').text( $(this).attr('caption') );
           $('.thumbnailPreview').find('.description').text( $(this).attr('description') );
        }) ;
    });
</script>

<div class="container-fluid" id="fixToolbar">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8"></div>
        <div class="span2">
            <div>
                <button class="btn btn-success" id="buttonNext">Go To Editor</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 15em">
    <div class="row-fluid"  style="margin-top: 2em">
        <div class="span7 offset1">
            <div class="container-fluid" style="background-color: #f1f1f1;padding: 10px">
                <div class="row-fluid">
                    <div class="span12">
                        <input type="text" placeholder="Search">
                    </div>
                </div>
                <ul class="thumbnails" class="row-fluid">
                    <li class="span2">
                        <a class="thumbnail" href="#" thumbnailID="0" caption="Blank" description="Create what you link">
                            <img data-src="100%x180" alt="...">
                            <span>Blank</span>
                        </a>
                    </li>
                    <li class="span2">
                        <a class="thumbnail" href="#" thumbnailID="1" caption="Front-End" description="Template for front-end develoepr hiring">
                            <img data-src="100%x180" alt="...">
                            <span>FrontEnd Developer</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span3" style="height: 100%">
            <div class="thumbnailPreview">
                <p class="caption">Thumbnail #</p>
                <p class="description">Suitable for ...</p>
            </div>
        </div>
    </div>
</div>