<% layout('layout') -%>

<style>
    #portletStack {
        box-shadow: 1px 1px 10px;
    }
</style>
<script language="JavaScript">
    $( function(){

        TickeringState();

        function TickeringState() {
            var flyerid = $("#TicketButton").val();

            $.ajax({
                url: '/flyer/take',
                type: 'get',
                dataType: 'json',
                data: {flyerid:flyerid},
                error: function(data){
                    alert('error '+data.result);
                },
                success: function(data){
                    if( data.ticketed==false )
                        $("#TicketButton").text('Take a Ticket');
                    else
                        $("#TicketButton").text('Drop Ticket');
                }
            });
        }

        $('#EditFlyerButton').click( function(){
            window.location = '/flyer/editor/?flyerid=' + $('input[name=flyerid]').val();
        });

        $('#TicketButton').click( function(){
            var flyerid= $("#TicketButton").val();

            $.ajax({
                url: '/flyer/take',
                type: 'post',
                dataType: 'json',
                data: {flyerid:flyerid},
                error: function(data){
                    alert('error '+data.result);
                },
                success: function(data){
                    TickeringState();
                }
            });
        });
    });
</script>
<script src="/flyer.js"></script>
<script>
    $(function(){
        var flyerid = $('input[name=flyerid]').val();
        $('#portletStack').Flyer({
            editMode:false,
            flyerid:flyerid
        });
    });
</script>

<div class="container">
    <div class="row" style="padding: 5px">
        <div class="span6">
            <input type="hidden" name="flyerid" value="<%=flyer._id%>">
        </div>
        <div class="span2 pull-right">
            <% if(isOthersFlyer==true){ %>
            <button class="btn btn-small btn-danger" type="button" id="TicketButton" value="<%=flyer._id%>">Take a Ticket</button>
            <% } else { %>
            <button class="btn btn-small btn-danger" type="button" id="EditFlyerButton">Edit Your Flyer</button>
            <% } %>

        </div>
    </div>
    <div class="row" style="padding: 5px">
        <h2>
            <strong><%=flyer.flyer ? flyer.flyer.description : "untitled"%></strong>
        </h2>
    </div>
    <div class="row">
        <div class="span6 offse3">
            <div id="portletStack"></div>
        </div>
    </div>

    <% if(flyer.disqusShortname){ %>
    <div class="row" style="margin-top: 30px;">
        <div class="span8 offset2">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = '<%=flyer.disqusShortname%>';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>
    <% } %>
</div>