<% layout('layout') -%>

<script src="http://getbootstrap.com/docs-assets/js/holder.js"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5 offset2">
            <div class="container-fluid"style="background-color: #dddddd;padding: 10px">
                <div class="row-fluid">
                    <div class="span12">
                        <input type="text" placeholder="Search">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        Event
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        ...
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        Sell/Buy
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        ...
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        Information
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        ...
                    </div>
                </div>
            </div>
        </div>
        <div class="span3" style="margin-left: 0px;height: 100%">
            <div class="pull-right">
                <img data-src="holder.js/200x300">
            </div>
        </div>
    </div>
</div>