<% layout('layout') -%>

<link rel="stylesheet" href="http://abpetkov.github.io/switchery/dist/switchery.min.css" />
<script src="http://abpetkov.github.io/switchery/dist/switchery.min.js"></script>

<link rel="stylesheet" href="http://welldonethings.com/managed/tagmanager.css">
<script src="http://welldonethings.com/managed/tagmanager.js"></script>

<link href="http://hallojs.org/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
<script src="/script/jquery.cookie.js"></script>
<script src="https://apis.google.com/js/plusone.js"></script>

<script src="/script/Widgets/Widget.js"></script>
<script src="/script/Widgets/TextWidget.js"></script>
<script src="/script/Widgets/PictureWidget.js"></script>
<script src="/script/Widgets/VideoWidget.js"></script>
<script src="/script/Widgets/VoiceWidget.js"></script>
<script src="/script/Widgets/WorkTypeWidget.js"></script>
<script src="/script/Widgets/MapWidget.js"></script>
<script src="/script/Widgets/ButtonWidget.js"></script>
<script src="/script/Widgets/AnythingElseWidget.js"></script>
<script src="/script/Widgets/PersonalInfoWidget.js"></script>
<script src="/script/Widgets/ProfilesWidget.js"></script>
<script src="/script/Widgets/ResumeWidget.js"></script>
<script src="/script/Widgets/SeperatorWidget.js"></script>
<script src="/script/Widgets/SkillWidget.js"></script>
<script src="/script/Widgets/WorkTypeWidget.js"></script>
<script src="/script/Widgets/BadgeWidget.js"></script>
<script src="/script/Widgets/flyer.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=241341676042668";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<script>
    var flyerJson;
    var flyerid;
    var checkboxesList = [];
    var items = ['HIring','Developer']
    $(function(){

        // Init Tags Input
        $('#tags-input').tagsinput({
            itemValue: function (item) {
                return item.value;
            },
            itemText: function (item) {
                return item.text;
            },
            typeahead:{
                source:items
            }
        });

        // Init switch box
        var switchsList = $('input[type=checkbox]')
        switchsList.each(function(idx){
            checkboxesList[idx] = new Switchery(switchsList[idx]);
        })
        $('.switchery').addClass('pull-right')
        $('.row-fluid .switchery').css('margin-top','10px').css('text-','10px')

        // Save Flyer Proeprties
        $('#buttonDone').click(function(){

            $('#buttonDone').addClass('disabled');

            flyerJson.description = $('#description').val();
            flyerJson.disqusShortname = $('#disqussShortname').val();

            var facebook = checkboxesList[0].isChecked();
            var twitter = checkboxesList[1].isChecked();
            var googleplus = checkboxesList[2].isChecked();
            var reshare = checkboxesList[3].isChecked();
            var reputup = checkboxesList[4].isChecked();
            flyerJson.tags=$('input.tags').val().split(',');


            $.post( '/flyer/publish', {flyer:flyerJson} )
                    .done(function(data){
                        $.removeCookie('flyerid',{path:'/'});
                        $('#buttonDone').removeClass('disabled');

                        alert('Flyer is published.')
                        window.location = '/';
                    })
                    .fail(function(data){
                        $('#buttonDone').removeClass('disabled');
                    });
        });

        // Load Flyer Properties
        flyerid = $('input[name=flyerid]').val();

        $().Flyer({}).json2flyer(flyerid, function(json){
            flyerJson = json;
            $('#flyerThumbnail').attr('src',json.thumbnail);
            $('#description').val(json.description);
            $('#disqussShortname').val(json.disqusShortname);
        });


    });

</script>

<div class="container-fluid">
    <div class="row-fluid" style="margin-bottom: 30px;">
        <div class="span9 offset1">
            <a href="/flyer/edit/null" class="btn btn-success pull-left">Back To Editor</a>
            <a href="#" id="buttonDone" class="btn btn-success pull-right">Done</a>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <div class="container-fluid" style="background-color: #f1f1f1;border-radius: 4px;padding: 20px;">

                <div class="row-fluid">
                    <div class="span12">
                        <div style="font-size: 2em; border-bottom: 1px solid #000;margin-bottom: 1em">
                            Publish Options
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <input type="hidden" name="flyerid" value="<%=flyerid%>"/>
                        <input type="text" id="description" placeholder="Enter a title" style="width: 100%">
                    </div>
                </div>

                <div class="row-fluid controls-row">

                    <div class="control-label"> Tags:</div>
                    <div class="controls">
                        <input class="htags" name='tags' type="hidden" />
                        <input class="tags"  type="text" data-role="tagsinput" />
                        <!--<label class="help-inline"></label>-->
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2">
                        <b>Share on:</b>
                    </div>
                    <div class="span4">
                        <g:plus action="share" href="http://booltin.herokuapp.com/flyer/<%=flyerid%>"></g:plus>
                    </div>
                    <div class="span3">
                        <div class="fb-share-button" data-href="http://booltin.herokuapp.com/flyer/<%=flyerid%>" data-type="button_count"></div>
                    </div>
                    <div class="span3">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://booltin.herokuapp.com/flyer/<%=flyerid%>" data-text="Here is my flyer" >Tweet</a></div>
                </div>
            </div>
            <div hidden>
                <div class="row-fluid"><div class="span10 offset2">Facebook<input type="checkbox" class="js-switch pull-right"></div></div>
                <div class="row-fluid"><div class="span10 offset2">Twitter<input type="checkbox" class="js-switch pull-right"></div></div>
                <div class="row-fluid"><div class="span10 offset2">Google+<input type="checkbox" class="js-switch pull-right"></div></div>
                <div class="row-fluid"><div class="span12"><b>Other Options:</b></div></div>
                <div class="row-fluid"><div class="span10 offset2">Comment<input type="text" id="disqussShortname" class="pull-right input-medium" placeholder="disqus shortname"></div></div>
                <div class="row-fluid"><div class="span10 offset2">Reshare<input type="checkbox" class="pull-right"></div></div>
                <div class="row-fluid"><div class="span10 offset2">Reput-up<input type="checkbox" class="pull-right"></div></div>
            </div>
        </div>
    </div>
</div>