<% layout('layout') -%>


<script src="/jquery-ui/js/file_upload.js"></script>

<script src="/script/rasterizeHTML.allinone.js"></script>

<script src="/html2canvas.js"></script>
<link href="/css/flyer.css" rel="stylesheet">

<!--<link href="/css/font-awesome.css" rel="stylesheet" />-->
<link href="/css/font-awesome.css" rel="stylesheet">

<script src="/chosen/chosen.jquery.js"></script>
<link href="/chosen/chosen.css" rel="stylesheet">

<script src="/script/google.map.js"></script> <!-- Put Google Map just before flyer.js -->

<!--<link rel="stylesheet" href="../../bootstrap-modal/css/bootstrap-modal.css">-->
<!--<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>-->
<!--<script src="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.js"></script>-->
<!--<script src="../../bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="../../bootstrap-modal/js/bootstrap-modalmanager.js"></script>-->
<!--<script src="../../bootstrap-modal/js/bootstrap-modal.js"></script>-->

<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->
<link href="/css/job.css" rel="stylesheet">
<script src="/script/Widgets/Widget.js"></script>
<script src="/script/Widgets/TextWidget.js"></script>
<script src="/script/Widgets/PictureWidget.js"></script>
<script src="/script/Widgets/VideoWidget.js"></script>
<script src="/script/Widgets/VoiceWidget.js"></script>
<script src="/script/Widgets/WorkTypeWidget.js"></script>
<script src="/script/Widgets/MapWidget.js"></script>
<script src="/script/Widgets/ButtonWidget.js"></script>
<script src="/script/Widgets/AnythingElseWidget.js"></script>
<script src="/script/Widgets/PersonalInfoWidget.js"></script>
<script src="/script/Widgets/ProfilesWidget.js"></script>
<script src="/script/Widgets/ResumeWidget.js"></script>
<script src="/script/Widgets/SeperatorWidget.js"></script>
<script src="/script/Widgets/SkillWidget.js"></script>
<script src="/script/Widgets/WorkTypeWidget.js"></script>
<script src="/script/Widgets/BadgeWidget.js"></script>

<script src="/script/Widgets/flyer.js"></script>
<script src="/script/jquery.hotkeys.js"></script>

<script src="/script/bootstrap-wysiwyg.js"></script>

<script src="/script/VideoTools.js"></script>
<script>
    var flyer;
    var flyerid;
    var previewWindow = 0;
    var dialog_confirm=$('<div id="dialog-confirm"  title="Remove"> <p id="contentholder"> Are you sure?</p></div>').hide();
    dialog_confirm.appendTo('body');

    $(function() {
        flyerid = $('input[name=flyerid]').val();
        flyer = $('.portletStack').Flyer({
            editMode:<%=editMode%>,
            flyerid:flyerid
        });

        $('#buttonPreview').click( function() {

            var flyerid = $('input[name=flyerid]').val();

            if( previewWindow==0 )
                previewWindow = window.open('/flyer/view/0?flyerid=' + flyerid);
            else
                previewWindow.location = '/flyer/view/0?flyerid=' + flyerid;
        })

        $('#buttonSave').click(function(){

            $('#buttonSave').text('Saving...').addClass('disabled');

            var flyerjson = flyer.flyer2json();
            flyerjson.thumbnail = '';

            $.post( '/flyer/save', {flyer:flyerjson} )
                    .done(function(data){
                        $('#buttonSave').text('Save').removeClass('disabled');
                    })
                    .fail(function(data){
                        $('#buttonSave').text('Save*').removeClass('disabled');
                    });

        });

        $('.portletHeader .logo').fileupload({
            url:'/flyer/upload',
            dataType: 'json',
            done: function (e, data) {
                flyer.setLogo( '/uploads/' + data.result.files[0].name , true );
            }
        });

        $('#plusButton').click(function(){
            $('#plusButton').hide();
            $('#addButtons').show();
        });

        $('.closeButton').click(function(){
            $('#plusButton').show();
            $('#addButtons').hide();
        });

        function rotate(element, degree) {
            element.animate({
                '-webkit-transform': 'rotate(' + degree + 'deg)',
                '-moz-transform': 'rotate(' + degree + 'deg)',
                '-ms-transform': 'rotate(' + degree + 'deg)',
                '-o-transform': 'rotate(' + degree + 'deg)',
                'transform': 'rotate(' + degree + 'deg)',
                'zoom': 1
            }, 5000);
        }

        $('#dropzone').click(function(){
            $('#resumefile').click();
        })

        document.getElementById('resumefile').onchange = function () {
            $('#dropzone').html('Your Résumé :<br/>' + this.value.replace(/^.*[\\\/]/, ''));
        };

        function getDoc(frame) {
            var doc = null;

            // IE8 cascading access check
            try {
                if (frame.contentWindow) {
                    doc = frame.contentWindow.document;
                }
            } catch(err) {
            }

            if (doc) { // successful getting content
                return doc;
            }

            try { // simply checking may throw in ie8 under ssl or mismatched protocol
                doc = frame.contentDocument ? frame.contentDocument : frame.document;
            } catch(err) {
                // last attempt
                doc = frame.document;
            }
            return doc;
        }

        $("#applyForm").submit(function(e) {

            /*
             // Name
             if( $('#name').val().length == 0 ){
             $('.error').show().html('Please enter your name');
             e.preventDefault();
             return false;
             }

             // Email
             if(validateEmail( $('#email').val() )==false){
             $('.error').show().html('Please enter a valid email address');
             e.preventDefault();
             return false;
             }
             */

            $('.error').hide();

            var formObj = $(this);
            var formURL = formObj.attr("action");

            if(window.FormData !== undefined)  // for HTML5 browsers
            {
                var formData = new FormData(this);
                $.ajax({
                    url: formURL,
                    type: 'POST',
                    data:  formData,
                    mimeType:"multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData:false,
                    success: function(data, textStatus, jqXHR) {
                        $('.temp').remove();
                        $('.thanks').show();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {

                    }
                });
                e.preventDefault();
                $('.applyNowButton').val('Sending...').attr('disabled','disabled');
            }
            else  //for olden browsers
            {
                //generate a random id
                var  iframeId = 'unique' + (new Date().getTime());

                //create an empty iframe
                var iframe = $('<iframe src="javascript:false;" name="'+iframeId+'" />');

                //hide it
                iframe.hide();

                //set form target to iframe
                formObj.attr('target',iframeId);

                //Add iframe to body
                iframe.appendTo('body');
                iframe.load(function(e)
                {
                    var doc = getDoc(iframe[0]);
                    var docRoot = doc.body ? doc.body : doc.documentElement;
                    var data = docRoot.innerHTML;
                    //data is returned from server.
                });
            }
        });

    });

</script>

<input type="hidden" name="flyerid" value="<%=flyerid%>"/>

<div class="container-fluid" style="width: 95%;">
    <% if(editMode) { %>
    <div class="row-fluid" style="margin-bottom: 30px;">
        <div class="span9 offset1" style="background-color: #555; color: #fff; line-height: 25px; padding-left:10px ">
            STEP 1 > <b>STEP2. Create Your Flyer </b> > STEP3</b>
            <a href="/flyer/publish/<%=flyerid%>" class="btn btn-success pull-right">Next</a>
            <a href="/flyer/template" class="btn btn-success pull-right">Back</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 offset1" style="margin-bottom: 10px;">
            <input type="hidden" name="flyertext" placeholder="Enter Flyer Description" />
            <button type="button" class="btn btn-success" id="buttonSave">Save</button>
            <button type="button" class="btn btn-warning" id="buttonPreview">Preview</button>
            <span><%=templateID%></span>
        </div>
        <div class="span1 offset4">
            <button class="btn btn-warning" onclick="changeBackground()">Background</button>
            <input type="file" id="backgroundImage" hidden>
        </div>
    </div>
    <% } %>

    <form action="/apply" method="POST" id='applyForm' name="applyForm" enctype='multipart/form-data'>

        <div class="row-fluid">
            <div class="span10 offset1" id="portletsBox">
                <div class="portletHeader">
                    <img class="logo">
                    <div class="title">
                        Title
                    </div>
                </div>

                <div class="portletStack"></div>

                <div class="portletCreator container-fluid">
                    <div class="row-fluid text-center" id="portletCreatorAlarm" hidden>
                        Error: There is no space for adding new portlet!
                    </div>

                    <div class="row-fluid" id="plusButton">
                        <div style="width: 84px; height: 64px;margin: 0 auto;">
                            <a class="buttonFrame plusButtonFrame">
                                <i class="button centeralBackgroundImage plusButton "></i>
                            </a>
                        </div>
                    </div>
                    <div class="row-fluid" id="addButtons" hidden>
                        <div style="margin: 0 auto;position: relative;width: 612px;">
                            <a class="newitem buttonFrame" type="1">
                                <i class="button centeralBackgroundImage addNewTextButton"></i>
                            </a>
                            <a class="newitem buttonFrame" type="2">
                                <i class="button centeralBackgroundImage addNewPhotoButton"></i>
                            </a>
                            <a class="newitem buttonFrame" type="3">
                                <i class="button centeralBackgroundImage addNewVideoButton"></i>
                            </a>
                            <a class="newitem buttonFrame">
                                <i class="button centeralBackgroundImage closeButton"></i>
                            </a>
                            <a class="newitem buttonFrame" type="7">
                                <span class="centeralBackgroundImage genericButton">Badge</span>
                            </a>
                            <a class="newitem buttonFrame" type="4">
                                <i class="button centeralBackgroundImage addNewLinkButton"></i>
                            </a>
                            <a class="newitem buttonFrame" type="6">
                                <i class="button centeralBackgroundImage addNewMapButton"></i>
                            </a>
                            <a class="newitem buttonFrame" type="8">
                                <span class="centeralBackgroundImage genericButton">WorkType</span>
                            </a>
                            <a class="newitem buttonFrame" type="9">
                                <span class="centeralBackgroundImage genericButton">PersonalInfo</span>
                            </a>
                            <a class="newitem buttonFrame" type="10">
                                <span class="centeralBackgroundImage genericButton">Resume</span>
                            </a>
                            <a class="newitem buttonFrame" type="11">
                                <span class="centeralBackgroundImage genericButton">Else?</span>
                            </a>
                            <a class="newitem buttonFrame" type="12">
                                <span class="centeralBackgroundImage genericButton">Profiles</span>
                            </a>
                            <a class="newitem buttonFrame" type="13">
                                <span class="centeralBackgroundImage genericButton">Seperator</span>
                            </a>
                            <a class="newitem buttonFrame" type="14">
                                <span class="centeralBackgroundImage genericButton">Skill</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="portletSubmittion container-fluid" style="background-color: #d1d1d1;">
                    <div class="row-fluid"  id="text">
                        <div class="span6 offset3">
                            <input type="submit" name="submit" class="btn3d btn3d-2 btn3d-2a applyNowButton" style="font-weight: 700" id="submit_btn" value="APPLY NOW"/>
                            <p class="error" style="display: none;color: red;text-align: center;font-size: 2em;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>

<div class="widgets">

<div class="textWidget">

    <!--<div class="btn-toolbar" data-role="editor-toolbar"-->
    <!--data-target="#editor">-->
    <!--<a data-edit="bold" style="display: block;width: 100px;height: 100px; background: red">bold</a>-->
    <!--<a data-edit="fontName Arial">...</a>-->
    <!--</div>-->
    <div id="editor" class="text-widget"></div>
</div>

<div class="imageWidget">
    <div class="imageWidgetOuterContainer">
        <div class="imageWidgetInnerContainer">
            <input type="file" name="picture" hidden>
            <i class="imageWidgetCamera"></i>
            <div>Drop your pictures here</div>
            <div>or
                <button class="wbtn wbtn-2 wbtn-2a browseImgBtn">Browse</button>
                your computer
            </div>
        </div>
    </div>

</div>

<div class="container-fluid mapWidget">
    <div class="row-fluid" >
        <div id="panel" class="offset2 span8 panel" style="height: 210px">
            <textarea id="address" placeholder="Sydney, NSW" class="address-left"></textarea>
            <div id="map-canvas" class="map-right"></div>
            <img id="map-image" hidden class="map-right">
        </div>
    </div>
</div>

<div class="container-fluid workTypeWidget" style="padding: 20px">
    <div class="row-fluid" id="workPlace-workType" >

        <div class="span0"></div>

        <div class="offset1 span5 workPlaceSpan" >
            <div style="margin-bottom: 5em;">

                <div class="radioButtonGroup">

                    <p class="radioButtonGroupDescription">3. You prefer to work at ...</p>

                    <div class="bbtn-group">
                        <input class="bbtn bbtn-radio" id="atHome" type="radio" name="workPlace" value="home" checked>
                        <label for="atHome" class="bbtn-label b-icon-container bbtn-circlular b-label-atHome">
                            <i class="b-icon b-icon-atHome" ></i>
                        </label>
                        <p class="subtitle">Home</p>
                    </div>

                    <div class="bbtn-group">
                        <input class="bbtn bbtn-radio" id="atOffice" type="radio" name="workPlace" value="office">
                        <label for="atOffice" class="bbtn-label b-icon-container bbtn-circlular b-label-atOffice">
                            <i class="b-icon b-icon-atOffice" ></i>
                        </label>
                        <p class="subtitle">Office</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="span5 workTimeSpan" >
            <div style="margin-bottom: 5em;">
                <div class="radioButtonGroup">

                    <p class="radioButtonGroupDescription">4. You prefer to work as ...</p>

                    <div class="bbtn-group">
                        <input class="bbtn bbtn-radio" id="fullTime" type="radio" name="workTime" value="fulltime" checked>
                        <label for="fullTime" class="bbtn-label b-icon-container bbtn-circlular b-label-fullTime">
                            <i class="b-icon b-icon-fullTime" ></i>
                        </label>
                        <p class="subtitle">Full-Time</p>
                    </div>

                    <div class="bbtn-group">
                        <input class="bbtn bbtn-radio" id="partTime" type="radio" name="workTime" value="parttime">
                        <label for="partTime" class="bbtn-label b-icon-container bbtn-circlular b-label-partTime">
                            <i class="b-icon b-icon-partTime" ></i>
                        </label>
                        <p class="subtitle">Part-Time</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid personalInfoWidget">
    <div class="row-fluid temp"  id="text">
        <div class="offset3 span6" >
            <div class="card">
                <div class="cardHead">
                    <img class="profilePic" id="profileImage">
                </div>
                <input type="text" name="name" id="name" placeholder="Enter Your Name ..." class="cardField">
                <hr>
                <input type="email" name="email" id="email" placeholder="Enter Your Email Address ..." class="cardField">
                <div class="cardFoot"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid anythingElseWidget">
    <div class="offset1 span10" >
        <textarea placeholder="Anything else?" rows="5" class="textarea" name="anythingElse"></textarea>
    </div>
</div>

<div class="container-fluid resumeWidget">
    <div class="offset1 span10" >
        <div class="dropZone" id="dropzone">
            <i class="logo resumeIcon"></i>
            <span>Click Here To Add Your Résumé (Max. 5MB)</span>
        </div>
        <input type="file" id="resumefile" name="resume" style="display: none" max-size="5,242,880">
    </div>
</div>

<div class="container-fluid profilesWidget">
    <div class="row-fluid github">
        <div class="offset3 span6" >
            <div class="profileAddress">
                <i class="icon github-icon"></i>
                <span>http://github.com/</span>
                <input type="text" name="ghprofile" id="ghprofile"  placeholder="You">
            </div>
            <iframe class="ghcard" frameborder="0" scrolling="0" width="100%" height="200" allowtransparency hidden=""></iframe>
        </div>
    </div>

    <div class="row-fluid stackoverflow">
        <div class="offset3 span6" >
            <div class="profileAddress">
                <i class="icon stackoverflow-icon"></i>
                <span>http://stackoverflow.com/</span>
                <input type="text" name="soprofile" id="soprofile"  placeholder="You">
            </div>
            <img class="soflair" hidden="">
        </div>
    </div>

    <div class="row-fluid dribbble">
        <div class="offset3 span6" >
            <div class="profileAddress">
                <i class="icon dribbble-icon"></i>
                <span>http://dribbble.com/</span>
                <input type="text" name="drprofile" id="drprofile"  placeholder="You">
            </div>
        </div>
    </div>

    <div class="row-fluid behance">
        <div class="offset3 span6" >
            <div class="profileAddress">
                <i class="icon behance-icon"></i>
                <span>http://behance.net/</span>
                <input type="text" name="beprofile" id="beprofile"  placeholder="You">
            </div>
        </div>
    </div>

    <div class="row-fluid linkedin">
        <div class="offset3 span6" >
            <div class="profileAddress">
                <i class="icon linkedin-icon"></i>
                <span>http://linkedin.com/in/</span>
                <input type="text" name="liprofile" id="liprofile"  placeholder="You">
            </div>
        </div>
    </div>

    <div class="row-fluid twitter">
        <div class="offset3 span6" >
            <div class="profileAddress">
                <i class="icon twitter-icon"></i>
                <span>http://twitter.com/</span>
                <input type="text" name="twprofile" id="twprofile"  placeholder="You">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid seperatorWidget">
    <div class="row-fluid" id="flatTitle">
        <div class="span12" >
            <div class="flatSection">
                <hr>
                <span>More Info</span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid skillWidget" style="padding: 20px">
    <div class="span12" >
        <div>

            <div style="display: table;margin: 0 auto;">

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='html5' type="checkbox" name="skill" value="html5">
                    <label for="html5" class="bbtn-label b-icon-container b-label-html5">
                        <i class="b-icon b-icon-html5" ></i>
                    </label>
                    <p>HTML5</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='css3' type="checkbox" name="skill" value="css3">
                    <label for="css3" class="bbtn-label b-icon-container b-label-css">
                        <i class="b-icon b-icon-css" ></i>
                    </label>
                    <p>CSS3</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='js' type="checkbox" name="skill" value="javascript">
                    <label for="js" class="bbtn-label b-icon-container b-label-js">
                        <i class="b-icon b-icon-js" ></i>
                    </label>
                    <p>Javascript</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='jquery' type="checkbox" name="skill" value="jquery">
                    <label for="jquery" class="bbtn-label b-icon-container b-label-jquery">
                        <i class="b-icon b-icon-jquery" ></i>
                    </label>
                    <p>jQuery</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='less' type="checkbox" name="skill" value="less">
                    <label for="less" class="bbtn-label b-icon-container b-label-less">
                        <i class="b-icon b-icon-less" ></i>
                    </label>
                    <p>Less</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='bootstrap' type="checkbox" name="skill" value="bootstrap">
                    <label for="bootstrap" class="bbtn-label b-icon-container b-label-bootstrap">
                        <i class="b-icon b-icon-bootstrap" ></i>
                    </label>
                    <p>Bootstrap</p>
                </div>

                <div class="bbtn-group">
                    <input class="bbtn bbtn-radio" id='git' type="checkbox" name="skill" value="git">
                    <label for="git" class="bbtn-label b-icon-container b-label-git">
                        <i class="b-icon b-icon-git" ></i>
                    </label>
                    <p>Git</p>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="container-fluid badgeWidget">
    <div class="row-fluid"  id="badge"  style="font-size: 2em;">
        <div class="col-sm-12">
            <div style="display: table;margin: 0 auto;">

                <div class="badgeOuterFrame">
                    <div class="badgeFrame">
                        <i class="badgeIcon badgeIconVacation"></i>
                        <div class="badgeDescription">You can take a vacation anywhere, anytime.</div>
                    </div>
                </div>

                <div class="badgeOuterFrame">
                    <div class="badgeFrame">
                        <i class="badgeIcon badgeIconFreeFood"></i>
                        <div class="badgeDescription">You will never get hungry, with a fully stocked snack bar.</div>
                    </div>
                </div>

                <div class="badgeOuterFrame">
                    <div class="badgeFrame">
                        <i class="badgeIcon badgeIconHealthCaring"></i>
                        <div class="badgeDescription">Comprehensive health insurance including dental & vision options</div>
                    </div>
                </div>

                <div class="badgeOuterFrame">
                    <div class="badgeFrame">
                        <i class="badgeIcon badgeIconShare"></i>
                        <div class="badgeDescription">You can have a share.<br/>0.5-1%</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>

<div class="toolbars">
    <div class="toolbar-text">
        <div class="btn-group">
            <a class="btn  btn-large dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Color"><i class="icon-tint"></i>&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li> <a class="btn btn-large" command="color #ff0000" title="Use Red Color"><i class="icon-tint"></i> Red</a></li>
                <li> <a class="btn btn-large" command="color #00ff00" title="Use Green Color"><i class="icon-tint"></i> Green</a></li>
                <li> <a class="btn btn-large" command="color #0000ff" title="Use Blue Color"><i class="icon-tint"></i> Blue</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn  btn-large dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a command="size 32px"><font size="5">Huge</font></a></li>
                <li><a command="size 20px"><font size="3">Normal</font></a></li>
                <li><a command="size 12px"><font size="1">Small</font></a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn btn-large"  command="align left" title="Align Left" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
            <a class="btn btn-large"  command="align center" title="Align Center" data-original-title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
            <a class="btn btn-large"  command="align right" title="Align Right" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-large " data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
            <a class="btn btn-large" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
            <a class="btn btn-large" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
        </div>

        <div class="btn-group">
            <a class="btn btn-large" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="icon-list-ul"></i></a>
            <a class="btn btn-large" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="icon-list-ol"></i></a>
        </div>
    </div>

    <div class="toolbar-separatorWidget">
        <input type="text" name="text" placeholder="Title">
        <input type="color" name="seperatorColor" style="width: 28px; height: 28px; padding: 2px">
    </div>

    <div class="toolbar-profileWidget">

<<<<<<< HEAD
        <input type="checkbox" id="github"   name="p" value="github" class="githubCheckbox" checked>
        <label for="github">Github</label>
        <input type="checkbox" id="stack"    name="p" value="stack" class="stackoverflowCheckbox" checked>
        <label for="stack">Stackoverflow</label>
        <input type="checkbox" id="dribble"  name="p" value="dribble" class="dribbbleCheckbox" checked>
        <label for="dribble">Dribbble</label>
        <input type="checkbox" id="behance"  name="p" value="behance" class="behanceCheckbox" checked>
        <label for="behance">Behance</label>
        <input type="checkbox" id="linkedin" name="p" value="linkedin" class="linkedinCheckbox" checked>
        <label for="linkedin">Linkedin</label>
        <input type="checkbox" id="twitter"  name="p" value="twitter" class="twitterCheckbox" checked>
        <label for="twitter">Twitter</label>
=======
            <input type="checkbox" id="github"   name="p" value="github" checked>
            <label for="github">Github</label>
            <input type="checkbox" id="stack"    name="p" value="stackoverflow"  checked>
            <label for="stack">Stackoverflow</label>
            <input type="checkbox" id="dribbble"  name="p" value="dribbble"  checked>
            <label for="dribbble">Dribbble</label>
            <input type="checkbox" id="behance"  name="p" value="behance" checked>
            <label for="behance">Behance</label>
            <input type="checkbox" id="linkedin" name="p" value="linkedin" checked>
            <label for="linkedin">Linkedin</label>
            <input type="checkbox" id="twitter"  name="p" value="twitter" checked>
            <label for="twitter">Twitter</label>
>>>>>>> Rewrite profile connection

    </div>

    <div class="toolbar-workTypeWidget">
        <div>
            <input type="radio" name="toolbar-worktype" class="toolbar-workType-time" no="1"><span>Time</span>
            <input type="radio" name="toolbar-worktype" class="toolbar-workType-place" no="2"><span>Place</span>
            <input type="radio" name="toolbar-worktype" class="toolbar-workType-both" no="3"><span>Both</span>
        </div>
    </div>

    <div class="toolbar-resumeWidget">
        <button name="connectToDropBox" class="btn">Connect to Dropbox</button>
    </div>

    <div class="toolbar-anything">
        <label for="anything-limit" >Limit:</label>

        <input id="anything-limit" type="number" command='limit' event='change keyup paste keydown' name="limit" value="1000" min="10" max="5000">
        <label>you have </label>
        <label class="remaind"></label>
        <label> left</label>
    </div>

    <div class="toolbar-skillsWidget">
        <div style="width: 350px;position: relative">

            <select name="chosen" data-placeholder="Choose skills ..." style="width:350px;" multiple class="chosen-select">
                <option value="html5">HTML5</option>
                <option value="css3">CSS3</option>
                <option value="javascript">Javascript</option>
                <option value="jquery">jQuery</option>
                <option value="less">Less</option>
                <option value="bootstrap">Bootstrap</option>
                <option value="git">Git</option>
            </select>

        </div>
    </div>

    <div class="toolbar-badgeWidget">

        <input type="checkbox" id="vacation"   name="badge" value="vacation" checked>
        <label for="vacation">vacation</label>

        <input type="checkbox" id="snack"   name="badge" value="snack" checked>
        <label for="snack">snak</label>

        <input type="checkbox" id="health"   name="badge" value="health" checked>
        <label for="health">health</label>

        <input type="checkbox" id="share"   name="badge" value="share" checked>
        <label for="share">share</label>

    </div>

</div>
