<% layout('layout') -%>


<script src="/jquery-ui/js/file_upload.js"></script>
<script src="/flyer.js"></script>
<script>
    var portletCounter = 0;
    var flyer;
    var flyerid;
    var portletStackID;

    $(function() {
        flyer = new Flyer(true);

        flyerid = $('input[name=flyerid]').val();
        portletStackID = 'portletStack';

        flyer.initPortlet( $('#' + portletStackID) );
        flyer.loadLastFlyer( flyerid, portletStackID );

        $( ".column" ).sortable({
            connectWith: ".column"
        }).disableSelection();

        $(".newitem").click(function(e){
            var itemType = $(this).attr('type');
            var itemID = portletCounter++;
            var portletType = flyer.portletTypeString2Type(itemType);

            flyer.createPortlet( portletType, itemID, null, portletStackID );
        });

        var previewWindow = 0;

        $('#buttonPreview').click( function() {

            var flyerid = $('input[name=flyerid').val();

            if( previewWindow==0 )
                previewWindow = window.open('/flyer/' + flyerid);
            else
                previewWindow.location = '/flyer/' + flyerid;
        })

        $('#buttonSave').click(function(){
            var flyerjson = flyer.flyer2json('portletStack');

            $('#buttonSave').text('Saving...').addClass('disabled');

            $.post( '/flyer/new', {flyer:flyerjson} )
                    .done(function(data){
                        $('#buttonSave').text('Save').removeClass('disabled');
                    })
                    .fail(function(data){
                        $('#buttonSave').text('Save*').removeClass('disabled');
                    });

            console.log( flyer );
        });

        $('#buttonCreate').click(function(){
            $('#buttonSave').click();
        });
    });
</script>

<style>
    .newitem {
        margin: 5px;
    }
</style>

<div class="container-fluid" style="width: 95%;">
    <div class="row-fluid"><h4>Creating New Flyer</h4></div>
    <div class="row-fluid">
        <div class="span3"  style="background-color: #e8eec2;">
            <form method="post" action="/flyer/new" class="form-actions">
                <fieldset>
                    <div class="control-group">
                        <legend>
                            Settings
                        </legend>
                        <div class="controls">
                            <input type="hidden" name="flyerid" value="<%=flyerid%>"/>
                            <input type="text" name="flyertext" placeholder="Enter Flyer Description"/>
                            <span class="help-block">Select Template</span>
                            <select name="templates" class="form-control">
                                <option value='template01'>Landscape</option>
                                <option value='template02'>Portrait</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <legend>
                            Publish
                        </legend>
                        <div class="controls">
                            <span class="help-block">Select First Board For Putting Up</span>
                            <select name="board" class="form-control">
                                <% for(i=0;i<boards.length;i++){%>
                                <option value=<%=boards[i]._id%>><%=boards[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="buttonCreate">Create</button>
                    <button type="button" class="btn btn-success" id="buttonSave">Save</button>
                    <button type="button" class="btn btn-warning" id="buttonPreview">Preview</button>
                </fieldset>
            </form>
        </div>
        <div class="span8">
            <div class="column" id="portletStack">
                <div class="portlet" id="portletCreator">
                    <div class="portlet-header">New Item</div>
                    <div class="portlet-content" style="height: 100%;">
                        <div class="row-fluid text-center">
                            <div class="span2 newitem" type="picture"><i class="icon-picture"></i></div>
                            <div class="span2 newitem" type="text"><i class="icon-font"></i></div>
                            <div class="span2 newitem" type="video"><i class="icon-facetime-video"></i></div>
                            <div class="span2 newitem" type="button"><i class="icon-globe"></i></div>
                            <div class="span2 newitem" type="tag"><i class="icon-tag"></i></div>
                            <div class="span2 newitem" type="map"><i class="icon-map-marker"></i></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="span1"  style="background-color: #e8eec2;box-shadow: 2px 2px 2px #555555;">

            <div class="container-fluid" style="padding: 0px;">
                <div class="row-fluid text-center" style="background-color: rgba(196, 190, 191, 0.97)">
                    <div class="span12">
                        <h4>ToolBox</h4>
                    </div>
                </div>
                <div class="row-fluid text-center">
                    <div class="span12 newitem" type="picture"><i class="icon-picture"></i></div>
                </div>
                <div class="row-fluid text-center">
                    <div class="span12 newitem" type="text"><i class="icon-font"></i></div>
                </div>
                <div class="row-fluid text-center">
                    <div class="span12 newitem" type="video"><i class="icon-facetime-video"></i></div>
                </div>
                <div class="row-fluid text-center">
                    <div class="span12 newitem" type="button"><i class="icon-globe"></i></div>
                </div>
                <div class="row-fluid text-center">

                    <div class="span12 newitem" type="tag"><i class="icon-tag"></i></div>
                </div>
                <div class="row-fluid text-center">
                    <div class="span12 newitem" type="map"><i class="icon-map-marker"></i></div>
                </div>
                <div class="row-fluid text-center">

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
