<% layout('layout') -%>


<script src="/jquery-ui/js/file_upload.js"></script>

<script src="http://cburgmer.github.io/rasterizeHTML.js/rasterizeHTML.allinone.js"></script>

<script src="/html2canvas.js"></script>
<link href="/css/flyer.css" rel="stylesheet">
<!--<link href="/css/font-awesome.css" rel="stylesheet" />-->
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.3/leaflet-image.js'></script>

<script src="/script/jquery.jcarousel.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> <!-- Put Google Map just before flyer.js -->

<!--<link rel="stylesheet" href="../../bootstrap-modal/css/bootstrap-modal.css">-->
<!--<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>-->
<!--<script src="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.js"></script>-->
<!--<script src="../../bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="../../bootstrap-modal/js/bootstrap-modalmanager.js"></script>-->
<!--<script src="../../bootstrap-modal/js/bootstrap-modal.js"></script>-->

<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->
<script src="/flyer.js"></script>
<script src="/script/jquery.hotkeys.js"></script>

<script src="/script/bootstrap-wysiwyg.js"></script>
<script>
    var flyer;
    var flyerid;
    var previewWindow = 0;

    function changeBackground() {
        $('#backgroundImage').click();
    }

    function shot(){
        var canvas = document.getElementById("canvas");
        var flyerElem = $('.portletStack');

        //rasterizeHTML.drawHTML(flyerElem,canvas);

        html2canvas(flyerElem, {
            onrendered: function(canvas) {
                console.log( canvas.toDataURL() );
            }
        });
    }

    $(function() {
//        $('.jcarousel').jcarousel();
        flyerid = $('input[name=flyerid]').val();
        flyer = $('.portletStack').Flyer({
            editMode:true,
            flyerid:flyerid
        });

//        $('#portletCreatorAlarm').hallo();

        $('#buttonPreview').click( function() {

            var flyerid = $('input[name=flyerid]').val();

            if( previewWindow==0 )
                previewWindow = window.open('/flyer/' + flyerid);
            else
                previewWindow.location = '/flyer/' + flyerid;
        })

        $('#buttonSave').click(function(){

            $('#buttonSave').text('Saving...').addClass('disabled');

            var flyerElem = $('.portletStack');
            var flyerjson = flyer.flyer2json();

            flyer.getShot(function(image){

                flyerjson.thumbnail = image;

                $.post( '/flyer/save', {flyer:flyerjson} )
                        .done(function(data){
                            $('#buttonSave').text('Save').removeClass('disabled');
                        })
                        .fail(function(data){
                            $('#buttonSave').text('Save*').removeClass('disabled');
                        });
            });

            /*
             // Generate Thumbnail Image
             html2canvas(flyerElem, {
             onrendered: function(canvas) {
             console.log( canvas.toDataURL() );


             flyerjson.thumbnail = canvas.toDataURL();

             $.post( '/flyer/save', {flyer:flyerjson} )
             .done(function(data){
             $('#buttonSave').text('Save').removeClass('disabled');
             })
             .fail(function(data){
             $('#buttonSave').text('Save*').removeClass('disabled');
             });
             }
             });
             */
        });

        $('#backgroundImage').fileupload({
            url:'/flyer/upload',
            dataType: 'json',
            done: function (e, data) {
                flyer.setBackground( '/uploads/' + data.result.files[0].name , true );
            }
        });

        $('#plusButton').click(function(){
            $('#plusButton').hide();
            $('#addButtons').show();
        });

        $('.closeButton').click(function(){
            $('#plusButton').show();
            $('#addButtons').hide();
        });

        function rotate(element, degree) {
            element.animate({
                '-webkit-transform': 'rotate(' + degree + 'deg)',
                '-moz-transform': 'rotate(' + degree + 'deg)',
                '-ms-transform': 'rotate(' + degree + 'deg)',
                '-o-transform': 'rotate(' + degree + 'deg)',
                'transform': 'rotate(' + degree + 'deg)',
                'zoom': 1
            }, 5000);
        }
    });

</script>

<div class="container-fluid" style="width: 95%;">
    <div class="row-fluid" style="margin-bottom: 30px;">
        <div class="span9 offset1" style="background-color: #555; color: #fff; line-height: 25px; padding-left:10px ">
            STEP 1 > <b>STEP2. Create Your Flyer </b> > STEP3</b>
            <a href="/flyer/publish/<%=flyerid%>" class="btn btn-success pull-right">Next</a>
            <a href="/flyer/template" class="btn btn-success pull-right">Back</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 offset1" style="margin-bottom: 10px;">
            <input type="hidden" name="flyerid" value="<%=flyerid%>"/>
            <input type="hidden" name="flyertext" placeholder="Enter Flyer Description" />
            <button type="button" class="btn btn-success" id="buttonSave">Save</button>
            <button type="button" class="btn btn-warning" id="buttonPreview">Preview</button>
            <span><%=templateID%></span>
        </div>
        <div class="span1 offset4">
            <button class="btn btn-warning" onclick="changeBackground()">Background</button>
            <input type="file" id="backgroundImage" hidden>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 offset2" id="portletsBox">
            <div class="portletStack">
            </div>
            <div class="portletCreator container-fluid">
                <div class="row-fluid text-center" id="portletCreatorAlarm" hidden>
                    Error: There is no space for adding new portlet!
                </div>

                <div class="row-fluid" id="plusButton">
                    <div style="width: 84px; height: 64px;margin: 0 auto;">
                        <a class="buttonFrame plusButtonFrame">
                            <i class="button centeralBackgroundImage plusButton "></i>
                        </a>
                    </div>
                </div>
                <div class="row-fluid" id="addButtons" hidden>
                    <div style="margin: 0 auto;position: relative;width: 612px;">
                        <a class="newitem buttonFrame" type="1">
                            <i class="button centeralBackgroundImage addNewTextButton"></i>
                        </a>
                        <a class="newitem buttonFrame" type="2">
                            <i class="button centeralBackgroundImage addNewPhotoButton"></i>
                        </a>
                        <a class="newitem buttonFrame" type="3">
                            <i class="button centeralBackgroundImage addNewVideoButton"></i>
                        </a>
                        <a class="newitem buttonFrame">
                            <i class="button centeralBackgroundImage closeButton"></i>
                        </a>
                        <a class="newitem buttonFrame" type="7">
                            <i class="button centeralBackgroundImage addNewVoiceButton"></i>
                        </a>
                        <a class="newitem buttonFrame" type="4">
                            <i class="button centeralBackgroundImage addNewLinkButton"></i>
                        </a>
                        <a class="newitem buttonFrame" type="6">
                            <i class="button centeralBackgroundImage addNewMapButton"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="widgets">

    <div class="textWidget">

        <!--<div class="btn-toolbar" data-role="editor-toolbar"-->
        <!--data-target="#editor">-->
        <!--<a data-edit="bold" style="display: block;width: 100px;height: 100px; background: red">bold</a>-->
        <!--<a data-edit="fontName Arial">...</a>-->
        <!--</div>-->
        <div id="editor" class="text-widget"></div>
    </div>

    <div class="mapWidget">
        <div id="panel" class="panel">
            <textarea id="address" placeholder="Sydney, NSW" class="address-left"></textarea>
            <div id="map-canvas" class="map-right"></div>
            <img id="map-image" hidden class="map-right">
        </div>
    </div>

    <div class="mapWidgetSetting">
        Setting
    </div>

</div>

<div class="toolbars">
    <div class="toolbar-text">
        <div class="btn-group">
            <a class="btn  btn-large dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Color"><i class="icon-tint"></i>&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li> <a class="btn btn-large" data-edit="foreColor #ff0000" title="Use Red Color"><i class="icon-tint"></i> Red</a></li>
                <li> <a class="btn btn-large" data-edit="foreColor #00ff00" title="Use Green Color"><i class="icon-tint"></i> Green</a></li>
                <li> <a class="btn btn-large" data-edit="foreColor #0000ff" title="Use Blue Color"><i class="icon-tint"></i> Blue</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn  btn-large dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn btn-large" title="Align Left" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
            <a class="btn btn-large" title="Align Center" data-original-title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
            <a class="btn btn-large" title="Align Right" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-large " data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
            <a class="btn btn-large" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
            <a class="btn btn-large" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-large" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="icon-list-ul"></i></a>
            <a class="btn btn-large" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="icon-list-ol"></i></a>
        </div>
    </div>
</div>
