<% layout('layout') -%>

<style>
    #portletStack {
        box-shadow: 1px 1px 10px;
    }
</style>
<link href="/css/flyer.css" rel="stylesheet">
<link href="/css/job.css" rel="stylesheet">

<script src="/script/Widgets/Widget.js"></script>
<script src="/script/Widgets/TextWidget.js"></script>
<script src="/script/Widgets/PictureWidget.js"></script>
<script src="/script/Widgets/VideoWidget.js"></script>
<script src="/script/Widgets/VoiceWidget.js"></script>
<script src="/script/Widgets/WorkTypeWidget.js"></script>
<script src="/script/Widgets/MapWidget.js"></script>
<script src="/script/Widgets/ButtonWidget.js"></script>
<script src="/script/Widgets/AnythingElseWidget.js"></script>
<script src="/script/Widgets/PersonalInfoWidget.js"></script>
<script src="/script/Widgets/ProfilesWidget.js"></script>
<script src="/script/Widgets/ResumeWidget.js"></script>
<script src="/script/Widgets/SeparatorWidget.js"></script>
<script src="/script/Widgets/SkillWidget.js"></script>
<script src="/script/Widgets/WorkTypeWidget.js"></script>
<script src="/script/widgets/flyer.js"></script>
<script>
    $(function(){
        var flyerid = $('input[name=flyerid]').val();

        $('#portletStack').Flyer({
            editMode:false,
            flyerid:flyerid
        });
        /*
        $().Flyer({}).getThumbnail(flyerid, function(imgURL){
            $('<img>')
                    .attr('src',imgURL)
                    .attr('itemprop','image')
                    .width(400)
                    .appendTo($('#portletStack'));
        });
        */
    });
</script>

<div class="container" itemscope itemtype="http://schema.org/flyer">
    <div class="row" style="padding: 5px">
        <div class="span6">
            <input type="hidden" name="flyerid" value="<%=flyer._id%>">
        </div>
        <div class="span2 pull-right">
            <% if(isOthersFlyer==true){ %>
            <button class="btn btn-small btn-danger" type="button" id="TicketButton" value="<%=flyer._id%>">Take a Ticket</button>
            <% } else { %>
            <button class="btn btn-small btn-danger" type="button" id="EditFlyerButton">Edit Your Flyer</button>
            <% } %>

        </div>
    </div>
    <div class="row" style="padding: 5px">
        <h2 itemprop="name">
            flyer name
        </h2>
        <h2  >
            <strong itemprop="description"><%=flyer.flyer ? flyer.flyer.description : "untitled"%></strong>
        </h2>
    </div>
    <div class="row">
        <div class="span12">
            <div id="portletStack"></div>
        </div>
    </div>

    <% if(flyer.flyer.disqusShortname){ %>
    <div class="row" style="margin-top: 30px;">
        <div class="span8 offset2">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = '<%=flyer.flyer.disqusShortname%>';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>
    <% } %>

</div>
