<% layout('layout') -%>

<link rel="stylesheet" href="http://abpetkov.github.io/switchery/dist/switchery.min.css" />
<script src="http://abpetkov.github.io/switchery/dist/switchery.min.js"></script>

<link rel="stylesheet" href="http://welldonethings.com/managed/tagmanager.css">
<script src="http://welldonethings.com/managed/tagmanager.js"></script>

<link href="http://hallojs.org/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
<script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js"></script>
<script src="http://hallojs.org/js/hallo.js"></script>

<script src="/script/jquery.jcarousel.min.js"></script>
<script src="/script/jquery.cookie.js"></script>
<script src="/flyer.js"></script>

<script>
    var flyerJson;
    var flyerid;
    var checkboxesList = [];
    var tagApi=[];
    var tag_board = {};
    var markers = [];
    var boards = [];
    var tagManager;
    var selectedBoards = [];
    var defaultSelectedBoard = [];
    var selectionSources = { Tag:0, Map:1 };

    $(function(){

        var host = this;
        init();
       /* document.getElementById("boardNamesList").type="text";
        $('#boardNamesList').addClass('tm-input').appendTo(host);*/
/*
        $('<input>').attr('type','text').attr('id','boardNamesList').addClass('tm-input').appendTo(host);
*/
        tagApi = jQuery("#boardNamesList").tagsManager({
             deleteTagsOnBackspace: true,
             backspace:[]
        }).on('tm:pushed',function(e,t){
                    // Clear input
                    jQuery("#boardNamesList").val('');

                    var boardid = tag_board[t.hashCode()];
                    AddedToTagsList( boardid2boardIndex(boardid) );
                })
                .on('tm:spliced',function(e,t){
                    var boardid = tag_board[t.hashCode()];
                    RemovedFromTagsList( boardid2boardIndex(boardid) );
                });

        $.getJSON('/board/get/public',function(publicBoards){
            $.each(publicBoards, function(index,board){
                if( board.locationlng && board.locationlat){
                    boards.push(board);

                    markers.push({
                        type: 'Feature',
                        geometry:{
                            type:'Point',
                            coordinates:[board.locationlng,board.locationlat]
                        },
                        properties: {
                            title: board.name,
                            description: board.category,
                            'marker-size': 'large',
                            'marker-color': '522',
                            'boardIndex': index
                        }
                    })
                }
            });
        });



       /* $.getJSON('/board/get/public',function(boards){
            $.each(boards,function(index,boardnn){
                if( boardnn.locationlng && boardnn.locationlat){
                    tagApi.tagsManager(
                            "pushTag",boardnn.name
                    )
                }
            })
        });*/
        jQuery("#boardNamesList").parent().find('.tt-hint')
                .css('background','none')
                .css('display','none');

        /*$.getJSON('/board/get/public',function(boards){
            jQuery("#boardNamesList").tagsManager({
                tagApi.tagsManager("pushTag",boards.name)
        });
    });*/
        jQuery("#boardNamesList").typeahead({
            name: 'boards',
            limit: 15,
            valueKey: 'display',
            remote: '/search/boards/name?q=%QUERY'
        }).on('typeahead:selected', function (e, d) {
                    tagApi.tagsManager("pushTag", d.display);
                });

        var heightdiv=host.height-30;
        document.getElementById("putupMap").height=heightdiv;
        document.getElementById("putupMap").width=host.width;
        /*$('<div>').attr('id','putupMap')
                .width( host.width() )
                .height( host.height() - 30 )
                .appendTo(host);*/
        map = L.mapbox.map('map', 'coybit.gj1c3kom',{
            doubleClickZoom: false
        }).setView([37.9, -77],6);

        map.markerLayer.on('click',function(e) {
            var boardIndex = e.layer.feature.properties.boardIndex;
            SelectByMap(boardIndex,selectionSources.Map);
        });


        var switchsList = $('input[type=checkbox]')
        switchsList.each(function(idx){
            checkboxesList[idx] = new Switchery(switchsList[idx]);
        })

        $('.switchery').addClass('pull-right')

        $('.row-fluid .switchery').css('margin-top','10px').css('text-','10px')

        // Save Flyer Proeprties
        $('#buttonDone').click(function(){

            $('#buttonDone').addClass('disabled');

            flyerJson.description = $('#description').val();
            flyerJson.disqusShortname = $('#disqussShortname').val();

            var facebook = checkboxesList[0].isChecked();
            var twitter = checkboxesList[1].isChecked();
            var googleplus = checkboxesList[2].isChecked();
            var reshare = checkboxesList[3].isChecked();
            var reputup = checkboxesList[4].isChecked();

            $.post( '/flyer/save', {flyer:flyerJson} )
                    .done(function(data){
                        $.removeCookie('flyerid',{path:'/'});
                        $('#buttonDone').removeClass('disabled');
                    })
                    .fail(function(data){
                        $('#buttonDone').removeClass('disabled');
                    });
        });

        // Load Flyer Properties
        flyerid = $('input[name=flyerid]').val();

        $().Flyer({}).json2flyer(flyerid, function(json){
            flyerJson = json;
            $('#flyerThumbnail').attr('src',json.thumbnail);
            $('#description').val(json.description);
            $('#disqussShortname').val(json.disqusShortname);
        });
        /////////////////////////////////////////


        function indexInSelectedBoard(boardIndex){
            for(var i=0; i<selectedBoards.length;i++)
                if( boardIndex == selectedBoards[i] )
                    return i;
            return -1;
        }
        function SelectByMap(boardIndex){

            // Find its index in selectedBoards
            var idxInSelectedBoard = indexInSelectedBoard(boardIndex);

            if( idxInSelectedBoard==-1 ){ // Select

                // Add to selected boards list
                selectedBoards.push(boardIndex);

                // Add to tags list
                tag_board[ boards[boardIndex].name.hashCode() ] = boards[boardIndex]._id;
                tagManager.tagsManager("pushTag", boards[boardIndex].name,true);

                // Select map marker
                var marker = markers[ boardIndex ];
                marker.properties['marker-color'] = '#000';
                map.markerLayer.setGeoJSON(markers);
            }
            else {
                // Remove from selected boards list
                selectedBoards.splice(idxInSelectedBoard,1);

                // Remove tag from tags list
                var tags = tagManager.tagsManager('tags').slice(0);
                tagManager.tagsManager('empty');
                tags.splice(idxInSelectedBoard,1)
                tags.forEach(function(tag){
                    tagManager.tagsManager("pushTag",tag,true);
                });

                // Deselect map marker
                var marker = markers[ boardIndex ];
                marker.properties['marker-color'] = '#522';
                map.markerLayer.setGeoJSON(markers);
            }
        }
        function RemovedFromTagsList(boardIndex){

            // Find its index in selectedBoards
            var idxInSelectedBoard = indexInSelectedBoard(boardIndex);

            if( idxInSelectedBoard!=-1 ){ // Select

                // Remove from selected boards list
                selectedBoards.splice(idxInSelectedBoard,1);

                // Deselect map marker
                var marker = markers[ boardIndex ];
                marker.properties['marker-color'] = '#522';
                map.markerLayer.setGeoJSON(markers);
            }
        }
        function AddedToTagsList(boardIndex){

            // Find its index in selectedBoards
            var idxInSelectedBoard = indexInSelectedBoard(boardIndex);

            if( idxInSelectedBoard==-1 ){ // Select

                // Add to selected boards list
                selectedBoards.push(boardIndex);

                // Select map marker
                var marker = markers[ boardIndex ];
                marker.properties['marker-color'] = '#000';
                map.markerLayer.setGeoJSON(markers);
            }
        }
        function boardid2boardIndex(boardid){

            for(var i=0; i<boards.length;i++)
                if( boardid==boards[i]._id )
                    return i;
            return -1;
        }
        function init(){

            String.prototype.hashCode = function(){
                var hash = 0, i, char;
                if (this.length == 0) return hash;
                for (var i = 0, l = this.length; i < l; i++) {
                    char  = this.charCodeAt(i);
                    hash  = ((hash<<5)-hash)+char;
                    hash |= 0; // Convert to 32bit integer
                }
                return hash.toString();
            };

            //initTagsInput();
//        initMap();
            //loadData();
        }
        this.getSelectedBoards = function() {
            return selectedBoards.map(function(selectedBoard){
                return boards[selectedBoard]
            });
        }

        this.setSelectedBoards = function(boards) {
            defaultSelectedBoard = boards.splice(0)
        }

        this.getDefaultSelectedBoards = function() { return defaultSelectedBoard; }

        return this;
    });




</script>
<script>
    $(document).ready(main);
    function submit(){
        $("input#tag").tagsinput('items');
    }

    var marker;
   // var map;
    function fillCategory(){
        $.get('/board/categories',
                function(cats){
                    var options=$('select.categories');
                    $.each(cats,
                            function(i,cat){
                                options.append(
                                        $('<option>').attr('name',cat.id).append(
                                                cat.name
                                        )
                                );

                            });
                });
    }

    function main(){
        fillCategory();



        $.getJSON('/board/get/public',function(boards){
            var geoJson= new Array();
            $.each(boards,function(index,boardnn){

                if( boardnn.locationlng && boardnn.locationlat) {
                    geoJson.push({
                        type: 'Feature',
                        geometry:{
                            type:'Point',
                            coordinates:[boardnn.locationlng,boardnn.locationlat]
                        },
                        properties: {
                            title: boardnn.name,
                            description: boardnn.category,
                            'marker-size': 'large',
                            'marker-color': 'CC0033'
                        }
                        // draggable: true
                    })
                }
            });
            map.markerLayer.setGeoJSON(geoJson);
        });




    }

    function locationError(msg) {
//    if(msg==null)
//        msg='Failed to find location. Allow your browser to access your location.';
        $('#msgLocationError>.msg').text(msg.message).parent().show();
    }


    function ErrorMsg(msg) {
        $('.message-error').show();
        $('.message-error>.msg-error').text(msg);
    }

    function locationFound(e) {
        map.fitBounds(e.bounds);
        marker.setLatLng(e.latlng);


    }

</script>

<div class="container-fluid">
    <div class="row-fluid" style="margin-bottom: 30px;">
        <div class="span9 offset1" style="background-color: #555; color: #fff; line-height: 25px; padding-left:10px ">
            STEP 1 > STEP2 > <b>STEP3. Publish your flyer</b>
            <a href="/flyer/editor" class="btn btn-success pull-right">Back</a>
            <a href="#" id="buttonDone" class="btn btn-success pull-right">Done</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 offset1">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <input type="hidden" name="flyerid" value="<%=flyerid%>"/>
                        <input type="text" id="description" placeholder="Enter a title" style="width: 100%">
                    </div>
                </div>
                <div class="row-fluid"><div class="span12"><b>Share on:</b></div></div>
                <div class="row-fluid"><div class="span10 offset2">Facebook<input type="checkbox" class="js-switch pull-right"></div></div>
                <div class="row-fluid"><div class="span10 offset2">Twitter<input type="checkbox" class="js-switch pull-right"></div></div>
                <div class="row-fluid"><div class="span10 offset2">Google+<input type="checkbox" class="js-switch pull-right"></div></div>
                <div class="row-fluid"><div class="span12"><b>Other Options:</b></div></div>
                <div class="row-fluid"><div class="span10 offset2">Comment<input type="text" id="disqussShortname" class="pull-right input-medium" placeholder="disqus shortname"></div></div>
                <div class="row-fluid"><div class="span10 offset2">Reshare<input type="checkbox" class="pull-right"></div></div>
                <div class="row-fluid"><div class="span10 offset2">Reput-up<input type="checkbox" class="pull-right"></div></div>
            </div>
        </div>
        <div class="span6">
            <div class="container-fluid">
                <div class="row-fluid" style="margin: 20px">
                    <img width="300px" id="flyerThumbnail">
                </div>
                <div class="row-fluid">
                    <div class="span12" id="putupMap" style="border: 1px solid #000;padding: 5px 0 0 5px;">
                        <input type="text" name="tags" placeholder="Board Name" class="tm-input" id="boardNamesList"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12" style="border: 1px solid #000;">
                        <div id="map" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>