<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Hireberry - Recruiting Software and Applicant Tracking System </title>
    <meta name="robots" content="index, follow">
    <meta name="description"
          content="HireBerry is a web-based applicant tracking system and recruitment software helps Tech Startups & SMEs attract the best talents.">
    <meta name="keywords" content="recruitment software,applicant tracking system, hiring, ATS ">
    <meta name="google-site-verification" content="0aO8kYtOOtJAq_igefgnsWHwng6w6GlBCBOmeeFVSA8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="0aO8kYtOOtJAq_igefgnsWHwng6w6GlBCBOmeeFVSA8" />


    <script src="/script/jquery.min.js"></script>
    <script src="/bootstrap3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/landingpage.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'
          type='text/css'>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52471230-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script>

        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function scrollSlowTo(element) {
            $( "html, body" ).animate({
                scrollTop: $(element)[0].offsetTop
            }, "slow" );
        }

        var arrowYPos;

        $(function () {

            $(window).on('resize', function() {
               locateElements();
            });

            function locateElements() {
                $('.hb-cover').css('min-height', $(window).height() );

                // Vertical alignment
                $('.hb-caption').each( function(i,e) {
                    var h1=$(e).height();
                    var h2=$(e).closest('.row').find('.hb-land-icon-perk').height();
                    var padding = (h2-h1)/2;
                    $(e).css('padding-top',padding);
                    $(e).css('padding-bottom',padding);
                });

                arrowYPos = Math.min( $(window).height(), $('.hb-cover').height() ) - $('.hb-scroll-arrow').height() - 16;
                $('.hb-scroll-arrow').css('top', arrowYPos  );
            }

            locateElements();

            var fixNavbarHeight = $('.navbar').height() + 1;
            var navBarChangeThreshold = 100;

            $(window).scroll(function () {

                var nabBarIsHidden = $('.navbar-fixed-top').hasClass('navbar-hidden');

                if ($(window).scrollTop() >= navBarChangeThreshold && nabBarIsHidden) {
                    $('.navbar-fixed-top').removeClass('navbar-hidden').animate({top: 0}, 500);
                } else if ($(window).scrollTop() < navBarChangeThreshold && nabBarIsHidden == false) {
                    $('.navbar-fixed-top').addClass('navbar-hidden').animate({top: -fixNavbarHeight}, 500);
                }
            });

            $('.navbar-fixed-top').addClass('navbar-hidden').css('top', -fixNavbarHeight);


            // Event Handlers

            $('.hb-scroll-arrow').show().click( function() {
                scrollSlowTo('.hb-hero');
            });
            goUp();

            function goUp() {
                $('.hb-scroll-arrow').animate({top:arrowYPos-16}, 1000, function() {
                    goDown();
                });
            }
            function goDown() {
                $('.hb-scroll-arrow').animate({top:arrowYPos}, 800, function() {
                    goUp();
                });
            }

            $('#btn-active-invite, #btn-active-promocode').unbind('click').click( function() {

                var btn = this;
                var disapearTime = 0;

                setTimeout(function() {
                    var e1 = $('.hb-inline-form[active="true"]').attr('id');
                    var e2 = $('.hb-inline-form[active="false"]').attr('id');
                    $('#'+e1).attr('active',false);
                    $('#'+e2).attr('active',true);

                    e1 = $('.hb-inline-form-activator[active="true"]').attr('id');
                    e2 = $('.hb-inline-form-activator[active="false"]').attr('id');
                    $('#'+e1).attr('active',false);
                    $('#'+e2).attr('active',true);

                    $('.hb-inline-form,.hb-inline-form-activator').animate({opacity:1.0}, disapearTime *.75 );
                },disapearTime);

                $('.hb-inline-form,.hb-inline-form-activator').animate({opacity:0.0}, disapearTime);

            });

            $('.try-it-btn').click( function() {
                scrollSlowTo('.hb-cover');
            });

            $('.hb-invite-email .input-group button').click( function() {
                var email = $('#email-input').val();

                if( validateEmail(email) == false ) {
                    $('#email-input').css('background-color','rgb(255, 219, 219)');
                    return;
                }

                $(this).attr('disabled',true);
                $('#email-input').attr('disabled',true);

                // Send
                $.post('/requestInvitation',{email:email}).done( function() {
                    $('.hb-invite-email, .hb-promo-code').remove();
                    $('.hb-invite-message').show();
                });

            });

            $('.hb-promo-code .input-group button').click( function() {
                var promoCode = $('#promo-code-input').val();
                document.location = "/register?code=" + promoCode;
            });

            $('.hb-vmenu-item').click( function() {
                $('.hb-vertical-menu').attr('active-item', $(this).attr('item-index'));
                $('.hb-vmenu-item').removeClass('actived');
                $(this).addClass('actived');

                $('.hb-why-row, .hb-features-row, .hb-pricing-row').hide();

                switch( parseInt( $(this).attr('item-index') ) ) {
                    case 1:
                        $('.hb-why-row').show();
                        break;
                    case 2:
                        $('.hb-features-row').show();
                        break;
                    case 3:
                        $('.hb-pricing-row').show();
                        break;
                }
            });
        });
    </script>
</head>

<body class="hb-land-body">

<div class="navbar navbar-default hb-navbar navbar-normal-top" role="navigation">

    <div class="container-fluid hb-nav-container">
        <div class="navbar-header hb-navbar-header">
            <a class="hb-brand hb-brand-white" href="#"></a>
        </div>
        <div class="hb-navbar-action-container">
            <div class="hb-nav-btn-no-border ">
                <a class='hb-nav-btn  hb-nav-btn-bold' href="/login?code=<%= code %>">Login</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li>-->
        <!--<a class='hb-nav-btn ' href="#">-->

        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->

    </div>
</div>

<div class="navbar navbar-default hb-navbar navbar-fixed-top"  role="navigation">

    <div class="container-fluid hb-nav-container">
        <div class="navbar-header hb-navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="#nav-action-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="hb-brand hb-brand-purple" href="#"></a>
            <a class="hb-moto">
                <div class="hb-arrow-left"></div>
                <!--<div class="hb-arrow-left  hidden-xs visible-sm visible-md visible-lg"> </div>-->
                <!--<div class="hb-arrow-up  visible-xs hidden-sm hidden-md hidden-lg"></div>-->
                    <span>
                        It makes sense!
                    </span>
            </a>
        </div>
        <div class="hb-navbar-action-container">
            <div class="hb-nav-btn-border ">
                <a class="hb-nav-btn hb-nav-btn-try-now try-it-btn" href="#">TRY NOW</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-action-btn">
                <ul class="nav navbar-nav navbar-right hb-nav-btn-list">
                    <li class="active ">
                    </li>
                    <li><a class="hb-nav-btn hb-nav-btn-try-now try-it-btn" href="#">TRY NOW</a></li>
                    <li><a class='hb-nav-btn ' href="#">Features</a></li>
                    <li><a class='hb-nav-btn ' href="#">Pricing</a></li>
                    <li><a class='hb-nav-btn  hb-nav-btn-bold' href="/login?code=<%= code %>">Login</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li>-->
        <!--<a class='hb-nav-btn ' href="#">-->

        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->

    </div>
</div>

<div class="container hb-hero-container">

    <div class="row hb-cover">
        <div class="col-md-12 hb-cover-col">

            <div class="hb-cover-floor hb-tag-line">
                <h1>HANDPICK YOUR TEAM WISELY</h1>
            </div>

            <div class="hb-cover-floor">
                <div class="input-group hb-inline-form" id="hb-promo-code" active="true">
                    <input type="text" class="form-control" id="promo-code-input" placeholder="Enter your Promo-Code here ..." value="<%= code %>">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Try it NOW</button>
                    </span>
                </div>
                <div class="input-group hb-inline-form" id="hb-invite-email" active="false">
                    <input type="text" class="form-control" id="email-input" placeholder="Enter your email address here ...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Invite Me!</button>
                    </span>
                </div>
            </div>
            <div class="hb-cover-floor">
                <button id="btn-active-promocode" class="hb-inline-form-activator" for="hb-promo-code" active="false">Have a Promo-Code?</button>
                <button id="btn-active-invite" class="hb-inline-form-activator" for="hb-invite-email" active="true">Want an invitation?</button>
            </div>
            <div class="hb-cover-floor hb-invite-message" hidden>
                <h3>Thanks you. We will contact you ASAP.</h3>
            </div>
        </div>
        <div class="hb-scroll-arrow bounce"></div>
    </div>

    <div class="row hb-hero">
        <div class="col-md-6 col-md-push-6 hb-hero-img-container">
            <img
                    class='hb-hero-img' width="auto" height="auto"
                    src="/images/LP-macbook@2x.png" alt="HireBerry hero unit image"/>
        </div>

        <div class="col-md-6 col-md-pull-6 hb-hero-description">
            <div class="hb-hero-summary" itemscope itemtype="http://schema.org/WebApplication">
                <h2> What is <span itemprop="name">HireBerry</span>?</h2>

                <p itemprop="description">
                    HireBerry is a web-based applicant tracking system and recruitment software helps Tech Startups &
                    SMEs attract the best talents.
                </p>

                <!--
                <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <u>Rated:</u>
                    <span itemprop="ratingValue">5</span> / 5  based on
                    <span itemprop="reviewCount">1000</span> customer reviews
                </div>

                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <span itemprop="price">FREE</span>
                    <span itemprop="price">$30</span>
                    <link itemprop="availability" href="www.hireberry.com" />
                </div>
                -->

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="hb-vertical-menu" active-item="1">
                <ul>
                    <li>
                        <a class="hb-vmenu-item actived" item-index="1" href="#Why">Why hireberry</a>
                    </li>
                    <li>
                        <a class="hb-vmenu-item" item-index="2" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="hb-vmenu-item" item-index="3" href="#pricing">Pricing</a>
                    </li>
                </ul>
                <div class="active-item-index active-1th">
                    <div class="outter">
                        <div class="inner"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row hb-why-row">
        <div class="col-md-offset-2 col-md-3">
            <img class="hb-land-icon-perk" width="350" height="230" src="/images/time@2x.png" alt="hireberry - Use your time more effectively">
        </div>
        <div class="col-md-5">
            <div class="">
                <div class="caption hb-caption">
                    <h3>Use your time more effectively</h3>

                    <p>
                        Working for a small business means wearing a lot of hats; there is no extra time to waste. With
                        HireBerry, you can use your time wisely and speed up the often tedious and time consuming
                        recruitment process.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row hb-why-row">
        <div class="col-md-5">
            <img class="hb-land-icon-perk" width="350" height="230" src="/images/talents@2x.png" alt="hireberry - Attract top talent">
        </div>
        <div class="col-md-offset-2 col-md-5">
            <div class="caption hb-caption">
                <h3>Attract top talent</h3>
                <p>

                    When contacting top talents for your job, being quick off the mark is key. Boring application
                    forms and inefficient recruitment processes are exactly what candidates hate. HireBerry has
                    solved these problems with a streamlined hiring experience for your applicants.
                </p>
            </div>
        </div>
    </div>

    <div class="row hb-why-row">
        <div class="col-md-offset-2 col-md-3">
            <img class="hb-land-icon-perk" width="350" height="230" src="/images/money@2x.png" alt="hireberry - Avoid the cost of a bad hire">
        </div>
        <div class="col-md-5">
                <div class="caption hb-caption">
                    <h3>Avoid the cost of a bad hire</h3>

                    <p>

                        The cost of replacing an employee can range from two to seven times his or her yearly salary.
                        Hiring and training costs can vary from 25% to 200% of annual compensation. HireBerry will help
                        you to make a right decision to hire the right person; someone worth the cost.
                    </p>
                </div>
        </div>
    </div>

    <div class="row hb-why-row">
        <div class="col-md-5">
            <img class="hb-land-icon-perk" width="350" height="230" src="/images/brand@2x.png" alt="hireberry - Empower your brand">
        </div>
        <div class="col-md-offset-2 col-md-5">
            <div class="caption hb-caption">
                <h3>Empower your brand</h3>

                <p>
                    A job ad is not just an advertisement for your vacancy, it is a promotion for your company too.
                    With HireBerry, you can create a simple, elegant and visually appealing careers page.
                </p>
            </div>
        </div>
    </div>

    <div class="row hb-why-row">
        <div class="col-md-offset-2 col-md-3">
            <img class="hb-land-icon-perk" width="350" height="230" src="/images/cake@2x.png" alt="hireberry - Start a powerful, FREE recruitment scheme">
        </div>
        <div class="col-md-5">
            <div class="caption hb-caption">
                <h3>Start a powerful, <br/>FREE recruitment scheme</h3>

                <p>
                    The basic plan of HireBerry is free, and is suitable for small business or for testing purposes.
                    Give it a shot, and if you find you need extra features, you can easily upgrade to our premium
                    plan.
                </p>
            </div>
        </div>
    </div>

    <div class="row hb-features-row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row hb-pricing-row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="footer">
                <a href="/privacy-policy">Privacy Policy</a>
                |
                <a href="mailto: contact@hireberry.com">Support</a>
                |
                <a href="https://plus.google.com/115213294114364910052?rel=author">Google+</a>
                |
                <a href="//twitter.com/hireberry">Twitter</a>
                |
                <a href="//facebook.com/hireberry">Facebook</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>