<% layout('layout') -%>

<div class="container">
    <div class="row ">
        <div class="span12">
            <form class="form-horizontal" action="/login" method="post">

                <fieldset>
                    <div class="control-group">
                        <div class="control-label"> Email:</div>
                        <div class="controls ">
                            <div class="input-prepend input-append">

                                <input type="text" name=<%=everyauth.password.loginFormFieldName%> placeholder="Enter Email address">
                            </div>
                            <label class="help-inline">example@mail.com</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label"> Password:</div>
                        <div class="controls ">
                          <input type="password"
                                 name=<%=everyauth.password.passwordFormFieldName%>
                                 placeholder='Enter password'>
                        </div>
                        <label class="help-inline"></label>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a href="/register" class="btn input-medium">Register</a>
                            <input type="submit" class="btn btn-primary input-medium " value="login">
                            <h2>OR</h2>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a href="/auth/twitter">
                                <img src="/images/sign-in-with-twitter-gray.png">
                            </a>
                        </div>
                        <div class="controls">
                            <a href="/auth/google">
                                <img src="/images/White-signin_Long_base_44dp.png" width="200px"/>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
