<% layout('layout') -%>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '241341676042668',
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
        // for any authentication related change, such as login, logout or session refresh. This means that
        // whenever someone who was previously logged out tries to log in again, the correct case below
        // will be handled.
        FB.Event.subscribe('auth.authResponseChange', function(response) {
            // Here we specify what we do with the response anytime this event occurs.
            if (response.status === 'connected') {
                // The response object is returned with a status field that lets the app know the current
                // login status of the person. In this case, we're handling the situation where they
                // have logged in to the app.
                testAPI();
            } else if (response.status === 'not_authorized') {
                // In this case, the person is logged into Facebook, but not into the app, so we call
                // FB.login() to prompt them to do so.
                // In real-life usage, you wouldn't want to immediately prompt someone to login
                // like this, for two reasons:
                // (1) JavaScript created popup windows are blocked by most browsers unless they
                // result from direct interaction from people using the app (such as a mouse click)
                // (2) it is a bad experience to be continually prompted to login upon page load.
                FB.login();
            } else {
                // In this case, the person is not logged into Facebook, so we call the login()
                // function to prompt them to do so. Note that at this stage there is no indication
                // of whether they are logged into the app. If they aren't then they'll see the Login
                // dialog right after they log in to Facebook.
                // The same caveats as above apply to the FB.login() call here.
                FB.login();
            }
        });
    };

    // Load the SDK asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

    // Here we run a very simple test of the Graph API after login is successful.
    // This testAPI() function is only called in those cases.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log('Good to see you, ' + response.name + '.');
        });
    }
</script>

<script>
    function validateEmail(email){
        var pattern = /^[\w.+]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
        return pattern.test(email);

    }

    function isEmailAddress(){
        var emailStr = $('#email')[0].value;
        if(!validateEmail(emailStr))
            $('#loginid').addClass('error');
        else
            $('#loginid').removeClass('error');
    }

    function showMessage(text) {
        $('.alert').find('.msg').text(text);
        $('.alert').show();
    }

    function hideMessage() {
        $('.alert').hide();
    }

    function showResult(){

        var datastring= $("#form").serialize();

        showMessage('Please Wait ...');

        $.ajax({
            url: '/login',
            type: 'post',
            dataType: 'json',
            data: datastring,
            error: function(data){
                if(data.status != 0)
                    showMessage('Invalid Email Or Password.');
            },
            success: function(data){
                showMessage('You\'re logged in successfuly. Wait...');
                window.location='/';
            }
        });
        return false;
    }

</script>

<style>
    .loginPanel {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 15px;
        height: 200px;
        font-size: 1.2em;
    }

    .span2, .span4 {
        background-color: #414141;
        margin: 0;
    }

    .oauthLogin {
        padding: 20px;
        border-top: 1px solid #000;
        position: relative;
        text-align: center;
    }
</style>

<div class="container-fluid">
    <div class="row-fluid" style="margin-top: 50px;">
        <div class="span10 offset1">
            <div class="alert alert-info hide">
                <button class="close" data-dismiss="alert">
                    &times;
                </button>
                <span class="msg"></span>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 offset1">
            <div class="loginPanel">
                <form id="form" class="form-inline" method="post" action="/login" onsubmit="return showResult();" >
                    <fieldset>
                        <div id="loginid" class="control-group">
                            <div class="control-label"> Email:</div>
                            <div class="controls ">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-envelope"></i></span>
                                    <input type="text" id="email"
                                           onblur="isEmailAddress();"
                                           name=<%=everyauth.password.loginFormFieldName%> placeholder="Enter Email address">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label"> Password:</div>
                            <div class="controls ">
                                <div class="input-prepend">
                                    <span class="add-on">#</span>
                                    <input type="password"
                                           name=<%=everyauth.password.passwordFormFieldName%>
                                           placeholder='Enter password'>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-primary" >Sign in</button>
                            </div>
                        </div>
                        <div>
                            <div class="controls">Don't have an acoount?
                                <a href="/register">Create One</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="span2">
            <h3 style="text-align: center;font-size: 2em;color: #fff">OR</h3>
        </div>
        <div class="span4">
            <div class="loginPanel control-group">
                <div hidden>
                    <div id="fb-root"></div>
                    <!--Below we include the Login Button social plugin. This button uses the JavaScript SDK to
                        present a graphical Login button that triggers the FB.login() function when clicked. -->
                    <fb:login-button  width="200" max-rows="1"></fb:login-button>
                </div>

                <div class="controls oauthLogin">
                    <a href="/auth/facebook">
                        Sing in with facebook
                    </a>
                </div>
                <div class="controls oauthLogin">
                    <a href="/auth/twitter">
                        <img src="/images/sign-in-with-twitter-gray.png">
                    </a>
                </div>
                <div class="controls oauthLogin">
                    <a href="/auth/google">
                        <img src="/images/White-signin_Long_base_44dp.png" width="200px"/>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
