<html>
<head>

    <title>Login</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="row ">
        <div class="span2">
            <form class="form-horizontal">

                <fieldset>
                    <div class="control-group">
                        <div class="control-label"> Email:</div>
                        <div class="controls ">
                            <div class="input-prepend input-append">

                                <input type="text" placeholder="Enter Email address">
                            </div>
                            <label class="help-inline">example@mail.com</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label"> Password:</div>
                        <div class="controls ">
                            <div class="input-prepend input-append">

                                <input type="password" placeholder="Enter password">
                            </div>
                            <label class="help-inline"></label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a class="btn btn-primary">Login</a>
                            <h2>OR</h2>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a href="/auth/twitter" class="btn input-large">Connect with Twitter</a>
                            <a href="/auth/google" class="btn input-large">Connect with g+</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>