<% layout('layout') -%>
<script>
    $(document).ready(function(){
        $.ajax({
            url: '/login',
            type: 'post',
            dataType: 'json',
            data: "email=&password=&LoadingTime=1",
            error: function(data){
                if(data.status != 0)
                {}
            },
            success: function(data){
                window.location='/';
            }
        })
    });
</script>

<script>
    function validateEmail(email){
        var pattern = /^[\w.+]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
        return pattern.test(email);

    }

    function isEmailAddress(){
        var emailStr = $('#email')[0].value;
        if(!validateEmail(emailStr))
            $('#loginid').addClass('error');
        else
            $('#loginid').removeClass('error');
    }

    function showMessage(text) {
        $('.alert').find('.msg').text(text);
        $('.alert').show();
    }

    function hideMessage() {
        $('.alert').hide();
    }

    function showResult(){

        var datastring= $("#form").serialize();

        showMessage('Please Wait ...');

        $.ajax({
            url: '/login',
            type: 'post',
            dataType: 'json',
            data: datastring,
            error: function(data){
                if(data.status != 0)
                    showMessage('Invalid email or password.');
            },
            success: function(data){
                if(data.success) {
                    showMessage('You\'re logged in successfully. Wait...');
                    window.location = data.lastPage;
                }else
                    showMessage('Login failed');


            }
        });
        return false;
    }

</script>

<div class="container-fluid loginForm-container">
    <div class="row-fluid" style="margin-top: 50px;">
        <div class="span10 offset1">
            <div class="alert alert-info hide">
                <button class="close" data-dismiss="alert">
                    &times;
                </button>
                <span class="msg"></span>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <div class="loginPanel pull-right">
                <form id="form" class="loginForm" method="post" action="/login" onsubmit="return showResult();" >

                    <input type="text" id="email"
                           onblur="isEmailAddress();"
                           name=<%=everyauth.password.loginFormFieldName%> placeholder="Your Email Address">

                    <input type="password"
                           name=<%=everyauth.password.passwordFormFieldName%>
                           placeholder='Your Password'>


                    <span  >Remember Me</span>
                    <input type="checkbox"  name="RememberMe">

                    <div class="login-button-container">
                        <button type="submit" class="wbtn wbtn-2 wbtn-2a" >Login</button>
                    </div>

                    <div class="moreOption">
                        <a hred="#">Forget Password</a> | Don't have an account? <a href="/register">Create One</a>
                    </div>

                </form>
            </div>
        </div>
        <div class="span6">
            <span class="verticalLoginSeparator"></span>
            <span class="linkedIn-button" style="display: inline-block;vertical-align: middle;margin-left: 20px">
                <a href="/auth/linkedin">
                    <div style="background-color: rgba(0, 0, 0, 0.25);border-radius: 4px;padding: 5px;">
                        <div style="display: inline-block;background-color: #327AB9;padding: 10px;vertical-align: top;border-radius: 4px 0 0 4px;font-size: 1.7em;color: #fff;line-height: 32px;">
                            or Login with
                        </div><div style="background-color: #fff;padding: 6px 5px;display: inline-block;height: 52px;border-radius: 0 4px 4px 0;">
                            <i class="mainSpritImage" style="display: inline-block;width: 120px;height: 32px;background-position: 0 -115px;background-color: #fff;margin: 4px;"></i>
                        </div>
                    </div>
                </a>
            </span>
        </div>

    </div>

</div>
