<% layout('layout') -%>
<script>
    function validateEmail(email){
        var pattern = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
        return pattern.test(email);

    }
    function isEmailAddress(){
        var emailStr = $('#email')[0].value;
        if(!validateEmail(emailStr))
            $('#loginid').addClass('error');
        else
            $('#loginid').removeClass('error');
        //$('.alert').show();
    }

    function showResult(){
        var datastring= $("#form").serialize();
        $.ajax({
            url: '/login',
            type: 'post',
            dataType: 'json',

            data: datastring,
            error: function(data){
                alert('error '+data.status);
            },
            success: function(data){
                window.location='/profile';
            }
        });
    }
/*
        $.post('/login',$('#form').serialize(),function(data){alert("succeed");}, 'json');
*/



    /*function showValue()
    {
        var str = $("form").serialize();
        $("#result").text(str);

    }
    $("button[type='submit']").on("click",showValue());
    showValue();*/

  </script>
<div class="container">
    <div class="row ">
        <div class="span12">
            <form id="form" class="form-horizontal" method="post" action="/login" onsubmit="return showResult();" >
                <div class="alert alert-error hide">
                    <button class="close" data-dismiss="alert">
                        &times;
                    </button>
                    <span class="msg">Invalid Email or password</span>
                </div>
                <fieldset>
                    <div id="loginid" class="control-group">
                        <div class="control-label"> Email:</div>
                        <div class="controls ">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-envelope"></i></span>
                                <input type="text" id="email"
                                       onblur="isEmailAddress();"
                                       name=<%=everyauth.password.loginFormFieldName%> placeholder="Enter Email address">
                            </div>
                            <label class="help-block">id@mail.com</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label"> Password:</div>
                        <div class="controls ">
                            <div class="input-prepend">
                                <span class="add-on">#</span>
                                <input type="password"
                                     name=<%=everyauth.password.passwordFormFieldName%>
                                     placeholder='Enter password'>
                            </div>
                        </div>
                        <label class="help-inline"></label>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <!--<a href='/register' class="btn input-small btn-warning">Sign up</a>-->
                            <button type="button" onclick="location.href='/register';"
                                    class="btn btn-warning input-small " >Sign Up</button>
                            <button type="submit" class="btn btn-primary input-small " onclick="isEmailAddress(); showResult();" >Sign in</button>
                        </div>
                    </div>
                    <h2>OR</h2>

                    <div class="control-group">
                        <div class="controls">
                            <a href="/auth/twitter">
                                <img src="/images/sign-in-with-twitter-gray.png">
                            </a>
                        </div>
                        <div class="controls">
                            <a href="/auth/google">
                                <img src="/images/White-signin_Long_base_44dp.png" width="200px"/>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
