<style>
    .pp-title {
        font-size: 2.5em;
    }

    .pp-container {
        width: 70%;
        line-height: 1.5em;
        font-size: 1.2em;
        background-color: #f8f8f8;
        margin: 2em auto;
        border-radius: 7px;
        padding: 2em;
    }

    .pp-section {
        margin: 2em 0;
        border-left: 4px solid #9c9c9c;
        padding-left: 1em;
    }
</style>

<div class="pp-container">

    <div class="pp-sections" style="font-family:arial">
        <h3 class="pp-title">Privacy Policy</h3>

        This website is operated by the Hireberry team. Throughout the site, the terms “we”, “us” and “our” refer to
        the Hireberry team. We consider the privacy of our users and visitors to be extremely important.<br/>
        This privacy policy document describes in detail the types of personal information is collected and recorded by
        www.hireberry.com and how we use it.

        <div class='pp-section'>
            <strong>What information do we collect?</strong>
            <br/>
            We collect information from you when you register on our site or use our services.
            <br/>
            These information are:
            <ul>
                <li>
                    Information that you provide by filling forms on our service including, but not limited to, your name and email,
                    your company name and address, your hiring team member.
                </li>
                <li>
                    Details of transactions you carry out through our site and of the provision of services to you.
                </li>
                <li>
                    Non-personally identifiable information about your visits including, but not limited to, your IP, browser type and OS version.
                </li>
            </ul>
        </div>

        <div class='pp-section'>
            <strong>What do we use your information for?</strong>
            <br/>
            Any of the information we collect from you may be used in one of the following ways:
            <ul>
                <li>
                    To Providing service and identification and authentication
                </li>
                <li>
                    To personalize your experience
                </li>
                <li>
                    To improve our website
                </li>
                <li>
                    To improve customer service
                </li>
                <li>
                    To process transactions and invoicing
                    <blockquote>Your information, whether public or private, will not be sold, exchanged, transferred,
                        or given
                        to any
                        other company for any reason whatsoever, without your consent, other than for the express
                        purpose of
                        delivering
                        the purchased product or service requested.
                    </blockquote>
                </li>
                <li>
                    To send periodic emails
                </li>
            </ul>
        </div>

        <div class='pp-section'>
            <strong>How do we protect your information?</strong>
            <br/>
            We implement a variety of security measures to maintain the safety of your personal information when you
            enter,
            submit, or access your personal information.
        </div>

        <div class='pp-section'>
            <strong>Do we use cookies?</strong>
            <br/>
            Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive
            through your Web browser (if you allow) that enables the sites or service providers systems to recognize
            your browser and capture and remember certain information)
            <br/>
            <br/>
            We use cookies to understand and save your preferences for future visits and compile aggregate data about
            site
            traffic and site interaction so that we can offer better site experiences and tools in the future. We may
            contract
            with third-party service providers to assist us in better understanding our site visitors. These service
            providers
            are not permitted to use the information collected on our behalf except to help us conduct and improve our
            business.
        </div>

        <div class='pp-section'>
            <strong>Do we disclose any information to outside parties?</strong>
            <br/>
            We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
            This
            does
            not include trusted third parties who assist us in operating our website, conducting our business, or
            servicing
            you,
            so long as those parties agree to keep this information confidential. We may also release your information
            when
            we
            believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others
            rights,
            property, or safety. However, non-personally identifiable visitor information may be provided to other
            parties
            for
            marketing, advertising, or other uses.
        </div>

        <div class='pp-section'>
            <strong>Third party links</strong>
            <br/>
            Occasionally, at our discretion, we may include or offer third party products or services on our website.
            These
            third party sites have separate and independent privacy policies. We therefore have no responsibility or
            liability
            for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our
            site
            and
            welcome any feedback about these sites.
        </div>

        <div class='pp-section'>
            <strong>Your Consent</strong>
            <br/>
            By using our site, you consent to our
            <a style='text-decoration:none; color:#3C3C3C;' href='http://www.freeprivacypolicy.com/' target='_blank'>privacy
                policy</a>.
        </div>

        <div class='pp-section'>
            <strong>Changes to our Privacy Policy</strong>
            <br/>
            If we decide to change our privacy policy, we will update the Privacy Policy modification date below.
            <br/>
            Modification date: 28.7.2014
        </div>

        <div class='pp-section'>
            <strong>Contacting Us</strong>
            <br/>
            If there are any questions regarding this privacy policy you may contact us using the information below:
            <br/>
            team@hireberry.com
        </div>

        <div style="text-align: center; font-size: 0.7em">
            This policy is powered by Trust Guard
            <a rel='nofollow' style='color:#000; text-decoration:none;'
               href='http://www.trust-guard.com/PCI-Compliance-s/65.htm' target='_blank'>PCI compliance</a>
            scans.
        </div>

    </div>
</div>