<% layout('layout') -%>
<style>
    .tree {
        min-height:20px;
        /* padding:19px;*/
        /* margin-bottom:20px;*/
        padding:4px;
        margin-bottom:5px;
        /* background-color:#fbfbfb;*/
        /* border:1px solid #999;*/
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
    }
    .tree li {
        list-style-type:none;
        margin:0;
        padding:10px 5px 0 5px;
        position:relative
    }
    .tree li::before, .tree li::after {
        content:'';
        left:-20px;
        position:absolute;
        right:auto
    }
    .tree li::before {
        border-left:1px solid #999;
        bottom:50px;
        height:100%;
        top:0;
        width:1px
    }
    .tree li::after {
        border-top:1px solid #999;
        height:20px;
        top:25px;
        width:25px
    }
    .tree li span {
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border:1px solid #999;
        border-radius:5px;
        display:inline-block;
        padding:3px 8px;
        text-decoration:none
    }
    .tree li.parent_li>span {
        cursor:pointer
    }
    .tree>ul>li::before, .tree>ul>li::after {
        border:0
    }
    .tree li:last-child::before {
        height:30px
    }
    .tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
        background:#eee;
        border:1px solid #94a0b4;
        color:#000
    }
</style>
<style>
    .promote-table {
        position: relative;
        bottom: -60px;
        left: 10px;
        right: 0;
        display: block;
        margin: 20px 20px;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 100px;
        /* height: 280px;*/
        line-height: 60px;
        text-align: center;
        background: #c3c3c3;
        font-weight: 700;
        border-radius: 7px;
        padding-bottom: 20px;
        font-size: 1.5em;
    }
</style>

<script>
    $(function () {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
        $('.tree li.parent_li > span').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
            }
            e.stopPropagation();
        });
    });
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/dashboard/getinfo',
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                for (var i = 0; i < data.length; i++) {
                    var row = $('#flyer-list .positionsHeaderRow')
                            .clone()
                            .removeClass('positionsHeaderRow');

                    if(i%2==0)
                        row.css("background-color","palegoldenrod");
                    else
                        row.css("background-color","#fbfbfb");
                    var TeamObj = $('<span>')
                            .addClass('pos')
                            .text(data[i].TeamName);

                    var DateObj = $('<span>')
                            .addClass('pos')
                            .text(data[i].Date);

                    var job_title=data[i].JobTitle==undefined?data[i].FlyerId:data[i].JobTitle;
                    var FlyerObj = $('<a>')
                            .addClass('pos')
                            .text(job_title)
                            .attr('href',"/flyer/edit/0?"+data[i].FlyerId);

                    var PaymentObj = $('<span>')
                            .text(data[i].TotalPrice);

                    var jobBorads = $('<div>')
                            .addClass('tree')
                            .append($('<ul>'))
                            .append($('<i>'))
                            .append($('<span>'))
                            .addClass('badge badge-success')
                            .text('#2')
                            .append($('<i>'));

                    //var bordcount= '<span class="badge badge-success"><i class="icon-minus-sign"></i>'+  "#" +data[i].JobBoards.length.toString() + '</span>' ;
                    var bordcount= "" //'<span class="badge badge-success"><i></i>'+  "#" +data[i].JobBoards.length.toString() + '</span>' ;

                    var boardlist="";
                    for(var j=0;j<data[i].JobBoards.length;j++)
                        boardlist+='<li>'+'<span><i></i>'+ data[i].JobBoards[j].Name + "   ($" + data[i].JobBoards[j].Price + ")"+'</span></li>' ;
                    //boardlist+='<li>'+'<span><i class="icon-time"></i>'+ data[i].JobBoards[j].Name + "   ($" + data[i].JobBoards[j].Price + ")"+'</span></li>' ;

                    var jobBorads =  $('<div>')
                            .addClass('tree')
                            .append(
                                    // '<ul>' +
                                    // '<li>' +
                                    bordcount +
                                            '<ul>' +
                                            boardlist+
                                            '</ul>'
                                    //  +'</li>' +
                                    ///  '</ul>'
                            );

                    row.find('.colTeam').empty().append(TeamObj);
                    row.find('.colDate').empty().append(DateObj);
                    row.find('.colFlyer').empty().append(FlyerObj);
                    row.find('.colPayment').empty().append(PaymentObj);
                    row.find('.colJobBoards').empty().append(jobBorads);
                    $('#flyer-list').append(row);
                }
            }
        }).fail(function (data) {
                });
    });
</script>

<div class="promote-table">
    <span>Promoted flyers </span>

    <div id="flyer-list" style="position: relative;background-color: #f8f8f8" class="container-fluid">

        <div class="row-fluid positionsHeaderRow"  style="background-color: #94a0b4">
            <div class="span1 colTeam">Team</div>
            <div class="span2 colDate">Date</div>
            <div class="span3 colFlyer">Flyer</div>
            <div class="span3 colJobBoards">Job Boards</div>
            <div class="span1 colPayment">Payment ($)</div>
        </div>

    </div>

</div>
