<html>
<head>

    <title>Login</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <style>

    </style>
</head>
<body>
<div class="container">
    <div class="row ">
        <div class="span6">
            <form class="form-horizontal" action="/register" method="post">

                <div class="control-group">
                    <div class="control-label"> Email:</div>
                    <div class="controls ">
                        <div class="input-prepend input-append">
                            <input type="text"  name=<%=everyauth.password.loginFormFieldName%> placeholder="Enter Email address">
                        </div>
                        <label class="help-inline">example@mail.com</label>
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label"> Re-enter Email:</div>
                    <div class="controls ">
                        <div class="input-prepend input-append">
                            <input type="text"  placeholder="Repeat Email address">
                        </div>
                        <label class="help-inline">Enter your address again</label>
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label"> Enter New Password:</div>
                    <div class="controls ">
                        <div class="input-prepend input-append">
                            <input type="password"  name=<%=everyauth.password.loginFormFieldName%> placeholder="Enter password">
                        </div>
                        <label class="help-inline">Password must contains at least 6 characters</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label"> Enter Password again:</div>
                    <div class="controls ">
                        <div class="input-prepend input-append">
                            <input type="password"  placeholder="Enter password">
                        </div>
                        <label class="help-inline">Passwords must match</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn input-medium btn-primary" value="Register">

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>