<% layout('layout') -%>

<style>
</style>

<script>
    function showMessage(text) {
        $('.alert').find('.msg').text(text);
        $('.alert').show();
        setTimeout(function(){hideMessage()},7000);
    }

    function hideMessage() {
        $('.alert').hide();
    }

    $(function(){
        $('#saveButton').click(function(){
            var datastring= $("#passwordChangingForm").serialize();
            $.ajax({
                url: '/profile',
                type: 'post',
                dataType: 'json',
                data: datastring,
                error: function(data){
                    if(data.status != 200)
                        showMessage('Invalid Email Or Password.');
                    else
                        showMessage('Saved Successfully');
                },
                success: function(data){
                    showMessage('Saved Successfully');
                }
            });

        });

        $('#settingTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active">Setting</li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-info hide">
                <span class="msg"></span>
            </div>
        </div>
    </div>
    <div class="row-fluid">

        <div class="span8 offset2" style="background-color: #f1f1f1;font-size: 1.5em;padding: 20px;margin-top: 20px;border-radius: 4px;">
            <form class="form-horizontal" action="/profile" method="post" id="passwordChangingForm">
                <div class="control-group">
                    <div class="control-label"> Avatar:</div>
                    <div class="controls ">
                        <a href="#" id="changeAvatar">
                            <img src="#" class="avatar img-rounded" style="border: 1px solid #9c9c9c">
                        </a>
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label"> Email:</div>
                    <div class="controls ">
                        <%=everyauth.user.email%>
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label"> Enter Old Password:</div>
                    <div class="controls ">
                        <div class="input-prepend input-append">
                            <input type="password"  name="oldpassword" placeholder="Enter password">
                        </div>
                        <label class="help-inline">Passwords must match</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label"> Enter New Password:</div>
                    <div class="controls ">
                        <div class="input-prepend input-append">
                            <input type="password"  name="newpassword" placeholder="Enter password">
                        </div>
                        <label class="help-inline">Password must contains at least 6 characters</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label"> Enter Password again:</div>
                    <div class="controls ">
                        <div class="input-prepend input-append">
                            <input type="password" name="confirmnewpassword" placeholder="Enter password">
                        </div>
                        <label class="help-inline">Passwords must match</label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="button" id="saveButton" class="btn input-medium btn-primary" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</div>
</div>