.portletCreator  {

    /*background-image: url('/images/sidebar-preview.png');*/
    background-position-x: -240px;

    background-color: #666;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0 ;
    width: 240px;
    overflow: visible;
    font-size: 14px;
    font: "Arial";
    font-weight: normal;
    padding: 15px 0 0;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}
.bool-widget-btn-carousel {
    position: absolute;
    left: 0;
}
.bool-widget-btn-carousel>.bool-toolbar-options {
    display: inline-block;
    margin: 10px 0;
    border-top: 1px solid #7F7F80;;
}
.bool-more-options {
    position: absolute;
    left: 240px;
    top: 0;
    display: none;
}



.bool-sidebar-header{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.bool-pure-btn,
.bool-pure-btn:hover,
.bool-pure-btn:visited {
    display: block;

    color: #f1f1f1;
    cursor: pointer;
    text-decoration: none;

}
.bool-btn-back-to-widgets{
    margin-left: 10px;
    line-height: 20px;
}
.bool-widget-btn{
    text-align: left;
    background: #f1f1f1;
    padding: 11px;
    display: inline-block;
    color:#666;
    margin: 5px 10px 0;
    width: 210px;
    cursor: pointer;
    line-height: 22px;
    border: 1px solid #808080;
}
.bool-widget-icon{
    display: inline-block;
    background-image: url('../images/NJ-icons@2x.png');
    background-size: 186px 625px;
    width: 20px;
    vertical-align: middle;


}
.bool-widget-icon-text{background-position: 0 0;height: 14px;}
.bool-widget-icon-picture{background-position: 0 -15px;height: 15px;}
.bool-widget-icon-video{background-position: 0 -31px;height: 12px;}
.bool-widget-icon-map{background-position: 0 -44px;height: 13px;}
.bool-widget-icon-perk{background-position: 0 -59px;height: 16px;}
.bool-widget-icon-skill{background-position: 0 -74px;height: 19px;}
.bool-widget-icon-profile{background-position: 0 -95px;height: 16px;}
.bool-widget-icon-condition{background-position: 0 -112px;height: 12px;}
.bool-widget-icon-cover-letter{background-position: 0 -125px;height: 20px;}
.bool-widget-icon-resume{background-position: -20px -125px;height: 20px;}
.bool-widget-icon-separator{background-position: 0 -146px;height: 20px;}

.bool-widget-icon-canvas{background-position: 0 -167px;height: 20px; width: 22px;}
.bool-widget-icon-background{background-position: 0 -188px;height: 20px; width: 22px;}
.bool-icon-thank{background-position: 0 -605px;height: 20px; width: 22px;}

.bool-icon-move{background-position: 0 -208px; height: 15px;float: right;}

/********
Portlet Creator
********/
.newitem { display: inline-block; }

/** Generic button - outer **/
.buttonFrame {
    width: 72px;
    height: 72px;
    background-color: #b3b3b3;
    border-radius: 50%;
    margin: 6px;
    position: relative;
    cursor: pointer;
}
.buttonFrame:hover {
    width: 84px;
    height: 84px;
    margin: 0;
}
.buttonFrame:active {
    background-color: #666;
}

/** Generic button - inner **/
.button {
    background: url('../images/flyer-icons.png');
    display: block;
}

.centeralBackgroundImage { /* Set its parent to position:relative*/
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

/** Specific button - outer **/
.plusButtonFrame {
    top: -20px;
    display: inline-block;
}
.plusButtonFrame:hover {
    top: 0;
}

/** Specific button - inner **/
.genericButton {
    height: 72px;
    width: 72px;
    line-height: 72px;
    color: #000;
}
.addNewTextButton {
    background-position:  0 -45px;
    height: 40px;
    width: 34px;
}
.addNewPhotoButton {
    background-position: 0 -85px;
    height: 32px;
    width: 41px;
}
.addNewVideoButton {
    background-position: 0 -117px;
    height: 36px;
    width: 43px;
}
.addNewVoiceButton {
    background-position: 0 -153px;
    height: 37px;
    width: 52px;
}
.addNewLinkButton {
    background-position: 0 -232px;
    height: 23px;
    width: 55px;
}
.addNewMapButton {
    background-position: 0 -190px;
    height: 42px;
    width: 27px;
}
.bool-add-widget{
    margin: 0;
    position: relative;
    text-align: center;
}

.bool-placeholder{
    border: 2px dashed #bfbfbf;
    height: 150px;
    display: block;
    margin: 20px;
}

.bool-toolbar-options{
    list-style: none;
    margin: 10px 0 40px 0;
    background: inherit;
    width: 240px;
    display: inline-block;
}
.bool-toolbar-options>li {

    color:#f1f1f1;
    font-size: 14px;
    font-family: Arial,serif;
    padding-left: 10px;
    border-bottom: 1px solid #7F7F80;
    min-height: 32px;
    width: 100%;
}
.bool-toolbar-options>li>.nav{
    margin: 2px;
}
.bool-toolbar-options>li>.nav>.dropdown>a.bool-color-dropdown{
    margin: 0;
}

.bool-toolbar-commands>li {
    margin-bottom: 10px;
}
.bool-toolbar-commands{
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
.bool-toolbar-btn-preview {color: #e6e6e6;border: 2px solid #e6e6e6;}
.bool-toolbar-btn-preview:hover {color: #e6e6e6;}
.bool-toolbar-btn-save {background: #3397cb;}
.bool-toolbar-btn-edit {background: #b2b2b2;}
.bool-toolbar-btn-publish {background: #36B150;}
.bool-toolbar-icon-publish{background-position: 0 -246px;width: 18px;height: 16px;}
.bool-toolbar-icon-preview-edit {background-position: 0 -236px;width: 9px;height: 14px;margin-right: 7px;}
.bool-toolbar-icon-preview{background-position: 0 -224px;width: 18px;height: 12px;}
.bool-toolbar-icon-save{background-position: 0 -573px;width: 15px;height: 15px;}



.bool-toolbar-icon-preview:hover>.bool-toolbar-icon-preview{
    background-position: -18px -251px;
}

.bool-dock-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: inherit;
    z-index: 1000;
}
input.bool-option-field,
.bool-option-field {
    background: #e5e5e5;
    color: #4d4d4d;
    border: 2px solid #a5a5a5;
    width: 221px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 16px;
    padding-left: 5px;
    border-radius: 4px;
    cursor: pointer;
}
input.bool-option-search{
    margin-bottom: 10px;
}
.bool-option-field >a,
.btn-group.bool-option-field >a:active,
.btn-group.bool-option-field >a:hover,
.btn-group.bool-option-field >a:visited
{
    background: none;
    width: 100%;
    text-align: left;
    height: 100%;
    margin: 0;
    border: none;
    outline: none;
    padding-left: 0;
}
.bool-option-label{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: -2px;
}
.bool-commentator-users {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
    width: 220px;
    margin-bottom: 16px;
    min-height: 100px;
    max-height: 200px;
}
.bool-commentator-users >li {
    background:#7F7F80 ;
    line-height: 33px;
    height: 33px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;
    border: 1px solid #989898;
    border-radius: 4px;

}
.bool-commentator-users >li>a {
    text-decoration: none;
    cursor: pointer;
    color: #cbcbcb;
    line-height: 31px;
}
.bool-option-item{
    height: 45px;
    line-height: 45px;
    padding-left: 23px;
}
.bool-option-item>i{
    margin-right: 11px;
}
.bool-option-item>a{
    text-decoration: none;
    cursor: pointer;
    color: #f1f1f1;
    display: inline-block;
    outline: none;
}
.bool-remove{
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
.bool-flyer-responder{
    width: 100%;
}
.modal-body>p{
    font-size: 14px;
}
.bool-btn-promote{
    margin: 0 10px;
}
.dropdown .bool-caret{
    float: right;
    margin: 16px;
}
.bool-btn-more-options{
    text-align: right;
    cursor: pointer;
    /*border-bottom: 1px solid #7F7F80;*/
    /*border-top: 1px solid #7F7F80;*/
}
.bool-btn-more-options>i{
    margin-left: 10px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.bool-scrollable{
    height: 100%;
    min-height: 250px;
}
.bool-commentator-list{
    background: #e5e5e5;

}
.bool-commentator-list>li {
    overflow: hidden;
}
.bool-commentator-list>li>a {
    border-radius: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
}
.bool-commentator-list>li>a>img {
    vertical-align: middle;
}
.bool-commentator-list>li>a.ui-state-focus {
    border: none;
    background: #a5a5a5;
    font-weight: bold;
    color: #4d4d4d;

}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}
