
#map{
    height: 400px;
}

body {
    padding-bottom: 150px;
    width: 100%;
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav li a {
    font-size: 1.5em;
}

/* Top 60px of page is overlaid by navbar. It's for that !*/
nav  ~ .container, nav ~ .container-fluid {
    margin-top: 60px;
}

.navbar .brand {
    font-size: 2.5em;
}