
/****
 General Styles
****/
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.no-border-box,.no-border-box *,.no-border-box *:before,.no-border-box *:after {
    -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;

}
body {
    background-color: #E2DECA;
    overflow-y: scroll;
}
body{
    font-family: "Roboto",cursive;
    font-weight: 400;
    font-size: 10px;
}

.mainSpritImage {
    background-image: url("/images/main@2x.png");
    background-size: 121px 147px;
}

.loading {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.80;
    width: 100%;
}

.loadingContent {
    color: #fff;
    font-size: 3em;
    margin: auto;
    display: inline;
    position: absolute;
    top: 15em;
    left: 0;
    right: 0;
    height: 50px;
    width: 200px;
}

/****
 Navbar styles
****/
/* Top 60px of page is overlaid by navbar. It's for that !*/
/*nav  ~ .container, nav ~ .container-fluid {*/
    /*margin-top: 10em;*/
/*}*/

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inner {
    background-color: #37B36F;
    background-image: none;
    border: none;
}

/***Navbar buttons***/
.navbar .nav > li > .navbar-button {
    text-shadow: none;
    color: #fff;
    margin: 20px 5px;
    border-radius: 4px;
    padding: 5px 15px;
    line-height: 30px;
}
.navbar .nav > li > .navbar-button:hover {
    background-color: #2F995F;
    color: #fff;
}

#createFlyerButton {
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin-top: 18px;
    margin-bottom: 18px;
}

#createFlyerButton:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
}

.navbar .nav > li > a > .booltinBrandLogo {
    background-position: 0 0;
    width: 54px;
    height: 54px;
    padding: 0;
    display: inline-block;
    margin: 5px 0;
}

.navbar .nav > li > a > .booltinBrandLogoType {
    background-position: 0 -55px;
    width: 121px;
    height: 28px;
    padding: 0;
    display: inline-block;
    margin: 18px 0 18px 20px;
}

nav li a {
    font-size: 1.5em;
}


/****
Login & Register
****/
.loginForm-container {
    margin-top: 10em;
}

.loginForm {
    margin: 20px  0 0 0;
    color: #949079
}

.loginForm  span{
    margin:10px 0px 0px 0px;
    font-size:1.6em ;
    float: left;height: 40px;
    font-weight: 700;
}

.loginForm input {
    height: 45px;
    display: block;
    width: 300px;
    box-sizing: border-box;
    font-size: 1.6em;
    font-weight: 700;
    border-color: #B3AE92;
    padding: 0 20px;
}

.loginForm  input[type="checkbox"]{
    height: 20px;
    display: block;
    width: 20px;
    box-sizing: border-box;
    font-size: 1.6em;
    font-weight: 700;
    border-color: #B3AE92;
    padding: 0 20px;
    margin: 10px 0px 0px 10px;
    float: left;
}

.loginForm input:focus {
    border-color: #807C69;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.loginForm button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 300px;
    font-size: 2em;
    margin: 10px 0 20px 0;
}

.loginForm .wbtn-2 {
    background: #E68540;
    box-shadow: 0 6px #B36832;
}

.loginForm .wbtn-2:hover {
    box-shadow: 0 4px #B36832;
    top: 2px
}

.loginForm .wbtn-2:active {
    box-shadow: 0 0;
    top: 6px
}

.loginForm .moreOption {
    font-size: 1.2em;
    font-weight: 700;
}

.verticalLoginSeparator {
    margin: auto;
    height: 240px;
    width: 2px;
    background-color: #949079;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .loginForm-container {
        margin-top: 0;
    }

    .verticalLoginSeparator {
        display: none;
    }

    .login-button-container {
        clear: both;
    }

    .linkedIn-button {
        margin-top: 20px;
    }

    .loginPanel {
        float: none;
    }
}

.registerBox {
    color: #949079;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4%;
    width: 350px;
    position: absolute;
    right: 40px;
    padding: 10px;
    bottom: 0;
    top: 0;
    height: 526px;
    margin: auto;
}

.registerBoxHeader {
    font-size: 25px;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 1px #414040;
    font-weight: 700;
}

.registerForm {
    margin: 0;
    padding: 20px;
    color: #949079
}

.registerForm button {
    padding: 15px 0;
    width: 300px;
    font-size: 2em;
    margin: 10px 0 20px 0;
}

.registerForm .wbtn-2 {
    background: #E68540;
    box-shadow: 0 6px #B36832;
}

.registerForm .wbtn-2:hover {
    box-shadow: 0 6px #B36832;
}

.registerForm .wbtn-2:hover {
    box-shadow: 0 4px #B36832;
    top: 2px
}

.registerForm .wbtn-2:active {
    box-shadow: 0 0;
    top: 6px
}

.registerForm input {
    height: 45px;
    display: block;
    width: 300px;
    box-sizing: border-box;
    font-size: 1.6em;
    font-weight: 700;
    border-color: #B3AE92;
    padding: 0 20px;
}

.registerForm input:focus {
    border-color: #807C69;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.registerBox .moreOption {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

/****
Settings
****/
.settingsForm {
    margin-top: 8em;
}

.settingsForm input {
    height: 46px;
    display: block;
    width: 300px;
    box-sizing: border-box;
    font-size: 1.6em;
    font-weight: 700;
    border-color: #B3AE92;
    padding: 0 20px;
}

.settingsForm input:focus {
    border-color: #807C69;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/****
Modals
****/
.ui-widget-header {
    border: 1px solid #2F995F;
    background: #37B36F;
}
.ui-dialog{
    z-index: 30003;
}
.ui-widget-overlay{
    z-index: 30002  ;
}
.bool-alert-toast{
    position: relative;
    left: -50%;
    top: 0;
    font-size: 14px;
}
.bool-alert-group{
    position: fixed;
    top:0;
    left: 50%;
    z-index: 2000;

}
.bool-overflow-visible{
    overflow: visible;
}

/** comboUser ***/
.bool-user-item{
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;
    color: #4C4C4C;
    width: 100%;
    box-sizing: border-box;
}
.bool-combo-selected{

    border: 2px solid #B3B3B3;
    border-radius: 4px;
}
.bool-combo-selected:hover {
    background-color: lightgoldenrodyellow;
}
.dropdown-menu>li>a.bool-user-item{
    display: inline-block;
}

.reply-for-comment-form {
    border-bottom: 1px solid #000;
}

.bool-user-item>img{
    border-radius: 4px;
    border: 1px solid #9c9c9c;
    vertical-align: middle;
    float: left;
    width: 28px;
    height:  28px;
}

.bool-user-item>ul{
    padding: 0;
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    float: left;
    text-align: left;
    margin: 0 0 0 10px;
    line-height: 28px;
}
.bool-user-item>ul>li{
    display: inline-block;
    margin-right: 1em;
}
.bool-team-members{
    width: 100%;
    z-index: 22000;
}
.bool-team-members>li>a {
    padding: 3px 10px;
}

.bool-single-user-item{
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #4C4C4C;
    text-align: center;
    vertical-align: top;
}
.bool-single-user-item>img{
    border-radius: 4px;
    height: 30px;
    border: 1px solid #9c9c9c;
    min-height: 28px;
    min-width: 28px;
    margin-right: 10px;
    margin-bottom: 6px;
}
.bool-single-user-item>ul{
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}
.bool-single-user-item>ul>li{
}

input[type="text"].bool-input-text {
    height: 40px;
    display: block;
    width: 300px;
    box-sizing: border-box;
    font-size: 1.3em;
    line-height: 40px;
    border-color: #B3AE92;
    padding: 0 10px;
}
textarea.bool-textarea {
    display: block;
    box-sizing: border-box;
    font-size: 1.1em;
    border-color: #B3AE92;
    padding: 10px;
    resize: none;
}


/**
Buttons
**/
.bool-toolbar-btn{
    display: block;
    margin: 10px 20px;
    padding: 0 20px;
    text-decoration: none;
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family:  Arial,sans-serif;
    border-radius: 4px;
    color: #fff;
    box-sizing: content-box;
}
.bool-toolbar-btn:hover {text-decoration: none;color: #fff;}

/**
Comments
**/

.portlet-commentsView-container {
    position: fixed;
    right: 0;
    top: 0;
    /*bottom: 0;*/
    height: 100%;
    width: 300px;
}

.portlet-commentsView {
    position: relative;
    background: #BFBCAA;
    color: #6A685E;
    width: 300px;
    height: 100%;
    font-size: 1.4em;
}

.portlet-commentsView #buttonComment {
    position: absolute;
    left: -34px;
    top: 0;
    background-color: #BFBCAA;
    padding: 10px;
    border-radius: 4px 0 0 4px;
}

.portlet-commentsView #buttonComment i {
    color: #000;
}

.bool-comments-header {
    text-align: center;
    font-size: 1.4em;
    border-bottom: 2px solid #6A685E;
    padding: 10px;
    font-weight: 700;
    margin: 0 14px;
}

.bool-comment-form {
    margin: 16px 0;
    color: #000;
    padding: 0 1em;
}

.bool-comment-form textarea {
    background-color: #FFFBEB;
    border: 2px solid #B3AE92;
}

.bool-comment-form textarea:focus {
    outline: none;
    box-shadow: none;
}

.bool-comment-form .bool-comment-button {
    margin: 4px;
    line-height: 34px;
    height: 34px;
    padding: 0 15px;
}

.bool-comment-form .bool-comment-button[op="send"] {
    background: #E86C43;
}

.bool-comment-form .bool-comment-button[op="clear"] {
    background: #999688
}

.bool-comments {
    clear: both;
    list-style: none;
    background-color: #FFFAE3;
    margin: 0 8px;
}

.bool-comments li {
    padding: 16px;
}

.bool-comments li .bool-comment-header {
    border-bottom: 1px solid #6A685E;
    border-top: 1px solid #6A685E;
    padding: 4px;
    font-weight: 700;
}

.bool-comments li .bool-comment-header img {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 4px;
}

.bool-comments li .bool-comment-header i {
    font-size: 1.3em;
    line-height: 22px;
    color: #D6D2BF;
}

.bool-comments li .bool-comment-header i:hover {
    color: #757366;
}

.bool-comments li .bool-comment-body {
    padding: 12px 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset!important;
}
input:-webkit-autofill:focus, textarea:-webkit-autofill:focus, select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset!important;
}
