@head1-color: #6b6b6b;
@head2-color: #B8B8B8;
@orange: #ffa954;

strong {
  font-weight: 600;
}

.dots {
  word-spacing: normal;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

#applications-filters {
  text-align: center;
  font-size: 1.5em;

  label {
    display: inline-block;
    border-radius: 4px;
    color: #ACACAC;
    padding: 12px;
    background-color: rgb(249, 249, 249);
  }

  input:checked + label {
    border-color: #000;
    color: #000;
    background-color: #eee;
  }
}

#candidatesCollection {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 840px; /* Show 2 candidates on each line */
}
@media (max-width: 1200px) {
  #candidatesCollection {
    width: 420px; /* Show 1 candidates on each line */
  }
}
@media (min-width: 1600px) {
  #candidatesCollection {
    width: 1260px; /* Show 3 candidates on each line */
  }
}

&.grid-layout, &.list-layout {

  .candidate {
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    border: 1px solid rgb(236, 236, 236);

    .sticky {
      position: absolute;
      top: -11px;
      border: 1px solid #C6C6C6;
      padding: 2px 4px;
      border-radius: 0 0 0 7px;
      font-weight: 700;
      right: initial;
      cursor: pointer;
      display: inline-block;
    }

    .visitedState {
      .sticky();
      cursor: pointer;
      right: 30px;
      border-radius: 0 0 0 0;
      border: none;
      padding: 1px 10px;
      font-size: 1.2em;
      font-weight: 400;
      color: #fff;

      &.visited {

        .visitedStateLabel {
          .visitedText{ display: inline-block; }
          .unvisitedText { display: none; }
        }
      }

      &.unvisited {
        background-color: @orange;

        .visitedStateLabel {
          .unvisitedText{ display: inline-block; }
          .visitedText { display: none; }
        }
      }

      .markAsVisited, .markAsUnvisited {
        display: none;
      }

      &:hover {
        .visitedStateLabel {
          display: none;
        }

        &.unvisited {
          .markAsVisited {
            display: inline-block;
          }
        }
        &.visited {
          .markAsUnvisited {
            display: inline-block;
          }
        }
      }
    }

    .bool-toggle-application{
      .sticky();
      right: -11px;
      left: initial;
      cursor: pointer;
      display: inline-block;
      border: none;
      font-size: 16px;
      color: #adadad;
    }

    .fa-expand {
      vertical-align: middle;
    }
    &.candidate-expanded .fa-expand{
      display: none;
    }
    .fa-compress{
      display: none;
      vertical-align: middle;
    }

    .bool-edit-switch {
      display: none;
    }

    .value {
      + .bool-edit-switch a[op="edit"] {
        display: inline-block;
      }
      + .bool-edit-switch a[op="yes"],
      + .bool-edit-switch a[op="no"]{
        display: none;
      }
    }

    .value[contenteditable="true"] {
      background-color: #e5e5e5;
      border: 1px solid rgb(180, 180, 180);
      color: #000;
      padding: 4px;

      &:hover, &:visited, &:active, &:focus {
        text-decoration: none;
      }

      + .bool-edit-switch a[op="edit"] {
        display: none;
      }
      + .bool-edit-switch a[op="yes"],
      + .bool-edit-switch a[op="no"]{
        display: inline-block;
      }
    }

    &.candidate-expanded .fa-compress{
      display: inline-block;
    }

    &.candidate-collapsed {
    }

    &.candidate-expanded {
      box-shadow: none;
      -webkit-box-shadow: none;
      position: absolute;
      top: 30px;
      left: 0;
      right: 300px;
      bottom: 0;
      overflow: auto;
      width:auto;
      margin: 0;
      border-radius: 0;

      /* Edit buttons */
      .bool-edit-switch {
        display: inline-block;
      }

      .bool-toggle-application {
        display: none;
      }

      .centeral-expanded {
        max-width: 900px;
        margin: auto;
      }

      .candidate-summary {

        .centeral-expanded();
        display: block;

        .candidate-basicInfo {
          width: auto;
          margin: 0 0 0 10px;
        }

        .candidate-conditions, .candidate-skills, .candidate-stage {
          display: none;
        }

        .candidate-resume {
          display: inline-block;
          margin: 0 2em;
          vertical-align: baseline;
        }

        .candidate-time {
          display: inline-block;
        }

        .candidate-profiles {
          display: inline-block;
          margin: 0 2em;

          .profile {
            width: 24px;
            height: 24px;
            vertical-align: bottom;
          }
        }
      }

      .candidate-details {

        .centeral-expanded();

        display: block;
        width: 100%;
        padding: 20px;
        min-width: 400px;
        .bool-edit-switch a {
          color: #000;
        }

        .candidate-leftColumn {
          float: left;
        }

        .candidate-rightColumn {
          float: right;
        }

        .candidate-leftColumn, .candidate-rightColumn {
          display: inline-block;
          width: 50%;
          vertical-align: top;

          > * {
            clear: both;
          }

        }

        .candidate-rightColumn + * {
          clear: both;
        }

        .mbox-container{
          padding: 4px;

          .mbox-title {
            background-color: #999;
            color: #FFFFFF;
            text-align: center;
            font-size: 1.6em;
            padding: 0.2em;
            cursor: pointer;
          }

          .mbox {
            width: 100%;
            min-height: 100px;
            background-color: #fff;
            border-left: 1px solid #999;
            border-right: 1px solid #999;
            border-bottom: 1px solid #999;
            padding: 10px;
            height: 370px;
            overflow: auto;
            &.overflow {
              overflow: visible;
            }

            .candidate-resume {
            }

            .candidate-profiles {

              .profile {
                margin: 0 4px;
              }

              .profile:hover {
                text-decoration: none;
              }
            }

            .candidate-conditions, .candidate-skills, .candidate-resume {
              font-size: 1.5em;
              line-height: 2em;
              padding: 0 10px;

              select {
                margin: 0;
                height: 1.9em;
              }
            }

            .candidate-tel, .candidate-website, .candidate-email, .candidate-profiles {
              padding: 0em 10px;
              font-size: 1.5em;
              line-height: 2em;
            }

            .candidate-coverLetter {
              padding: 10px 20px;
              font-size: 1.5em;
            }

            .candidate-note {
                width: 100%;
                height: 100%;
                margin: 0;
                border-radius: 0;
                resize: none;
            }

            .candidate-activities {
              .activity {
                position: relative;
                margin: 0 8px;
                padding: 1em;
                border-left: 3px solid #dadada;

                .activity-stone {
                  width: 13px;
                  height: 13px;
                  background-color: #dadada;
                  border-radius: 50%;
                  position: absolute;
                  left: -8px;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                }

                .activity-time {
                  font-size: 1.3em;
                  color: #A29D9D;
                }

                .activity-type {
                  font-size: 1.5em;
                }
              }
            }
          }

        }

        .candidate-addComment {
          position: relative;
          height: 140px;
          background-color: #E4E4E4;
          padding: 20px 0;
        }

        .candidate-actions {
          height: 30px;
        }

        .candidate-newComments {
          padding: 10px;
          background-color: #E4E4E4;
          font-size: 1.4em;
        }

        .candidate-commentBox {
          width: 400px;
          height: 100px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;

          textarea {
            display: block;
            width: 100%;
          }
        }

        .candidate-workflow {
          .candidate-workflow-stages {
            padding: 1em 2em;
            font-size: 2em;
            line-height: 1.5em;

            .candidate-workflow-substage {
              margin: 1em 0;

              div {
                text-align: left;
              }

              a {
                display: block;
                padding: 0.1em 0.1em;
                width: 150px;
                font-size: 0.7em;
                color: #fff;
                margin: 0.3em auto;
                text-align: center;
              }

              a:hover {
                text-decoration: none;
                color: #fff;
                background-color: @orange;
              }

              @stage-btn-color: #808080;

              .offerButton {
                background-color: @stage-btn-color;
              }

              .interviewButton {
                background-color:@stage-btn-color;
              }

              .archiveButton {
                background-color: @stage-btn-color;
              }

              .askForCommentButton {
                background-color: @stage-btn-color;
              }
            }
          }
        }

      }
    }
  }
}

.grid-layout {

  .candidate {
    width: 400px;
    margin: 10px;
    float: left;
    padding: 10px;

    .candidate-summary {
      position: relative;
      padding: 10px 0;

      .candidate-avatar {
        display: inline-block;
        height: 84px;
        width: 84px;
        border-radius: 50%;
        border: 3px solid #cecece;
        margin: 0 10px 0px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        background-color: #9c9c9c;
      }

      .candidate-basicInfo {
        display: inline-block;
        vertical-align: top;
        line-height: 1.8em;
        margin: 10px 0;
        width: 250px;
        .dots();
      }

      .candidate-name {
        font-size: 2em;
        font-weight: 600;
        line-height: 1.6em;
        color: @head1-color;
        display: inline-block;
        width: 100%;
        .dots()
      }

      .candidate-job, .candidate-time {
        font-size: 1.5em;
        color: @head2-color;
        width: 100%;
        .dots();

        strong, .value {
          font-weight: 400;
        }
      }

      .candidate-time {
        display: none;
      }

      .candidate-stage,
      .candidate-conditions,
      .candidate-skills {
        color: #6b6b6b;
        font-size: 1.5em;
        line-height: 2em;
        border-top: 1px solid #eee;
        margin: 0px 10px 0 10px;
        .dots()
      }
    }

    .candidate-details {
      display: none;
    }
  }
}

.list-layout {

  .candidate {
    min-height: 50px;
    width: 100%;
    margin: 5px 15px;
    padding: 10px;

    .candidate-summary {
      position: relative;
      padding-left: 30px;

      .sticky {
        position: absolute;
        top: -1em;
        background-color: #DCEEA1;
        border: 1px solid #B5C487;
        padding: 2px 5px;
        border-radius: 0 0 4px 4px;
        font-weight: 700;
      }

      .candidate-avatar {
        display: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid #8B8B8B;
        margin: 5px 5px 5px 30px;
        box-sizing: border-box;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        background-color: #9c9c9c;
      }

      .candidate-basicInfo {
        display: inline-block;
        vertical-align: top;
        line-height: 35px;
        width: 30%;

        .dots();

        .candidate-job {
          .value, strong {
            font-weight: 400;
            display: none
          }
        }
      }

      .candidate-name {
        font-size: 1.8em;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
        color: @head1-color;
      }

      .candidate-profiles, .candidate-resume, .candidate-time {
        display: none;
      }

      .candidate-job {
        font-size: 1.5em;
        color: @head2-color;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.5em;
      }

      .candidate-stage {
        font-size: 1.5em;
        display: inline-block;
        vertical-align: top;
        margin: 0 0.5em;
        line-height: 35px;
        width: 30%;

        strong {display: none}
      }

      .candidate-conditions {
        font-size: 1.5em;
        vertical-align: top;
        display: inline-block;
        margin: 0 0.5em;
        line-height: 35px;
        width: 30%;

        strong {display: none}
      }

      .candidate-skills {
        display: none;
      }
    }

    .candidate-details {
      display: none;
    }
  }
}

.modal .bool-toggle-application{
  display: none;
}
