
#wrap {
    position: relative;
    top: 15em;
}

.menu {
    font-size: 2.0em;
    text-align: center;
    padding: 10px 30px;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    height: 1.4em;
}

.menu .item:hover {
    border-bottom: 4px solid green;
    cursor: pointer;
}

.menu .item-selected {
    font-weight: 700;
    color: rgb(55, 145, 38);
}

.menu .item-selected:hover {
    border: none;
}


#wrap .container {
    background-color: #f1f1f1;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 30px;
    border-radius: 4px;
}

.headerRow {
    margin-bottom: 5em;
}

.tableRow {
    margin-top: 2em;
}

#applicationsTable {
    overflow: auto;
    border: 2px solid gray;
    border-radius: 4px;
}

.spanBox {
    display: inline;
    float: none;
    margin: 0 0.2em;
    padding: 0.3em;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    color: rgb(96, 96, 96);
    font-weight: 700;
}

.header {
    font-size: 4em;
    height: 2em;
    line-height: 2.5em;
    border-bottom: 2px solid #000;
}

.formName {
    font-size: 2em;
    line-height: 1.5em;
}

.formsListLabel {
    font-size: 2em;
    line-height: 2em;
}

.positionsList {
}

.positionsHeaderRow {
    font-size: 2em;
    text-align: center;
    border-left: 3px solid #555555;
    background-color: #d6d6d6;
    padding: 5px 0;
    line-height: 1.3em;
}

.position {
    background: #e6e6e6;
    font-size: 2em;
    padding: 5px 0;
    border-left: 3px solid rgb(84, 177, 84);
    text-align: center;
    line-height: 1.3em;
}

.position .positionTitle {
    font-size: 0.9em;
}

.position .positionMode {
    color: #9c9c9c;
    font-size: 0.6em;
    font-weight: 700;
}

.position .positionCreator {
    font-size: 0.8em;
    padding: 0 0.5em;
}

.position .positionAssignee {
    font-size: 0.8em;
    padding: 0 0.5em;
}

.position .colOperations a {
    margin: 0 2px;
}

.statBox {
    border-radius: 7px;
    border: 2px solid #9A9A9A;
    background-color: #fff;
    margin-bottom: 40px;
    height: 200px;
    padding: 0.5em;
}

.statBox .number {
    font-size: 8em;
    line-height: 1.6em;
    color: #487C96;
    text-align: center;
    font-weight: 700;
}
.statBox .text {
    font-size: 2em;
    color: #99C7DE;
    text-align: center;
    font-weight: 700;
}

#tableTitle {
    font-size: 1.4em;
    line-height: 3em;
}

#currentFormName {
    font-size: 1.5em;
}

.activity {
}

.activity-timestamp {
    font-size: 1.2em;
    color: #9c9c9c;
    display: inline-block;
}

.activity-separator {
    border-color: #000;
}

.activity-type {
    font-size: 1.4em;
    display: inline-block;
    padding-left: 0.5em;
}

.activity-decision {
    padding: 1em 0 2em 1em;
    background-color: #DFDFDF;
    font-size: 1.2em;
    border-left: 3px solid #AFAFAF;
}

.activity-actionPanel {
    background-color: #dfdfdf;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 7px;
}

.activity-actionPanel button {
    margin: 0 5px;
}

.activity-note {
    resize: none;
}

.activity-title {
    font-size: 1.3em;
}

.reminders {
    border: 2px solid #000;
    height: 100px;
    margin: 3em 0;
    background-color: #fff;
}

.reminders .remindersList {

}

.comments {
    padding: 10px;
    background: #E0E0E0;
}

.comments .comment {
    margin-bottom: 20px;
}

.comments .commentBody {
    border-left: 3px solid;
    padding-left: 10px;
}

.comments .commenter {
    font-weight: 700;
    font-size: 1.2em;
}

.comments .commentTime {
    color: rgb(153, 150, 150);
    font-size: 0.9em;
}

.commentsHeader {
    margin-top: 20px;
    font-size: 1.5em;
}

/**** Team Panel *****/
.teamHeader {
    border-left: 3px solid rgb(94, 91, 91);
    padding: 10px 20px;
    background-color: #d6d6d6;
    box-sizing: border-box;
}

#teamName {
    font-size: 2.0em;
}

#teamNameTitle {
    font-size: 1.5em;
    color: rgb(155, 152, 152);
}

#teamAdmin {
    font-size: 1.7em;
}

#teamAdminTitle {
    font-size: 1.5em;
    color: rgb(155, 152, 152);
}


#teamMembers {

}

.teamInvitationPanel {
    background-color: #d6d6d6;
    font-size: 1.7em;
    padding: 10px;
    border-left: 3px solid rgb(94, 91, 91);
}

#inviteEmail {
    height: 30px;
    font-size: 1.2em;
    width: 300px;
}

#inviteToTeam {
    vertical-align: top;
    height: 40px;
}

.teamMemberEmail {
    display: inline-block;
}

.teamMemberAvatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    padding: 0 10px;
}

.teamMemberRole {
    display: inline-block;
    float: right;
    font-weight: 700;
    padding: 0 20px;
    width: 70px;
    text-align: center;
}

.teamMemberStatus {
    display: inline-block;
    float: right;
    padding: 0 20px;
    width: 70px;
    text-align: center;
}

.teamMember {
    background-color: #e1e1e1;
    font-size: 1.7em;
    padding: 10px;
    border-left: 3px solid rgb(84, 177, 84);
}

/*** Asked For Comment ***/
#comments_badge {
    background-color: #AC4949;
    border-radius: 50%;
    font-size: 0.9em;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-weight: 700;
    line-height: 1.3em;
}

#askedForCommentList {
    list-style-type: none;
}

#askedForCommentList li {
    border-left: 3px solid #5E5E5E;
    padding: 10px;
    margin: 5px 0;
}

#askedForCommentList li .comment_date {
    color: #949494;
}

#askedForCommentList li div {
    font-size: 1.5em;
}

#askedForCommentList li textarea {
    width: 400px;
    margin: 10px 0;
    height: 75px;
    font-size: 1.6em;
}

#askedForCommentList li button {
}

.applicationsPreview {
    font-size: 1.7em;
    line-height: 2em;
}