#wrap .container {
    background-color: #f1f1f1;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 80px;
    padding: 30px;
    border-radius: 4px;
}

.headerRow {
    margin-bottom: 5em;
}

.tableRow {
    margin-top: 2em;
}

#formsTable {
    overflow: auto;
    border: 2px solid gray;
    border-radius: 4px;
}

.spanBox {
    display: inline;
    float: none;
    margin: 0 0.2em;
    padding: 0.3em;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    color: rgb(96, 96, 96);
    font-weight: 700;
}

.header {
    font-size: 4em;
    height: 2em;
    line-height: 2.5em;
    border-bottom: 2px solid #000;
}

.formName {
    font-size: 2em;
    line-height: 1.5em;
}

.formsListLabel {
    font-size: 2em;
    line-height: 2em;
}

#formsList {
    height: 40px;
    width: 100%;
    background-color: transparent;
    font-size: 1.2em;
    margin: 0;
}

.statBox {
    border-radius: 7px;
    border: 2px solid #9A9A9A;
    background-color: #fff;
    margin-bottom: 40px;
    height: 200px;
    padding: 0.5em;
}

.statBox .number {
    font-size: 8em;
    line-height: 1.6em;
    color: #487C96;
    text-align: center;
    font-weight: 700;
}
.statBox .text {
    font-size: 2em;
    color: #99C7DE;
    text-align: center;
    font-weight: 700;
}

#tableTitle {
    font-size: 1.4em;
    line-height: 3em;
}

#currentFormName {
    font-size: 1.5em;
}