#candidatesCollection.grid-layout .candidate,
#candidatesCollection.list-layout .candidate {
  box-shadow: 1px 1px 5px #c6c6c6;
  -webkit-box-shadow: 1px 1px 5px #c6c6c6;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded,
#candidatesCollection.list-layout .candidate.candidate-expanded {
  width: 100%;
  height: auto;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-summary .candidate-basicInfo,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-summary .candidate-basicInfo {
  width: auto;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-summary .candidate-conditions,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-summary .candidate-conditions,
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-summary .candidate-skills,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-summary .candidate-skills,
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-summary .candidate-stage,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-summary .candidate-stage {
  display: none;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-summary .candidate-resume,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-summary .candidate-resume {
  display: inline-block;
  margin: 0 2em;
  vertical-align: baseline;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-summary .candidate-time,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-summary .candidate-time {
  display: inline-block;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-summary .candidate-profiles,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-summary .candidate-profiles {
  display: inline-block;
  margin: 0 2em;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-summary .candidate-profiles .profile,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-summary .candidate-profiles .profile {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details {
  display: inline-block;
  width: 100%;
  padding: 20px;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-leftColumn,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-leftColumn {
  float: left;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-rightColumn,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-rightColumn {
  float: right;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-leftColumn,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-leftColumn,
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-rightColumn,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-rightColumn {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-leftColumn > *,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-leftColumn > *,
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-rightColumn > *,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-rightColumn > * {
  clear: both;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-rightColumn + *,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-rightColumn + * {
  clear: both;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .mbox,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .mbox {
  width: 100%;
  min-height: 100px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  height: 200px;
  overflow: auto;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .mbox .mbox-title,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .mbox .mbox-title {
  background-color: #E9E9E9;
  color: #9b9b9b;
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-conditions,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-conditions {
  font-size: 1.5em;
  line-height: 2em;
  padding: 0 10px;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-skills,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-skills {
  font-size: 1.5em;
  line-height: 2em;
  padding: 0 10px;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-tel,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-tel,
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-website,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-website,
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-email,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-email {
  padding: 0.5em 1em;
  font-size: 1.5em;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-coverLetter,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-coverLetter {
  padding: 10px 20px;
  font-size: 1.5em;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-activities .activity,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-activities .activity {
  margin: 1em;
  padding: 0.5em;
  border-left: 2px solid #37883A;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-activities .activity .activity-time,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .mbox .candidate-activities .activity .activity-time {
  font-size: 1.3em;
  color: #A29D9D;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-addComment,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-addComment {
  position: relative;
  height: 140px;
  background-color: #E4E4E4;
  padding: 20px 0;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-actions,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-actions {
  height: 30px;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-newComments,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-newComments {
  padding: 10px;
  background-color: #E4E4E4;
  font-size: 1.4em;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-commentBox,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-commentBox {
  width: 400px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-commentBox textarea,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-commentBox textarea {
  display: block;
  width: 100%;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-workflow .candidate-workflow-stages,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-workflow .candidate-workflow-stages {
  padding: 1em 2em;
  font-size: 2em;
  line-height: 1.5em;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-workflow .candidate-workflow-stages .candidate-workflow-stage,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-workflow .candidate-workflow-stages .candidate-workflow-stage {
  margin: 1em 0;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-workflow .candidate-workflow-stages .candidate-workflow-stage a,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-workflow .candidate-workflow-stages .candidate-workflow-stage a {
  display: block;
  padding: 0.1em 0.1em;
  border-bottom: 1px solid #5ca9fc;
  border-left: 4px solid #5ca9fc;
}
#candidatesCollection.grid-layout .candidate.candidate-expanded .candidate-details .candidate-workflow .candidate-workflow-stages .candidate-workflow-stage a:hover,
#candidatesCollection.list-layout .candidate.candidate-expanded .candidate-details .candidate-workflow .candidate-workflow-stages .candidate-workflow-stage a:hover {
  background-color: #D1E5F5;
  text-decoration: none;
  border-bottom: 1px solid #3675b9;
  border-left: 4px solid #3675b9;
}
#candidatesCollection.grid-layout .candidate {
  width: 400px;
  margin: 10px;
  float: left;
  padding: 10px;
}
#candidatesCollection.grid-layout .candidate .candidate-summary {
  position: relative;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .sticky {
  position: absolute;
  right: 0;
  top: -1em;
  background-color: #DCEEA1;
  border: 1px solid #B5C487;
  padding: 2px 5px;
  border-radius: 0 0 4px 4px;
  font-weight: 700;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-avatar {
  display: inline-block;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  border: 3px solid #cecece;
  margin: 0 10px 0px 10px;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-basicInfo {
  display: inline-block;
  vertical-align: top;
  line-height: 1.8em;
  margin: 10px 0;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-name {
  font-size: 2em;
  line-height: 1.6em;
  color: #000000;
  display: inline-block;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-resume {
  display: none;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-profiles {
  display: none;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-job,
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-time {
  font-size: 1.5em;
  color: #b8b8b8;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-job .value,
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-time .value {
  font-weight: 700;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-time {
  display: none;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-stage {
  font-size: 1.5em;
  line-height: 2em;
  border-top: 2px solid #eee;
  padding: 0 10px;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-conditions {
  font-size: 1.5em;
  line-height: 2em;
  border-top: 2px solid #eee;
  padding: 0 10px;
}
#candidatesCollection.grid-layout .candidate .candidate-summary .candidate-skills {
  font-size: 1.5em;
  line-height: 2em;
  border-top: 2px solid #eee;
  padding: 0 10px;
}
#candidatesCollection.grid-layout .candidate .candidate-details {
  display: none;
}
#candidatesCollection.list-layout .candidate {
  min-height: 50px;
  width: 100%;
  margin: 5px 15px;
  padding: 10px;
}
#candidatesCollection.list-layout .candidate .candidate-summary {
  position: relative;
}
#candidatesCollection.list-layout .candidate .candidate-summary .sticky {
  position: absolute;
  right: 0;
  top: -1em;
  background-color: #DCEEA1;
  border: 1px solid #B5C487;
  padding: 2px 5px;
  border-radius: 0 0 4px 4px;
  font-weight: 700;
}
#candidatesCollection.list-layout .candidate .candidate-summary .candidate-avatar {
  background-size: 30px 30px;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #8B8B8B;
  margin: 5px;
  box-sizing: border-box;
}
#candidatesCollection.list-layout .candidate .candidate-summary .candidate-basicInfo {
  display: inline-block;
  vertical-align: top;
}
#candidatesCollection.list-layout .candidate .candidate-summary .candidate-name {
  font-size: 1.8em;
  display: inline-block;
  vertical-align: middle;
  color: #000000;
}
#candidatesCollection.list-layout .candidate .candidate-summary .candidate-profiles,
#candidatesCollection.list-layout .candidate .candidate-summary .candidate-resume,
#candidatesCollection.list-layout .candidate .candidate-summary .candidate-time {
  display: none;
}
#candidatesCollection.list-layout .candidate .candidate-summary .candidate-job {
  font-size: 1.5em;
  color: #b8b8b8;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
}
#candidatesCollection.list-layout .candidate .candidate-summary .candidate-stage {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5em;
}
#candidatesCollection.list-layout .candidate .candidate-summary .candidate-conditions {
  font-size: 1.5em;
  vertical-align: top;
  display: inline-block;
  margin: 0 0.5em;
}
#candidatesCollection.list-layout .candidate .candidate-summary .candidate-skills {
  font-size: 1.5em;
  vertical-align: top;
  display: inline-block;
  margin: 0 0.5em;
}
#candidatesCollection.list-layout .candidate .candidate-details {
  display: none;
}
