
#wrap {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 250px;
    right: 0;
    overflow: auto;
    padding: 40px 0 0 0;
}

#notificationCenter {
    position: fixed;
    width: 300px;
    right: 0;
    bottom: 1em;
    top: 10em;
    overflow: hidden;
}

#notificationCenter .tongue {
    position: relative;
    left: 0;
    top: 20px;
    width: 40px;
    height: 40px;
    background-color: #6EB87D;
    border-radius: 4px 0 0 4px;
    text-align: center;
    line-height: 1.6em;
    font-size: 2em;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#notificationCenter .panel {
    position: absolute;
    width: 260px;
    left: 40px;
    bottom: 0;
    top: 0;
    border-radius: 7px 0 0 7px;
    overflow-y: auto;
    background-color: rgb(238, 238, 238);
    border: 3px solid #6EB87D;
}

#notificationCenter .panel .nc-header {
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0;
    color: #000;
}

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 24px;
    width: 250px;
    font-size: 1.7em;
    text-align: center;
    line-height: 1.4em;
    margin: auto;
    height: 370px;
}

.menu .menu-header {
    color: #000;
    line-height: 2.0em;
    font-weight: 700;
    padding-bottom: 1em;
    border-bottom: 2px solid #000;
    margin: 1em;
}

.menu .menu-header #switchButton {
    background-color: #fff;
}

.menu #dashboardNavigator {
    padding: 0 50px;
    background-color: #fff;
}

.menu .item {
    padding: 1em 0;
    display: block;
    color: #000;
    margin: 0;
    font-size: 1em;
}

.menu .item:hover {
    text-decoration: none;
    cursor: pointer;
}

.menu input[type=radio]:checked + label {
    background-color: #eee;
    border-radius: 4px;
}

.menu .item .fetching {
    padding: 0 4px;
    display: none;
}

#wrap .container-fluid {
}

#wrap .right-panel #overviewp:target,
#wrap .right-panel #teamp:target,
#wrap .right-panel #jobsp:target,
#wrap .right-panel #applicationsp:target,
#wrap .right-panel #billingp:target{
    display: block;
}

#wrap .right-panel .container-fluid {
    background-color: #fff;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 30px;
    border-radius: 4px;
    display: none;
}

.headerRow {
    margin-bottom: 5em;
}

.tableRow {
    margin-top: 2em;
}

#applicationsTable {
    overflow: auto;
    border: 2px solid gray;
    border-radius: 4px;
}

.interview-conflicts {
    font-size: 1.5em;
    margin: 1em;
    line-height: 1.6em;
    background: rgb(250, 222, 222);
    padding: 0.5em;
    border-radius: 7px;
}

.spanBox {
    display: inline;
    float: none;
    margin: 0 0.2em;
    padding: 0.3em;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    color: rgb(96, 96, 96);
    font-weight: 700;
}

.header {
    font-size: 4em;
    height: 2em;
    line-height: 2.5em;
    border-bottom: 2px solid #000;
}

.formName {
    font-size: 2em;
    line-height: 1.5em;
}

.formsListLabel {
    font-size: 2em;
    line-height: 2em;
}

.careerPageAddress {
    font-size: 2em;
    background-color: #eee;
    padding: 20px;
    border-radius: 4px;
    margin: 1em 0;
    text-align: center;
}

.positionsList {
}

.positionsHeaderRow {
    font-size: 2em;
    text-align: center;
    background-color: #eee;
    padding: 5px 0;
    line-height: 1.3em;
    border-radius: 4px 4px 0 0;
}

.positionsFooterRow {
    border-radius: 0 0 4px 4px;
    background-color: #eee;
    height: 6px;
}

.position {
    font-size: 2em;
    padding: 5px 0;
    border-left: 3px solid #eee;
    border-right: 3px solid #eee;
    text-align: center;
    line-height: 1.3em;
    cursor: pointer;
}

.position:hover {
    background-color: #EBE9C3;
}

.position .positionTitle {
    font-size: 0.9em;
}

.position .positionMode {
    color: #9c9c9c;
    font-size: 0.6em;
    font-weight: 700;
}

.position .positionCreator {
    font-size: 0.8em;
    padding: 0 0.5em;
}

.position .positionAssignee {
    font-size: 0.8em;
    padding: 0 0.5em;
}

.position .colOperations a {
    margin: 0 2px;
}

.statBox {
    border-left: 3px solid #C4C4C4;
    background-color: #f9f9f9;
    margin-bottom: 40px;
    padding: 0.5em 1.5em;
}
.statBox a,
.statBox a:hover,
.statBox a:active {
    display: block;
    text-decoration: none;
}
.statBox .number {
    font-size: 2.5em;
    line-height: 1.6em;
    color: #000;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    margin: 0 0.3em;
    vertical-align: sub;
}
.statBox .text {
    font-size: 1.5em;
    color: #000;
    text-align: center;
    font-weight: 700;
    display: inline-block;
}

#tableTitle {
    font-size: 1.4em;
    line-height: 3em;
}

#currentFormName {
    font-size: 1.5em;
}

.reminders {
    border: 2px solid #000;
    height: 100px;
    margin: 3em 0;
    background-color: #fff;
}

.reminders .remindersList {

}

.comments {
    padding: 10px;
    background: #E0E0E0;
}

.comments .comment {
    margin-bottom: 20px;
}

.comments .commentBody {
    border-left: 3px solid;
    padding-left: 10px;
}

.comments .commenter {
    font-weight: 700;
    font-size: 1.2em;
}

.comments .commentTime {
    color: rgb(153, 150, 150);
    font-size: 0.9em;
}

.commentsHeader {
    margin-top: 20px;
    font-size: 1.5em;
}

/**** Team Panel *****/
.team-setting-btn,
.team-invite-btn {
    margin-right: 8px;
}

.teamHeader {
    border-radius: 4px 4px 0 0;
    padding: 10px 20px;
    background-color: #eee;
    box-sizing: border-box;
}

.teamFooter {
    border-radius: 0 0 4px 4px;
    background-color: #eee;
    height: 6px;
}

#teamName {
    font-size: 2.0em;
}

#teamNameTitle {
    font-size: 1.5em;
    color: rgb(155, 152, 152);
}

#teamNameChange {
    margin: 0 1em;
    font-size: 1.2em;
    cursor: pointer;
}

#teamAdminChange {
    margin: 0 1em;
    font-size: 1.2em;
    cursor: pointer;
}

#teamAdminTitle {
    font-size: 1.5em;
    color: rgb(155, 152, 152);
}

#teamMembers {

}

.teamInvitationPanel {
    background-color: #d6d6d6;
    font-size: 1.7em;
    padding: 10px;
    border-left: 3px solid rgb(94, 91, 91);
}

#inviteEmail {
    height: 30px;
    font-size: 1.2em;
    width: 300px;
}

#inviteToTeam {
    vertical-align: top;
    height: 40px;
}

.teamMemberName {
    display: inline-block;
}

.teamMemberEmail {
    color: gray;
    margin-left: 0.5em;
    font-size: 0.8em;
}

.teamMemberAvatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 10px;
}

.teamMemberRole {
    display: inline-block;
    font-weight: 700;
    width: 200px;
    text-align: center;
    position: absolute;
    right: 1em;
}

.teamMemberStatus {
    display: inline-block;
    float: right;
    margin: 0 20px;
    width: 70px;
    text-align: center;
}

.teamMemberMakeAdmin {
    display: inline-block;
    float: right;
    padding: 0 20px;
    width: 80px;
    font-size: 0.7em;
    text-align: center;
}

.teamMember {
    font-size: 1.7em;
    padding: 10px;
    border-left: 3px solid #eee;
    border-right: 3px solid #eee;
    cursor: default;
    position: relative;
}

.teamMembersFooter {
    border-radius: 0 0 4px 4px;
    background-color: #f9f9f9;
    height: 6px;
}

#teamMembers .teamMember:hover {
    background-color: #EBE9C3;
}

.team-disjoint-button {
    display: none;
    margin-left: 8px;
}

.teamMember:hover .team-disjoint-button {
    display: inline-block;
}

/*** Asked For Comment ***/
#comments_badge {
    background-color: #AC4949;
    border-radius: 50%;
    font-size: 0.9em;
    width: 26px;
    height: 26px;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 1.8;
}

#askedForCommentList {
    list-style-type: none;
    margin: 0 10px;
}

#askedForCommentList li {
    padding: 10px;
    margin: 5px 0;
    background-color: #fff;
    box-shadow: 1px 1px 5px #DADADA;
    border-radius: 4px;
}

#askedForCommentList li .comment_date {
    color: #8A8A8A;
    font-size: 0.7em;
}

#askedForCommentList > li > div {
    font-size: 1.5em;
}

#askedForCommentList li textarea {
    margin: 10px 0;
    height: 75px;
    font-size: 1.6em;
}

#askedForCommentList li button {
}

#askedForCommentList li a {
    font-size: 1em;
}

#askedForCommentList li a.btn {
    display: inline-block;
    margin: 8px 4px
}

.applicationsPreview {
    font-size: 1.7em;
    line-height: 2em;
}

.application-searchBox {
    padding: 12px;
    width: 360px;
    border-radius: 4px;
    border: 2px solid #FFF;
    font-size: 1.6em;
    background-color: #eee;
}

.application-searchBox:focus {
    outline: none;
    border: 2px solid #FFF;
}

.application-searchButton {
    height: 3.3em;
}

.applications-filter-job {
    background-color: #eee;
    border: 2px solid #FFF;
    color: #000;
    vertical-align: top;
    height: 20px;
    box-sizing: content-box;
    padding: 12px;
    width: 360px;
}

.applications-filter-job:focus {
    outline: none;
    border: 2px solid #FFF;
}

.modal-body{

}

.bool-application-comments-note{
    font-size: 14px;
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    width: 300px;
    text-align: left;
    background-color: #E9E9E9
}
.bool-application-comments-comment{
    font-size: 14px;
    width: 300px;
    min-height:100px;
    resize: none;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    overflow: hidden;
    background-color: #EBEBEB;
    cursor: text;
}
.bool-application-comments-comment[readonly] {
    cursor: text;
    background: #E9E9E9;
    border: 0;
}
.reply-for-comment-form{
    margin-bottom: 0;
}
form{
    text-align: left;
}
a{
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 1030;
    overflow: auto;
}

/* Effects */
.overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

/* Jobs */
.publicLinkOpener {
    background-color: #666;
    display: inline-block;
    margin: 4px;
    padding: 0 8px;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
}

@media (max-width: 979px) {

    /* General */

    #notificationCenter {
        top: 6em;
    }

    .navbar .nav > li > a {
        padding: 0;
    }

    /* Application */
    .candidate-leftColumn,
    .candidate-rightColumn {
        width: 100% !important;
    }
}


@media (max-width: 900px) {

    .teamMemberEmail {
        display: none;
    }

}

@media (max-width: 767px) {
    /* Menu */
    .menu {
        border-bottom: 1px solid rgb(179, 179, 179);
    }

    .menu .item {
        border-left: none;
        display: inline-block;
        font-size: 0.8em;
    }

    .menu input[type=radio]:checked + label {
        background-color: rgb(200, 230, 200);
        border-left: none;
        border-bottom: 4px solid green;
    }

    /* Overview */
    .statBox {
        margin-bottom: 10px;
    }

    /* Team */
    .teamMemberRole {
        position: relative;
        right: 0;
    }

    /* Jobs */
    .positionsHeaderRow {
        display: none;
    }
    .position {
        border-bottom: 1px solid #C5C5C5;
    }

    /* Applications */
    .grid-layout .candidate {

    }

    /* Billing */
    #paypal {
        text-align: center;
    }
    #paypalPay img {
        float: none;
    }
    #billing-plan{
        text-align: center;
    }
    #premiumPlanButton,#freePlanButton {
        float:none;
        margin: 2em 0;
    }

}

/**
Billing
**/
.billing-notification {
    background-color: rgb(253, 224, 224);
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgb(248, 198, 198);
    font-size: 1.5em;
    margin-bottom: 32px;
}

#billingHistory {
    font-size: 2em
}

#billingsList {
    font-size: 0.8em;
    width: 100%;
}

#billingsList thead tr td {
    font-weight: 700;
}

#billingsList  tr td {
    padding: 0.5em 2em;
    background-color: #fff;
    border-bottom: 2px solid #d9d9d9;
}

#paypalPay {
    margin: 1em auto 2em auto;
    background-color: #eee;
    padding: 1em;
    font-size: 1em;
    border-radius: 4px;
    width: 550px;
}

#paymentAmount {
    margin: 0;
}

#billing_balance {
    display: inline-block;
    font-size: 1.5em;
    color: rgb(213, 82, 82);
    font-weight: 700;
}

.plan-table {
    margin: 1em auto 40px auto;
    background-color: #eee;
    border-radius: 4px;
}

.plan {
    vertical-align: top;
    text-align: center;
    padding: 20px;
}
.plan-title {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 700;
}

.plan-feature {
    padding: 10px;
}

.plan button {
    margin: 16px;
}

#current-plan {
    font-weight: 700;
}


.jobs-empty-state, .applications-empty-state {
    display: none;
}
.empty-state-message {
    text-align: center;
    font-size: 2em;
    background: #ddd;
    border-radius: 7px;
    padding: 30px;
    margin: 0 10%;
    line-height: 2.5em;
}

/**** For Fixing Bootstrap tour plugin in dashboard ****/
.menu {
    z-index: 1;
    /*z-index: 1101;
    background-color: #fff;*/
}

.popover[class*="tour-"] {
    /*z-index: 1101;*/
}


/**** Toggle Switch box (http://proto.io/freebies/onoff/) ****/

.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 6px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "List";
    padding-left: 9px;
    background-color: #EEEEEE; color: #999999;
}

.onoffswitch-inner:after {
    content: "Grid";
    padding-right: 9px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 32px; margin: -1px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 6px;
    position: absolute; top: 0; bottom: 0; right: 46px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/*** Hidden/Visible for teammate/hiring manager ***/
label[for="radio-item-billing"],
.team-setting-btn,
.team-invite-btn {
    display: none;
}