@import "buttons.css";

/********
Whole Paper
********/
#portletsBox {
    position: relative;
    width: 756px;
}

.portletStack {
    margin: 0;
    background-color: #fff;
}

.portletCreator  {
    position: absolute;
    width: 700px;
    background-color: #f2f2f2;
    opacity: 0.75;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 28px; /* Action Button Width */
}

.portletCreator:hover {
    opacity: 1.0;
}

.portlet-container  {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 28px; /* Action Button Width */
}

.portlet-container:hover .portlet-aroundButton  {
    display: block;
}

/********
Action Buttons
********/
.portlet-container .action-btn-frame {
    display: none;
    position: absolute;
    /*z-index: -1; This property have problem with jQury.Sortable*/
    background-color: #f1f1f1;
    width: 28px;
    height: 28px;
    border: solid 1px #000;
}
.portlet-container:hover .action-btn-frame { display: block; }
.portlet-container .action-btn-frame:hover { background-color: #bfbfbf; }

.portlet-container .move-btn-frame { left: 0;top: 0; border-radius: 6px 0 0 0px;}
.portlet-container .setting-btn-frame { left: 0;top: 28px; border-radius: 0px 0 0 6px;}
.portlet-container .delete-btn-frame { right: 0;top: 0; border-radius: 0 6px 6px 0;}

.portlet-container .action-btn {
    background-image: url("/images/flyer-icons.png");
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.portlet-container .setting-btn {
    background-position: 0 -415px;
    width: 22px;
    height: 22px;
}
.portlet-container .move-btn {
    background-position: 0 -436px;
    width: 21px;
    height: 13px;
}
.portlet-container .delete-btn {
    background-position: 0 -449px;
    width: 16px;
    height: 23px;
}

/********
Portlet
********/
.portlet-settingPanel {
    position: relative;
    display: none;
    height: 0;
    top: 0;
    background-color: #563;
}
.portlet {
    height: 100%;
}

.portlet-splitter {
    position: absolute;
    height: 3px;
    bottom: 0;
    width: 700px;
    background-color: gray;
    z-index: 1;
}
.portlet-splitter:hover{
    cursor: ns-resize;
    background-color: #e5e5e5;
}

.ui-sortable-placeholder {
    border: 2px dotted #e5263e;
    visibility: visible !important;
    height: 50px !important;
    background-color: #d7d4d4;
    width: 700px;
    box-sizing: border-box;
    margin-left: 28px; /* Action Button Width */
    color: #000;
    content: "PLACE IT HERE";
}
.ui-sortable-placeholder * { visibility: hidden; }

/********
Text portlet
********/
.portlet-content-text {overflow-y: auto;}

/********
Map portlet
********/
.portlet .mapAsImage-hide { display: none;}
.portlet .mapAsImage-show {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    display: block;
}

/********
Portlet Creator
********/
.newitem { display: inline-block; }

/** Generic button - outer **/
.buttonFrame {
    width: 72px;
    height: 72px;
    background-color: #b3b3b3;
    border-radius: 50%;
    margin: 6px;
    position: relative;
    cursor: pointer;
}
.buttonFrame:hover {
    width: 84px;
    height: 84px;
    margin: 0;
}
.buttonFrame:active {
    background-color: #666;
}

/** Generic button - inner **/
.button {
    background: url('../images/flyer-icons.png');
    display: block;
}

.centeralBackgroundImage { /* Set its parent to position:relative*/
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/** Specific button - outer **/
.plusButtonFrame {
    top: -20px;
    display: inline-block;
}
.plusButtonFrame:hover {
    top: 0;
}

/** Specific button - inner **/
.plusButton {
    height: 45px;
    width: 46px;
}
.addNewTextButton {
    background-position:  0 -45px;
    height: 40px;
    width: 34px;
}
.addNewPhotoButton {
    background-position: 0 -85px;
    height: 32px;
    width: 41px;
}
.addNewVideoButton {
    background-position: 0 -117px;
    height: 36px;
    width: 43px;
}
.addNewVoiceButton {
    background-position: 0 -153px;
    height: 37px;
    width: 52px;
}
.addNewLinkButton {
    background-position: 0 -232px;
    height: 23px;
    width: 55px;
}
.addNewMapButton {
    background-position: 0 -190px;
    height: 42px;
    width: 26px;
}
.closeButton {
    height: 45px;
    width: 46px;
    -webkit-transform: rotate(45deg);
    -moz-transform:  rotate(45deg);
    -ms-transform:  rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*** Image Widget ***/
.browseImgBtn {
    width: 100px;
    padding: 5px;
    margin: 0;
}

.imageWidgetCamera {
    background: url('/images/flyer-icons.png') 0px -371px;
    width: 59px;
    height: 43px;
    display: block;
    margin: 0 auto;
}

.imageWidgetOuterContainer {
    background-color: #f1f1f1;
    text-align: center;
    font-weight: 700;
    line-height: 36px;
}

.imageWidgetInnerContainer {
    /*margin: 10px;*/
    padding: 20px;
    border: dashed 2px #999;
}

/*** Video Widget ***/
.videoWidgetOuter {
    background-color: #F1F1F1;
    position: relative;
    height: 150px;
}

.videoWidgetInputboxOutter {
    border: solid 1px #000;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#videoWidgetInputboxText {
    height: 40px;
    width: 420px;
    border: 0;
    font-size: 24px;
    line-height: 40px;
    background-color: transparent;
}

.videoWidgetInputboxFooter {
    font-size: 20px;
}

.videoWidgetInputboxDone {
    width: 60px;
    padding: 5px;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: 30px;
    top: -7px;
}