
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.jcarousel>ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel>ul>li {
    float: left;
    width: 625px;
    height: 100px;
}

/** Carousel Controls **/
.jcarousel-control{
    position: absolute;
    width:100px;
    height: 100px;
    top:0;
}
.portlet:hover a.jcarousel-control-next,
.portlet:hover a.jcarousel-control-prev{
    display: block;
}
.jcarousel-control:hover .jcarousel-control-next,
.jcarousel-control:hover .jcarousel-control-prev{
    display: block;
}
.jcarousel-control-prev,
.jcarousel-control-next {
    /*display: none;*/
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style:none;/*IE*/
    cursor: pointer;
}
.portlet:hover .layoutButton,
.portlet:hover .layoutButton{
    display: block;
}
.jcarousel-control-prev{
    left: -30px;
}

.jcarousel-control-next {
    right: -30px;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    display: block;
}
.jcarousel-control-prev:hover span,

.jcarousel-control-next:hover span {
    display: block;
}

.portlet-aroundButton {
    display: none;
    position: absolute;
    /*z-index: -1; This property have problem with jQury.Sortable*/
    background-color: #6b6b6b;
    width: 24px;
    height: 24px;
}

.portlet-aroundButton:hover {
    background-color: #bfbfbf;
}

.portlet-aroundButton span {
    margin: 6px;
}

.portlet-settingButton {
    right: 0px;
    top: 24px;
}

.portlet-moveHandle {
    right: 0px;
    top: 0;
}

.portlet-deleteButton {
    left: -24px;
    top: 0;
}

.portlet-settingPanel {
    position: relative;
    display: none;
    height: 0;
    top: 0;
    background-color: #563;
}

.portlet-topPadding {
    position: relative;
    height: 5px;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}