.hb-land-body{
    padding: 0;
    font-family: 'Source Sans Pro';
    background: #fff -180px -100px;
    /*background-image: url("/images/LP-bp-fonts+colors.jpg") ;*/
    /*background-image: url("/images/LP-preview.jpg") ;*/
    /*background-image: url("/images/LP-bp-sizes+distances.jpg") ;*/
}

/*** Navbar ***/
.hb-land-body>.navbar-normal-top{
    background: transparent;
    margin: 0;
    border: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    color: #fff;
    /*background-image: url("/images/LP-bp-sizes+distances.jpg") ;*/
    z-index: 1;
    margin: 0 16.66%;
}
.hb-land-body>.navbar-fixed-top{
    background: #ffffff -180px -100px;
    margin: 0;
    top: -61px;
    position: fixed;
    /*background-image: url("/images/LP-bp-sizes+distances.jpg") ;*/
    padding: 0 16.66%;
}
.hb-nav-container{
    padding-left: 0;
    padding-right: 0;
}
.hb-navbar {
    background: #ffffff;
    margin: 0;
    border: none;
    padding: 0 20px;
    border-bottom: 1px solid #b0b0ea;
    min-height: 60px;
}
.navbar-toggle{
    margin-top: 17px;
}
.hb-navbar-action-container{
    min-width: 430px;
    float:right;
    display: inline-block;
}
.hb-navbar-header{
    height: 60px;
}
.hb-nav-btn-border{
    border:1px solid #f8b256;
    display: inline-block;
    margin: 11px 5px;
    padding: 0;
    border-radius: 4px;
    float:left;
}
.hb-nav-btn-no-border {
    position: absolute;
    top: 4px;
    right: 20px;
}
.navbar .nav > li > a.hb-nav-btn,.hb-nav-btn {
    color: #8989ce;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    line-height: 22px;
    margin:17px 0 0 38px;
    border-bottom: 2px solid transparent;

}
.navbar .nav > li > a.hb-nav-btn:hover{
    border-bottom: 2px solid #8989ce;
    /*text-decoration: underline;*/
}
.navbar-normal-top .nav > li > a.hb-nav-btn,.hb-nav-btn {
    color: #fff;
}

.hb-nav-btn-try-now:hover,
.navbar .nav > li > a.hb-nav-btn-try-now:hover {
    color: #ffffff;
    text-decoration: none;
}

.hb-nav-btn-try-now,
.navbar .nav > li > a.hb-nav-btn-try-now {
    padding: 10px 20px;
    border: 2px solid #ffffff;
    background: #f8b256;
    color: #ffffff;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    margin: 0;
    line-height: 12px;
}
.navbar .nav.hb-nav-btn-list {
    margin-right: 5px;

}
.hb-nav-btn-list>li {
    text-align: center;
}
.hb-nav-btn-bold,
.hb-nav-btn-bold:hover,
.hb-nav-btn-bold:visited {
    font-weight: 600;
    color: #fff;
    text-decoration: none;

}
.navbar .collapse .nav li a.hb-nav-btn-try-now {
    display: none;
}

.hb-brand {
    display: inline-block;
    width: 140px;
    height: 28px;
    margin: 16px 12px 16px 20px;
    float: left;
}
.hb-brand-purple {
    background: url("/images/LP-logos@2x.png") ;
    background-size: 180px 112px;
    background-position: 0 -85px;
}
.hb-brand-white {
    background-image: url("/images/logo-wg@2x.png");
    background-position: 0 0;
    background-size: 138px 28px;
    background-repeat: no-repeat;
}

.hb-moto {
    display: inline-block;
    font-size: 16px;
    color: #429985;
    border-radius: 10px;
    background: #b1f1e3;
    margin: 16px 0 16px 10px;
    padding: 4px 20px;
    float: left;
    position: relative;
}
.hb-moto:hover{
    text-decoration: none;
    color: #429985;
}
.hb-moto span {
    position: relative;
    top: -1px;
}
.hb-arrow-left {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    left: -13px;
    margin-top: -7px;
    border-right-color: #b1f1e3;
    border-left-width: 0;
    border-width: 8px;
}
.hb-arrow-up {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: -14px;
    left: 50%;
    margin-left: -7px;
    border-bottom-color: #b1f1e3;
    border-width: 8px;
}
.hb-land-container{
    margin: 0;
    padding: 0;
}

.hb-alert {
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
}

.hb-cover {
    background: url("/images/LP-hero.jpg") no-repeat scroll 50% 0px #f8f8f8;
    /*
    background: #f1f1f1 url("/images/LP-hero.jpg") top center no-repeat;
    width: 100%;
    min-height: 600px;
    background-size: cover;
    */
}
.hb-cover .hb-scroll-arrow {
    background-image: url("/images/scroll-down.png");
    width: 70px;
    height: 20px;
    background-size: 70px 20px;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

/*** Invite/PromoCode ***/
.hb-cover .hb-cover-floor {
    margin: 20px auto;
}
.hb-cover .hb-cover-floor .input-group .input-group-btn button {
    height: 45px;
    background-color: rgb(255, 181, 48);
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
}
.hb-cover .hb-cover-floor .input-group input[type="text"],
.hb-cover .hb-cover-floor .input-group input[type="text"]:focus,
.hb-cover .hb-cover-floor .input-group input[type="text"]:active{
    height: 45px;
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 22px;
}

.hb-cover .hb-cover-floor > button {
    display: inline-block;
    background: rgba(0, 0, 0, 0.25);
    border: 3px solid #fff;
    border-radius: 4px;
    padding: 8px;
    font-size: 20px;
}
.hb-cover .hb-cover-floor > button,
.hb-cover .hb-cover-floor > button:focus,
.hb-cover .hb-cover-floor > button:active {
    outline: none;
}

.hb-cover .hb-cover-floor > button:hover {
    background: rgba(0, 0, 0, 0.50);;
}

.hb-cover .hb-cover-floor .hb-inline-form-activator {
    display: none;
}
.hb-cover .hb-cover-floor .hb-inline-form-activator[active="true"] {
    display: inline-block;
}
.hb-cover .hb-inline-form  {
    display: none;
}
.hb-cover .hb-inline-form[active='true'] {
    display: table;
    width: 40%;
    margin: auto;
}
.hb-cover .hb-inline-form[active='true'] button,
.hb-cover .hb-inline-form[active='true'] input {
    border: none;
}

.hb-hero-container .hb-cover .hb-cover-col {
    padding: 16% 0;
    text-align: center;
    color: #fff
}

.hb-hero-container .hb-cover .hb-cover-col h1 {
    font-size: 5em;
    margin: 20px 0 70px 0;
    font-weight: 600;
    text-shadow: 0px 0px 3px #1F1F1F;
}



.hb-hero-container .row.hb-hero{
    min-height: 333px;
    background: -webkit-linear-gradient(rgba(100, 230, 200, 0.20)
    ,rgba(137,173,206,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(100, 230, 200, 0.20)
    ,rgba(137,173,206,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(100, 230, 200, 0.20)
    ,rgba(137,173,206,1)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(100, 230, 200, 0.20)
    , rgba(137,173,206,1)); /*Standard*/
    margin: 0 0 60px 0;
}
.hb-hero h2{
    color:#5d7b95;
    font-size:36px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 27px;
}
.hb-hero p{
    font-size:24px;
    color:#3b4f61;
    font-weight: 300;
    line-height: 32px;
    max-width: 500px;
    text-align: left;
    display: inline-block;
}

.hb-hero-img {
    width: 512px;
    height: auto;
    top: 40px;
    left: 0;
    position: absolute;
    z-index: 10;
}
.hb-hero-img-container{
    min-height: 330px;
}
.hb-hero-container{
    width: 100%;
    padding: 0;
}
.hb-hero-container > .row {
    margin: 0;
}
.hb-hero-summary{
    text-align: center;
    margin-top:96px;
    margin-left:100px;
}

.hb-hero-container .row.hb-why-row {
    margin: 40px 0;
}

.hb-why-row:nth-child(odd) > div:nth-child(1) {
    float: right;
}
.hb-why-row:nth-child(odd) > div:nth-child(2) {
    float: left;
}
.hb-why-row:nth-child(odd) > div > img {
    float: left;
}

.hb-hero-container .row.hb-why-row .col-md-3,
.hb-hero-container .row.hb-why-row .col-md-5{
    text-align: center;
}


.hb-caption {
    font-size: 18px;
    font-weight: 300;
    color: #737373;
    padding: 50px 0;
    line-height: 1.5em;
    text-align: left;
}
.hb-caption h3{
    font-size: 24px;
    margin-top: -5px;
    margin-bottom: 23px;
    color: #666666;
}
.hb-caption p {
    color: #9c9c9c;
}

.hb-thumbnail{
    width: 500px;
    float: left;
    margin-top: 110px;
    background: transparent;
    border: none;
}
.hb-thumbnail .hb-caption{
    padding: 0;
}
.hb-hero-container>div.row>div{
    padding: 0;
}
.hb-thumbnail>.hb-land-icon-perk{
    background: url("/images/LP-why-pics@2x.png");
    background-size: 226px 680px;

    width: 226px;
    height: 170px;
    margin-left: auto;
    margin-right:auto ;
}
.hb-thumbnail-left{
    float:right;
}

/*** Vertical Menu ***/
.hb-vertical-menu {
    width: 100%;
    border-bottom: 2px solid #bbb;
    position: relative;
    margin: 0 auto 30px auto;
}
.hb-vertical-menu ul {
    list-style: none;
    padding: 0;
}
.hb-vertical-menu ul li {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.hb-vertical-menu .hb-vmenu-item,
.hb-vertical-menu .hb-vmenu-item:hover,
.hb-vertical-menu .hb-vmenu-item:active,
.hb-vertical-menu .hb-vmenu-item:visited {
    color: #bbb;
    font-size: 2.4rem;
    text-decoration: none;
}
.hb-vertical-menu .hb-vmenu-item.actived {
    color: #777;
}

.active-item-index {
    border-top: 2px solid #777;
    position: absolute;
    height: 50px;
    width: 32%;
    left: 68%;
}
.hb-vertical-menu[active-item="1"] .active-item-index {
    -webkit-transition: left 0.5s ease-out; /* Safari */
    transition: left 0.5s ease-out;
    left: 0;
}
.hb-vertical-menu[active-item="2"] .active-item-index {
    -webkit-transition: left 0.5s ease-out; /* Safari */
    transition: left 0.5s ease-out;
    left: 34%;
}
.hb-vertical-menu[active-item="3"] .active-item-index {
    -webkit-transition: left 0.5s ease-out; /* Safari */
    transition: left 0.5s ease-out;
    left: 68%;
}

.active-item-index .outter {
    border: 10px solid transparent;
    border-top-color: #777;
    width: 0;
    position: absolute;
    top: -2px;
    margin: auto;
    left: 0;
    right: 0;
}
.active-item-index .outter .inner {
    border: 8px solid transparent;
    border-top-color: #fff;
    width: 0;
    position: absolute;
    left: -8px;
    top: -11px;
}



.footer {
    text-align: center;
}

.footer a {
    margin: 10px;
    color: #9c9c9c;
    font-size: 18px;
}

/*** Features ****/
.hb-hero-container .hb-features-row {
    padding: 75px 0;
}

.hb-hero-container .hb-features-row.silver {
    background-color: #f2f2f2;
}

.hb-features-row h2.hb-feature-intro-title {
    color: #333;
    font-size: 3.0rem;
    font-weight: 600;
    text-align: center;
}

.hb-features-row p.hb-feature-intro-text {
    color: #666;
    text-align: left;
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 90px;
}

.hb-features-row .hb-feature-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hb-features-row .hb-feature-bullets li h3::after {
    width: 50px;
    height: 2px;
    background-color: #aaa;
    content: "";
    display: block;
    margin: 20px auto;
}

.hb-features-row .hb-feature-bullets li h3,
.hb-features-row .hb-dropbox h3 {
    color: #555;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.hb-features-row .hb-feature-bullets li p,
.hb-features-row .hb-dropbox p {
    color: #777;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

.hb-features-row .hb-feature-img {
    text-align: center;
}

.hb-features-row .hb-feature-img img {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 400px;
}

.hb-features-row.hb-dropbox {
    margin-top: -75px;
}
.hb-hero-container .hb-features-row.hb-dropbox > div {
    background-color: #43A5F7;
    padding: 30px 20px;
}
.hb-features-row.hb-dropbox > div h3,
.hb-features-row.hb-dropbox > div p {
    color: #fff;
    font-weight: 300;
    text-align: left;
}
.hb-features-row.hb-dropbox > div p {
    margin: 20px 0 0 0;
}

/*** Pricing ***/
.hb-pricing-row {
    padding: 60px;
}

.hb-pricing-row .hb-pricing-plan {
    margin: 10px 20px;
}

.hb-pricing-row h3 {
    color: #fff;
    font-size: 3.0rem;
    font-weight: 700;
    line-height: 4.5rem;
    text-align: center;
    margin: 0;
}

.hb-pricing-row .hb-pricing-plan.pink h3 {
    background-color: #e66796;
}

.hb-pricing-row .hb-pricing-plan.gold h3 {
    background-color: #d5c466;
}

.hb-pricing-row .wrapper {
    margin: 0 8px;
    border: #6f6f6f dashed 2px;
    border-top: none;
}

.hb-pricing-row .wrapper p {
    background-color: #f2f2f2;
    text-align: center;
    line-height: 3.5rem;
    font-size: 2rem;
    color: #888;
    font-weight: 300;
    margin: 0 8px 8px 8px;
    padding: 20px 0 0 0;
}

.hb-pricing-row .wrapper p .hb-plan-price {
    font-weight: 600;
    margin: 20px;
    display: inline-block;
}

.hb-pricing-row .hb-pricing-plan.pink .wrapper p .hb-plan-price {
    color: #e66796;
}

.hb-pricing-row .hb-pricing-plan.gold .wrapper p .hb-plan-price {
    color: #d5c466;
}

.hb-pricing-row .wrapper p .hb-plan-price strong {
    font-size: 5rem;
    font-weight: 600;
}



@media (min-width:1090px) {
    .hb-hero-summary{
        float: right;

    }
    .hb-hero-img{
        margin: auto;
        right: 0;
    }
}
@media (max-width: 1090px) {
    .hb-land-icon-perk {
        width: 280px;
        height: auto;
    }
}
@media (max-width: 990px) {
    .hb-land-body>.navbar-normal-top{
        margin: 0;
    }
    .hb-land-body>.navbar-fixed-top{
        padding: 0 16px;
    }
    .hb-hero-summary {
        margin-top: 100px;
        margin-left: 0;
        margin-bottom: 50px;
        padding: 10px;
    }
    .hb-hero {
        background: none;
    }
    .hb-hero h2{
        text-align: center;
    }
    .hb-hero p {
        text-align: center;
        padding: 0 10px;
    }
    .hb-hero-img-container {
        background: -webkit-linear-gradient(rgba(100, 230, 200, 0.20)
        ,rgba(137,173,206,1)); /*Safari 5.1-6*/
        background: -o-linear-gradient(rgba(100, 230, 200, 0.20)
        ,rgba(137,173,206,1)); /*Opera 11.1-12*/
        background: -moz-linear-gradient(rgba(100, 230, 200, 0.20)
        ,rgba(137,173,206,1)); /*Fx 3.6-15*/
        background: linear-gradient(rgba(100, 230, 200, 0.20)
        , rgba(137,173,206,1)); /*Standard*/
    }
    .hb-caption h3 {
        text-align: center;
    }
    .hb-caption p {
        color: #9c9c9c;
        text-align: center;
        font-size: 23px;
        padding: 0 10px;
    }
    .hb-hero-img {
        left: 0;
        right: 0;
        margin: auto;
    }
    .hb-hero-img-container {
        background: none;
    }
    .hb-hero-container .hb-cover .hb-cover-col .input-group {
        width: 90%;
    }
    .hb-land-icon-perk {
        width: 100%;
        height: auto;
        max-width: 50%;
    }
    .hb-why-row:nth-child(odd) > div:nth-child(1) {
        float: none;
    }
    .hb-why-row:nth-child(odd) > div:nth-child(2) {
        float: none;
    }
    .hb-why-row:nth-child(odd) > div > img {
        float: none;
    }

    .hb-hero-container .hb-features-row .row-fluid {
        padding: 0 16px;
    }
    .hb-features-row p.hb-feature-intro-text {
        text-align: center;
    }
    .hb-features-row .hb-feature-img {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }
    .hb-hero-container .hb-features-row .row-fluid.hb-dropbox {
        padding: 30px 20px;
    }
    .hb-features-row.hb-dropbox,
    .hb-features-row.hb-dropbox > div h3,
    .hb-features-row.hb-dropbox > div p {
        text-align: center;
    }
}
@media (max-width: 843px) {

    .hb-moto{
        display: none;
    }

}
@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
    .hb-navbar-action-container{
        min-width: auto;
    }
    .hb-thumbnail-top{
        margin-top:  30px;
    }


}
@media (max-width: 767px) {
    .hb-nav-btn-border {
        position: fixed;
        top: 4px;
        right: 70px;
    }
    .hb-navbar-action-container{
        width: 100%;
        float: none;
        min-width: inherit;
    }
    .navbar .nav > li > a.hb-nav-btn, .hb-nav-btn {
        margin-left: auto;
        margin-right: auto;
    }
    .hb-hero-img-container {
        background: none;
    }
    .hb-hero-img-container {
        min-height: 230px;
    }
    .hb-hero-container .hb-cover .hb-cover-col h1 {
        font-size: 3em;
    }

    .hb-nav-btn-border {
        display: none;
    }
    .navbar .collapse .nav li a.hb-nav-btn-try-now {
        display: inline-block;
    }
}

@media (max-width: 400px) {
    .hb-hero-img {
        width: 100%;
        height: auto;
    }
}

@media (max-height: 500px) {
    .hb-hero-container .hb-cover .hb-cover-col h1 {
        font-size: 2.5em;
        margin: 40px 0;
    }
}