
.promote-container {
    font-size: 1.5em;
    width: 60%;
    margin: 80px auto;
}

.form-row.inline {
  position: relative;
  bottom: -120px;
  /* left: -200px;*/
}

.job-title {
    display: block;
    margin: 20px 0;
    text-align: center;
    font-size: 2em;
    color: #002a80;
}

.social-network {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    min-width: 100px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    border-radius: 7px;
    border: 2px solid #E4E4E4;
}

/*for hiding link on social network images*/
.social-network a{
    overflow: hidden;
    text-decoration:none !important;
}

.social-network input{
    height: 48px;
    width: 48px;
    border-radius: 8px;
    border: 2px ;
    border-color: #2d6987;
    border-style: solid;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e3e3e3;
}

.social-network input:hover{
    height: 48px;
    width: 48px;
    border-radius: 8px;
    border: 2px ;
    border-color: #B3B3B3;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fcfcfc;
}

.social-network input:active{
    height: 48px;
    width: 48px;
    border-radius: 8px;
    border: 2px ;
    border-color: #f8f8f8;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fcfcfc;

}

.job-boards {
    display: block;
    padding: 10px;
    min-width: 100px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    border-radius: 7px;
    border: 2px solid #E4E4E4;
}

.job-boards label{
    display: inline-block;
}

.job-boards input[type=number]{
    height: 35px;
    width: 100px;
    margin: 0;
}

.job-boards input[type=checkbox]{
    height: 24px;
    width: 24px;
    border-radius: 8px;
    border: 2px;
    border-color: #2d6987;
    border-style: solid;
    margin-right: 60px;
    background-color: #e3e3e3;
}

.job-boards select {
    margin: 0;
    height: 30px;
}

.job-boards .colPreview input[type=button]{
    height: 28px;
    width: 28px;
    border-radius: 4px;
    border: solid 1px #C9C9C9;
    background-color: #D9D9D9;
    background-size: 32px 32px;
    box-sizing: content-box;
    background-repeat: no-repeat;
    padding: 2px;
}

.job-boards .colPreview  input[type=button]:hover{
}

.job-boards .colPreview  input[type=button]:active{
}

.job-boards #flyer-list {
    padding: 0;
}

#find-postal-code {
    position: relative;
    height: 35px;
    font-weight: 200;
    font-size: 0.5em;
    top: -7px;
    display: inline-block;
}

.job-boards #btn-promote-payment{
    width: auto;
    float: right;
    margin: 4px 0px;
}

.overall-cost {
    text-align: left;
}

.overall-cost span {
    display: inline-block;
    line-height: 36px;
    font-weight: 700;
    font-size: 1.5em;
    margin-right: 8px;
}

.modal-body {

}

.modal-body span{
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Roboto", cursive;
    color: #0000FF;
    /* display: inline-block;*/

}

.modal-body p{

    margin-top: 0px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Roboto", cursive;
    /* display: inline-block;*/
    /* margin-left: 20px;*/

}

.modal-body hr{

    margin-top: 10px;
    margin-bottom: 10px;

}

.modal-body img{
    border-radius: 8px;
}

