.bool-tool-items{
    margin: 0;
    padding: 0;
    list-style: none;

}
.bool-tool-items>li{
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
}
.toolbar{
    position: absolute;
    min-height: 60px;
    bottom: 100%;
    left: -14px;
    right: -14px;
    padding: 0 20px 0 10px;
    background: #333;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #f1f1f1;
    z-index: 1000;
    display: none;
}
.bool-no-toolbar>.toolbar{
    display: none;
}
.toolbar>div{
    background: inherit;
}
.bool-portlet-active .toolbar{
    display: inline-block;
}

.toolbar label{
    display: inline;
}
.toolbars{display: none;}


.toolbar-video{
    padding: 2px;
}
.toolbar-button{
    background: #ffff00;
    border: 1px solid red;
    float: left;
    margin: 2px;
    width: 45px;
    height: 45px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none !important;
    cursor: pointer;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
}
.toolbar-button-active{
    background: blue;
}
.toolbar-button:active{
    background: red !important ;
}
.toolbar-button:hover{
    background: greenyellow;
}
.toolbar-separator{
    border-left: 3px solid darkgray ;
    float: left;
    margin-left:2px ;
    height: 50px;
}
#toolbar-inputTextSeparator{
    font-family: "Roboto";
    font-size: 18px;
    color: #8D8D8D;
    margin-left: 10px;
    margin-right: 0px;
    margin-top:8px;
    margin-bottom:8px;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: baseline;

    border: 0;
    height: 44px;
}
#toolbar-labelSeparator{
    font-family: "Roboto";
    font-size: 18px;
    color: #8D8D8D;
    line-height: 60px;
    margin-left: 20px;
    padding: 0;

}
.toolbar-icon{
    background-image: url("/images/flyer-icons.png");
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 39px;
    height: 30px;
    overflow: hidden;
}
.toolbar-icon-remove{
    background-position: -30px -10px;
}
.toolbar-icon-add{
    background-position: -10px -10px;
}
.bool-btn-group{
    display: inline;
}
.bool-btn-group .bool-btn{
    float: left;
    margin: 0;
}
.bool-btn{
    width: 44px;
    height: 44px;
    display: inline-block;
    padding: 0;
    border: none;
    cursor:  pointer;
    position: relative;
    float: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.nav-pills>li>a.bool-btn{
    padding: 0;
    margin: 0;
}

.dropdown-menu{
    padding: 0;
    margin: 0;
    top:100%;
}
.bool-btn-drop{
    background: #B3B3B3;
}

.nav-pills li.dropdown+.bool-tab-btn.open,
.nav-pills li.dropdown.open+.bool-tab-btn{
    display: inline-block;
}
.bool-tab-btn.open{
    display: inline-block;
}
.nav-pills > li > a.bool-tab{
    padding: 0;
    border-radius: 0;
    border-top-right-radius: 6px;
    margin:8px 4px 0 0;
    /*display: none;*/
}

.bool-tab-text{
    display: inline-block;
    height: 44px;
    width: 100px;
    color: #666;
    font-size: 18px;
    line-height: 44px;
    position: absolute;
    left: 35px;
}
.open .bool-tab{
    display: inline-block;
}
.bool-btn:hover{
    background: #4C4C4C;
}
.bool-active{
    background: #1F1F1F;
}
.bool-active:hover{
    background: #262626;
}
.bool-btn>i
{
    background-image: url("/images/nflyer-icons@2x.png");
    background-size: 187px 600px;
    position: absolute;
    display: inline-block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.bool-icon{
    background-image: url("/images/nflyer-icons@2x.png");
    background-size: 187px 600px;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 10px;
}
.bool-separator{
    border: none;
    border-left: 1px solid #808080;
    display: inline-block;
    width: 0;
    height: 44px;
    /*float: left;*/
    margin: 0 ;
}
.bool-icon-align-left{background-position: -100px -52px;width: 18px;height: 13px;}
.bool-icon-align-center{background-position: -100px -66px;width: 18px;height: 13px;}
.bool-icon-align-right{background-position: -100px -80px;width: 18px;height: 13px;}
.bool-icon-bold{background-position: -100px -166px;width: 14px;height: 16px;}
.bool-icon-italic{background-position:-100px -149px;width: 11px;height: 16px;}
.bool-icon-underline{background-position: -100px -131px;width: 14px;height: 17px;}
.bool-icon-list-ul{background-position: -100px -113px;width: 25px;height: 17px;}
.bool-icon-list-ol{background-position: -100px -94px;width: 26px;height: 18px;}
.bool-icon-recent{background-position: -100px -29px;width: 22px;height: 22px;}
.bool-icon-email{background-position:-100px -355px;width: 27px;height: 18px;}
.bool-icon-website{background-position:-100px -401px;width: 27px;height: 27px;}
.bool-icon-tel{background-position:-100px -372px;width: 21px;height: 30px;}

.bool-icon-map-align-left{background-position: 0 -371px;height: 25px;width: 75px;}
:hover>.bool-icon-map-align-left{background-position: 0 -396px;height: 25px;width: 75px;}
.bool-icon-map-align-right{background-position: 0 -421px;height: 25px;width: 75px;}
:hover>.bool-icon-map-align-right{background-position: 0 -446px;height: 25px;width: 75px;}

.bool-icon-rotate-right{background-position: 0 -321px;width: 25px;height: 25px;}
.bool-icon-rotate-left{background-position: 0 -346px;width: 25px;height: 25px;}
.bool-icon-undo{background-position: 0 -262px;width: 25px;height: 17px;}
.bool-icon-redo{background-position: 0 -278px;width: 25px;height: 17px;}
.bool-icon-crop{background-position: 0 -295px;width: 26px;height: 26px;}

:hover>.bool-icon-bold{background-position: -115px -166px;width: 14px;height: 16px;}
:hover>.bool-icon-italic{background-position:-112px -149px;width: 11px;height: 16px;}
:hover>.bool-icon-underline{background-position: -115px -131px;width: 14px;height: 17px;}
:hover>.bool-icon-recent{background-position: -123px -29px;width: 22px;height: 22px;}
:hover>.bool-icon-email{background-position:-128px -355px;width: 27px;height: 18px;}
:hover>.bool-icon-website{background-position:-128px -401px;width: 27px;height: 27px;}
:hover>.bool-icon-tel{background-position:-122px -372px;width: 21px;height: 30px;}

:hover>.bool-icon-rotate-right{background-position: -26px -321px;width: 25px;height: 25px;}
:hover>.bool-icon-rotate-left{background-position: -26px -347px;width: 25px;height: 25px;}
:hover>.bool-icon-undo{background-position: -52px -262px;width: 25px;height: 17px;}
:hover>.bool-icon-redo{background-position: -52px -278px;width: 25px;height: 17px;}
:hover>.bool-icon-crop{background-position: -27px -295px;width: 26px;height: 26px;}

.bool-disable>.bool-icon-undo{background-position: -26px -262px;width: 25px;height: 17px;}
.bool-disable>.bool-icon-redo{background-position: -25px -278px;width: 25px;height: 17px;}

.bool-icon-size{
    background: url("/images/nflyer-icons.png");
    background-position: -100px 0;
    width: 20px;
    height: 17px;
    float: left;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.bool-icon-github{background-position:-100px -183px;width: 28px;height: 24px;}
.bool-icon-github-gray{background-position:-128px -183px;width: 28px;height: 24px;}
.bool-icon-github-white{background-position:-156px -183px;width: 28px;height: 24px;}

.bool-icon-stackoverflow{background-position:-100px -208px;width: 22px;height: 27px;}
.bool-icon-stackoverflow-gray{background-position:-122px -208px;width: 22px;height: 27px;}
.bool-icon-stackoverflow-white{background-position:-146px -208px;width: 22px;height: 27px;}

.bool-icon-twitter{background-position:-100px -236px;width: 26px;height: 20px;}
.bool-icon-twitter-gray{background-position:-126px -236px;width: 26px;height: 20px;}
.bool-icon-twitter-white{background-position:-154px -236px;width: 26px;height: 20px;}

.bool-icon-linkedin{background-position:-100px -257px;width: 24px;height: 24px;}
.bool-icon-linkedin-gray{background-position:-124px -257px;width: 24px;height: 24px;}
.bool-icon-linkedin-white{background-position:-150px -257px;width: 24px;height: 24px;}

.bool-icon-dribbble{background-position:-100px -282px;width: 24px;height: 24px;}
.bool-icon-dribbble-gray{background-position:-124px -282px;width: 24px;height: 24px;}
.bool-icon-dribbble-white{background-position:-150px -282px;width: 24px;height: 24px;}

.bool-icon-behance{background-position:-100px -307px;width: 28px;height: 17px;}
.bool-icon-behance-gray{background-position:-128px -307px;width: 28px;height: 17px;}
.bool-icon-behance-white{background-position:-158px -307px;width: 28px;height: 17px;}

.bool-color-dropdown{z-index: 2000;}
.bool-color-dropdown-gray{z-index: 2000;}
.bool-color-dropdown-white{z-index: 2000;}

.nav-pills .bool-color-dropdown{
    z-index: 21000  ;
}

.nav-pills .open>.bool-color-dropdown{
    background: #e6e6e6;
}
.nav-pills .open>.bool-btn{
    border-radius: 6px 0 0 6px;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.nav-pills>li.bool-btn:hover+li.open.bool-tab-btn:before>.bool-color-dropdown{
    border-radius: 0;
    border-top-left-radius: 6px;

}

.bool-combo{
    width: 185px;
    height: 44px;
    display: inline-block;
    padding: 0;
    border: none;
    cursor:  pointer;
    position: relative;
    float: left;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.bool-combo-btn{
    width: 141px;
    height: 44px;
    padding: 0;
    line-height: 44px;
    text-align: left;
    float: left;
    border:none;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #e6e6e6;

}
.bool-combo-btn:focus{
    outline: none;

}
.open .bool-combo-btn{
    border-bottom-right-radius: 0;
}
.bool-combo-icon{
    width: 44px;
    height: 44px;
    background: #B3B3B3;
    position: relative;
    display: inline-block;
    float: left;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.bool-combo-text{
    float: left;
    width: 120px;
    text-indent: 20px;
    font-size: 18px;
}
.bool-combo-list{
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #B3B3B3;
    border-top: none;
    background: #e6e6e6;
    width: 141px;
    left: 44px;
    min-width: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.bool-combo-list>li>a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    line-height: 44px;
}
.bool-combo-list>li{
    left: 44px;
    width: 140px;
    height: 44px;
    border-bottom: 1px solid #B3B3B3;
}
.bool-combo-list>li:last-child{
    border-bottom: none;
}

.bool-caret{
    vertical-align: text-top;
}

/****
Toolbar - WorkType Widget
****/
.toolbar-workTypeWidget {
}
.toolbar-workTypeWidget .toolbar-widgetLabel {
    margin: 9px 5px;
    font-size: 1.7em;
    border: 2px solid #505050;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    background-color: rgb(65, 65, 65);
}
.toolbar-workTypeWidget input[type=radio]:checked + .toolbar-widgetLabel {
    border: 2px solid #fff;
    background-color: rgb(65, 65, 65);
}


.toolbar-resumeWidget {}
.toolbar-resumeWidget button {
    margin: 15px 20px;
}

.toolbar-profileWidget label {
    font-size: 1.6em;
    padding-left: 0.3em;
    padding-right: 1em;
    vertical-align: top;
    line-height: 1.6em;
}

#toolbar-labelprofile{
    font-family: "Roboto";
    font-size: 18px;
    color: #8D8D8D;
    line-height: 60px;
    margin-left: 20px;
    padding: 0;
    margin-right: 6px;
    float: left;
}

.toolbar-anything {
    margin: 15px;
}
.toolbar-anything label {
    vertical-align: top;
    line-height: 2em;
}
.toolbar-anything input {
    width: 60px;
    height: 30px;
}

.toolbar-separatorWidget {
    /* margin: 12px 20px;*/
}
.bool-combo-list>li:last-child>a{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
    background: #B3B3B3;
}
.nav-pills a.top-left-round{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
}

.toolbar-badgeWidget .toolbar-badgeLabel {
    margin: 9px 5px;
    font-size: 1.7em;
    border: 2px solid #505050;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    background-color: rgb(65, 65, 65);
}
.toolbar-badgeWidget input[type=checkbox]:checked + .toolbar-badgeLabel {
    border: 2px solid #fff;
    background-color: rgb(65, 65, 65);
}

.toolbar-mapWidget .toolbar-mapLabel {
    margin: 9px 5px;
    font-size: 1.7em;
    border: 2px solid #505050;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    background-color: rgb(65, 65, 65);
    width: 100px;
}
.toolbar-mapWidget input[type=radio]:checked + .toolbar-mapLabel {
    border: 2px solid #fff;
    background-color: rgb(65, 65, 65);
}

.toolbar-profileWidget input:checked+label{
    background: #1F1F1F;
}
.bool-btn-done{
    color: #333;
    background: #595959;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    padding: 0 20px;
    width: auto;
    font-weight: bold;
    text-decoration: none;
}
.bool-btn-done:hover {
    background: #808080;
    text-decoration: none;
    color:#333;
}

.bool-clipper {
    position: absolute;
    left: 33%;
    top: 33%;
    width: 33%;
    height: 33%;
    box-sizing: content-box;
    cursor: move;
}
.ui-resizable-handle{

}

.ui-resizable-ne{right: -5px;top:-5px;cursor: ne-resize;background: #ffffff;width: 10px;height: 10px;}
.ui-resizable-sw{left: -5px;bottom:-5px;cursor:sw-resize;background: #ffffff;width: 10px;height: 10px;}
.ui-resizable-se{right: -5px;bottom:-5px;cursor: se-resize;background: #ffffff;width: 10px;height: 10px;}
.ui-resizable-nw{left: -5px;top:-5px;cursor: nw-resize;background: #ffffff;width: 10px;height: 10px;}
.ui-resizable-n{cursor: n-resize; border-bottom: 2px dashed #808080;}
.ui-resizable-s{cursor:s-resize; border-top: 2px dashed #808080;}
.ui-resizable-e{cursor: e-resize;border-left: 2px dashed #808080;}
.ui-resizable-w{cursor: w-resize;border-right: 2px dashed #808080;}

.bool-btn-crop{
    position: absolute;
    bottom:-31px;
    background: #333;
    z-index: 20;
    width: 30px;
    height: 30px;
    border-radius: 0;
}
.bool-crop-ok {right: 20px;background: #3ba345;}
.bool-crop-ok:hover {right: 20px;background: #62b56a;}
.bool-crop-ok>i{
    background-position:0 -472px;width: 19px;height: 14px;
}
.bool-crop-cancel {right: 51px;background: #a3303b;}
.bool-crop-cancel:hover {right: 51px;background: #b56462;}
.bool-crop-cancel>i{
    background-position:0 -487px;width: 16px;height: 17px;

}
.image-container {
    position: relative;
    display: inline-block;
}
.image-container>img {

}
.bool-clipper-mask{
    position: absolute;
    background: #000000;
    opacity: .5;
    z-index: 10;
}
.bool-clipper-mask-top {top:0;left:0;right:0;}
.bool-clipper-mask-bottom {bottom: 0;left:0;right:0;}
.bool-clipper-mask-left {left: 0;}
.bool-clipper-mask-right {right: 0;}
