.bool-image{
    background-image: url("/images/nflyer-icons.png");
    display: inline-block;
}
.bool-label{
    display: inline-block;
    font-size: 18px;
    vertical-align: baseline;
}
.bool-input-group{
    /*position: relative;*/
    display: inline-block;
    vertical-align: middle;
}
.bool-input-group *{
    float: left;
}
.bool-input-group>input{
    width: 320px;
    height: 44px;
    line-height: 44px;
    border: 2px solid #B3B3B3;
    padding-left: 12px;
    margin: 0;
    font-size: 18px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.bool-glass{
    width: 30px;
    height: 40px;
    top:2px;
    right: 68px;
    position: relative;
    background-position: -100px -528px ;
}
.bool-clear-container{
    height: 40px;
    width: 36px;
    position: relative;
    background: #fff;
    right:68px ;
    top:2px;
}
.bool-clear-btn{
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    border-radius: 16px;
    text-align: center;
    background-position: -100px -512px;
}
.bool-field{

}

/*.bool-iconic-input-container {*/
    /*width: 435px;*/
/*}*/
/*.bool-iconic-input{*/
    /*width: 100%;*/
    /*height: 44px;*/
    /*margin: 0;*/
    /*font-size: 18px;*/
    /*box-sizing: border-box;*/
    /*display: table;*/
/*}*/
/*.bool-iconic-input>div>* {*/
    /*float: left;*/
/*}*/

/*.bool-input-label{*/
    /*color: #000000;*/
    /*background: #e6e6e6;*/
    /*border: 2px solid #B3B3B3;*/
    /*border-width: 2px 0 ;*/
    /*height: 44px;*/
    /*line-height: 44px;*/
    /*padding: 0 10px 0 10px;*/
    /*display: table-cell;*/
    /*width: auto;*/
/*}*/

/*.bool-icon-container{*/
    /*width: 44px;*/
    /*background-image: url("/images/nflyer-icons.png");*/

    /*display: table-cell;*/



    /*border-radius: 4px;*/
    /*border-bottom-left-radius: 0px;*/
    /*border-top-right-radius: 0px;*/

    /*-moz-border-radius: 4px;*/
    /*-moz-border-bottom-right-image: 0;*/
    /*-moz-border-top-right-image: 0;*/


    /*-webkit-border-radius: 4px;*/
    /*-webkit-border-bottom-right-radius: 0px;*/
    /*-webkit-border-top-right-radius: 0px;*/

/*}*/
/*.bool-github-back{background: #1d75bb;}*/
/*.bool-iconic-input input{*/
    /*height: 44px;*/
    /*line-height: 44px;*/
    /*border: 2px solid #B3B3B3;*/
    /*display: inline-block;*/
    /*padding-left: 12px;*/
    /*margin: 0;*/
    /*font-size: 18px;*/

    /*border-radius: 4px;*/
    /*border-bottom-left-radius: 0px;*/
    /*border-top-left-radius: 0px;*/

    /*-moz-border-radius: 4px;*/
    /*-moz-border-bottom-left-image: 0;*/
    /*-moz-border-top-left-image: 0;*/


    /*-webkit-border-radius: 4px;*/
    /*-webkit-border-bottom-left-radius: 0px;*/
    /*-webkit-border-top-left-radius: 0px;*/

    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/

/*}*/
/*.bool-iconic-container{*/
    /*display: table;*/
    /*width: 100%;*/
/*}*/
/*.bool-iconic-input-left{*/
    /*background: green;*/
    /*display: table-cell;*/
    /*width: auto;*/
/*}*/
/*.bool-iconic-input-right{*/
    /*background: blue;*/
    /*display: table-cell;*/
    /*width: 100%;*/
/*}*/
.bool-iconic-input-container{
    width: 435px;

}
.bool-iconic-input{
    display: table;
    background: red;
}
.bool-iconic-col-icon{
    display: table-cell;
    background: #1d75bb;
    width: 44px;
    height: 44px;
    border-radius: 4px 0 0 4px;
}
.bool-iconic-cell-icon {
    position: relative;
    width: 44px;
    height: 44px;
}
.bool-iconic-col-label{
    display: table-cell;
    background: blue;
    color: #000000;
    background: #e6e6e6;
    border: 2px solid #B3B3B3;
    border-width: 2px 0 ;
    height: 44px;
    line-height: 44px;
    padding: 0 10px 0 10px;
    vertical-align: middle;
}
.bool-iconic-col-input{
    display: table-cell;
    background: green;
    vertical-align: middle;
}
.bool-iconic-icon{
    display: inline-block;
    background: url("/images/nflyer-icons.png");
    background-position:-156px -183px;
    width: 28px;
    height: 24px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bool-input-label{
    display: table-cell;
    width: auto;
}
