

/****
Flat Section
****/
/*Todo : ask mohammad about sizes*/

.flatSection{
    margin: 30px 10px;
    position: relative;

}
.bool-editbox{
    position: relative;
    display: inline-block;
}
.bool-editable{
    white-space: nowrap;
    min-width: 100px;
    margin: 10px;
    outline: none;
    border: 1px dashed #1F1F1F;
    background: #f1f1f1;
    position: relative;
    z-index: 2;
    padding: 20px;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    color: #9c9c9c;
}
.bool-editbox-close{
    background-image: url("/images/nflyer-icons.png");
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
    margin: 0;
    padding: 0;
    background-position:-100px -570px;
    width: 30px;
    height: 30px;
    z-index: 5;
}
.bool-editable br{
    display: none;
}
.bool-editable *{
    display: inline;
}
.bool-divider{
    background-color: #9c9c9c;
    display: inline-block;
    width: 100%;
    height: 4px;
    margin: auto;
    padding: 0;
    position: relative;
    bottom:60px;
}
/*.flatSection {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*width: 100%;*/
    /*height: 14em;*/
/*}*/

/*.flatSection span {*/
    /*position: relative;*/
    /* left: 0; */
    /* right: 0; */
    /* min-width: 100px; */
    /* max-width: 1000px; */
    /*margin: auto;*/
    /*bottom: 0;*/
    /*top: 2em;*/
    /*font-size: 3em;*/
    /*background-color: #f1f1f1;*/
    /*text-align: center;*/
    /*color: #9c9c9c;*/
    /*white-space: nowrap;*/
    /*outline: none;*/
    /*z-index: 10;*/
    /*height: 20px;*/
/*}*/
/*.flatSection span *{*/
    /*white-space: nowrap;*/
    /*display: inline;*/
/*}*/
/*.flatSection>.bool-divider {*/
    /*border: none;*/
    /*background: #9c9c9c;*/
    /*margin: auto;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*display: inline-block;*/
    /*width: 100%;*/
    /*height: 4px;*/
    /*position: absolute;*/
/*}*/
