.bool-image{
    background-image: url("/images/nflyer-icons.png");
    display: inline-block;
}
.bool-label{
    display: table;
    font-size: 18px;
    line-height: 40px;
    margin: 10px 0;
    width: 100%;
}
.bool-input-group{
    /*position: relative;*/
    display: table-cell;
    vertical-align: middle;
    position: relative;

}
.bool-input-group *{
    float: left;
}
.bool-input-group>input{
    width: 100%;
    height: 44px;
    line-height: 44px;
    border: 2px solid #B3B3B3;
    padding-left: 12px;
    margin: 0;
    font-size: 18px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.bool-glass{
    width: 30px;
    height: 40px;
    top:2px;
    right: 38px;
    position: absolute;
    background-position: -100px -528px ;
    cursor: default;
}

.bool-clear-container{
    height: 40px;
    width: 36px;
    position: absolute;
    background: #fff;
    right:2px ;
    top:2px;
    border-radius: 4px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    cursor: default;
}

.bool-clear-btn{
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    border-radius: 16px;
    text-align: center;
    background-position: -100px -512px;
}
.bool-field{
    /*float: left;*/
    margin: 0 10px;
    /*text-align: right;*/
    width: 435px;
    display: inline-block;
}

.bool-iconic-input-container{
    width: 435px;
    float: left;
    margin: 10px;
}
.bool-iconic-input{
    display: table;
    width: 100%;
}
.bool-iconic-col-icon{
    display: table-cell;
    width: 44px;
    height: 44px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}
.bool-icon-back-github{background: #1d75bb;}
.bool-icon-back-stackoverflow{background: #fe7a15;}
.bool-icon-back-twitter{background: #55acee;}
.bool-icon-back-linkedin{background: #0976b4;}
.bool-icon-back-dribbble{background: #ee7cd2;}
.bool-icon-back-behance{background: #1769ff;}

.bool-iconic-cell-icon {
    position: relative;
    width: 44px;
    height: 40px;
}
.bool-iconic-col-label{
    display: table-cell;
    color: #000000;
    background: #e6e6e6;
    border: 2px solid #B3B3B3;
    border-width: 2px 0 ;
    box-sizing: border-box;
    height: 44px;
    font-size: 18px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    vertical-align: middle;
}
.bool-iconic-col-input{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
}
.bool-iconic-col-input *{
    float: left;
}
.bool-iconic-col-input>input {
    width:100%;
    height: 44px;
    line-height: 44px;
    border: 2px solid #B3B3B3;
    display: inline-block;
    padding-left: 12px;
    margin: 0;
    font-size: 18px;

    border-radius: 4px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.bool-iconic-icon{
    display: inline-block;
    background-image: url("/images/nflyer-icons.png");
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.bool-input-label{
    display: table-cell;
    width: auto;
}
.bool-avatar{
    position: relative;
    display: inline-block;
}
.bool-avatar-image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 8px;
    display: none;
}
.bool-avatar-no-container {
    background: #e6e6e6;
    background: #B3B3B3;
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50px;

}
.bool-avatar-no{
    position: absolute;
    width: 64px;
    height: 84px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: -100px -1028px;

}
.bool-avatar-container{
    display: inline-block;
    width: 122px;
    height: 122px;
    border: 4px solid #B3B3B3;
    border-radius: 66px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.bool-avatar-menu{
    list-style: none;
    text-align: center;
    background: #B3B3B3;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
    margin-left: -15px;
    box-shadow: none;
}
.bool-avatar-menu:after{
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.bool-avatar-menu>li {
    width: 100%;
    padding: 0;
    margin: 0;
}
.bool-avatar-menu>li>a{
    text-decoration: none;
    cursor: pointer;
    color: #666;
    height: 44px;
    padding: 10px;
    margin:0;
    font-size: 14px;
}
.bool-avatar-menu>li>a:hover {
    background: #808080;
    color: #e6e6e6;
}
.profilesWidget {
    padding: 2em 20px;
    font-size: 18px ;
    /*background: white;*/
}
